@use "@angular/material" as mat;

@mixin app-dense-list-color($color) {

  $primary: map-get($color, primary);

  mat-list-item[appDenseList]:hover {

    background-color: mat.m2-get-color-from-palette($primary, "lighter");

  }
}

@mixin app-dense-list() {

  mat-list-item[appdenselist] {

    --mdc-list-list-item-label-text-size: 14px;
    --mdc-list-list-item-label-text-line-height: 16px;

    &.mdc-list-item.mdc-list-item--with-one-line {
      cursor: default;
    }


    .mat-mdc-list-item-unscoped-content>span {

      display: flex;

      >:first-child {
        padding-right: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      >:last-child {
        margin-left: auto;
      }
    }

    [appDenseListTotal] {
      color: var(--primary-color);
      font-weight: 700;
    }

  }

}

@mixin theme($theme) {

  $color: mat.m2-get-color-config($theme);

  @if $color !=null {
    @include app-dense-list-color($color);
  }

  @include app-dense-list();
}
