<h1 mat-dialog-title>
    {{ form.value.jobId }} // {{form.value.name}}
</h1>

<mat-dialog-content>
    <app-repro-job-form [jobForm]="form"></app-repro-job-form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [disabled]="form.pristine || form.valid === false" (click)="onSave()"
        appKeyPress="ctrlEnter">
        SAGLABĀT
    </button>
    <button mat-raised-button mat-dialog-close>
        ATCELT
    </button>

</mat-dialog-actions>