:host {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.mat-toolbar {
    & .spacer {
        flex: 1;
    }
    & > span {
        margin-left: 16px;
    }
    & > button:not(:last-of-type) {
        margin-right: 16px;
    }
}
