<app-simple-form-container [formSource]="formSource" (dataChange)="onDataChange($event)">

    <div class="wrapper" [class.large]="large$ | async" [formGroup]="form">
        <!-- Klients -->
        <app-customer-input class="left-column" formControlName="customer" [customers]="customers$ | async" required>
            Klients
        </app-customer-input>
        <!-- Darba nosaukums -->
        <mat-form-field class="width-span">
            <mat-label>Darba nosaukums</mat-label>
            <input type="text" matInput formControlName="name" required>
            <mat-error *ngIf="nameControl.hasError('required')">
                Jānorāda obligāti
            </mat-error>
            <button mat-icon-button (click)="copyJobIdAndName()" matSuffix tabindex="-1">
                <mat-icon>filter_none</mat-icon>
            </button>
        </mat-form-field>
        <!-- Nodošanas termiņš -->
        <mat-form-field class="left-column">
            <mat-label>Nodošanas datums</mat-label>
            <input matInput required [matDatepicker]="dueDatePicker" formControlName="dueDate">
            <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker></mat-datepicker>
        </mat-form-field>
        <!-- Darba kategorija -->
        <mat-form-field>
            <mat-label>Kategorija</mat-label>
            <mat-select formControlName="category" required>
                <mat-option *ngFor="let cat of categories$ | async" [value]="cat.category">
                    {{cat.description}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Statuss -->
        <mat-form-field formGroupName="jobStatus">
            <mat-label>Stadija</mat-label>
            <mat-select formControlName="generalStatus">
                <mat-option *ngFor="let state of jobStates$ | async" [value]="state.state">
                    {{state.description}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Datums -->
        <mat-form-field class="left-column">
            <mat-label>Izveidošanas datums</mat-label>
            <input matInput formControlName="receivedDate" [matDatepicker]="datePicker" required
                [min]="receivedDate.min" [max]="receivedDate.max">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
        <!-- Klienta darba numurs -->
        <mat-form-field>
            <mat-label>Klienta darba numurs</mat-label>
            <input matInput formControlName="customerJobId">
        </mat-form-field>

        <!-- Preces apakšforma -->
        <div *ngIf="isProductsSet()" class="width-span">
            <app-products-editor formControlName="products" [customerProducts]="customerProducts$ | async">
            </app-products-editor>
        </div>

        <!-- Folderis -->
        <app-folder-path *ngIf="isNew === false" class="width-span" [path]="formSource.folderPath$ | async"
            (createFolder)="onCreateFolder()">

        </app-folder-path>

        <!-- Papildus apraksts -->
        <mat-form-field class="width-span">
            <mat-label>Papildus apraksts</mat-label>
            <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
    </div>

    <ng-template appSimpleFormLabel>
        {{ form.value.jobId }}
    </ng-template>

</app-simple-form-container>