.container {
    height: 100%;
    overflow: auto;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}

tr {
    height: 32px;
}

tr:hover {
    background-color: rgba(0, 0, 0, .08);
}

td, th {
    display: table-cell;
    padding: 0 4px;
    font-size: 14px;
    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    cursor: pointer;
    text-align: left;
}

.job-completed td {
    color: rgba(0, 0, 0, .50);
}

.column-1 {
    padding-left: 16px;
}

.cdk-column-jobId {
    width: 80px;
}

td.cdk-column-jobId {
    font-weight: bold;
    color: rgba(0, 0, 0, .6);
}

td.cdk-column-jobId:hover {
    cursor: copy;
}

td.cdk-column-name:hover {
    cursor: copy;
}

.cdk-column-receivedDate {
    width: 90px;
}

.cdk-column-customer {
    width: 130px;
}