<table class="full-width">
    <tr>
        <th class=" column-1">ID</th>
        <th>Klients</th>
        <th>Datums</th>
        <th>Nosaukums</th>
        <th>Izstrādājums</th>
        <th>Skaits</th>
    </tr>

    <tr *ngFor="let job of dataSource$ | async;" [routerLink]="['plate-job', {jobId: job.jobId}]"
        [class.job-completed]="job.invoiceId">
        <!-- jobId -->
        <td class="column-1">
            {{job.jobId}}
        </td>

        <!-- customer -->
        <td>{{job.customer}}</td>

        <!-- 'receivedDate' -->
        <td>{{job.receivedDate | date:'dd.MM.yyyy'}}</td>

        <!-- 'name' -->
        <td [matTooltip]="job.name" [matTooltipShowDelay]="500"
            [matTooltipDisabled]="job.name.length < 50">
            {{job.name | shortenText:50}}

        </td>

        <!-- Izstrādājums -->
        <td>
            {{job.productsObj.name}}
        </td>
        <!-- Skaits -->
        <td>
            {{job.productsObj.count}}
        </td>

    </tr>

</table>