<cdk-virtual-scroll-viewport itemSize="32" class="container" #scrollable>

    <table>
        <!-- <thead>
            <tr>
                <th class="column-jobId">ID</th>
                <th class="column-customer">Klients</th>
                <th class="column-receivedDate">Datums</th>
                <th class="column-name">Nosaukums</th>
                <th class="column-productsObj-name">Izstrādājums</th>
                <th class="column-productsObj-count">Skaits</th>
            </tr>
        </thead> -->
        <tbody>
            <tr *cdkVirtualFor="let job of dataSource$;" [class.job-completed]="job.invoiceId">
                <!-- jobId -->
                <td class="column-jobId" (click)="onJobEdit(job.jobId)">
                        {{job.jobId}}
                </td>

                <!-- customer -->
                <td class="column-customer">{{job.custCode}}</td>

                <!-- 'receivedDate' -->
                <td class="column-receivedDate">{{job.receivedDate | date:'dd.MM.yyyy'}}</td>

                <!-- 'name' -->
                <td class="column-name" [matTooltip]="job.name" [matTooltipShowDelay]="500"
                    [matTooltipDisabled]="job.name.length < 50">
                    <span>
                        {{job.name}}
                    </span>
                    <span class="job-buttons">
                        <button mat-icon-button>
                            <mat-icon>done</mat-icon>
                        </button>
                    </span>
                </td>

                <!-- Izstrādājums -->
                <td class="column-productsObj-name">
                    {{job.productsObj?.name}}
                </td>
                <!-- Skaits -->
                <td class="column-productsObj-count">
                    {{job.productsObj?.count}}
                </td>

            </tr>
        </tbody>

    </table>
</cdk-virtual-scroll-viewport>
<app-scroll-to-top position="absolute" [scrollable]="scrollable"></app-scroll-to-top>