<ul>
  @for (progr of progress(); track progr.id) {
    @let progress = progressPercent(progr);

    <li @collapseAnimation>
      <div class="filename">
        {{ progr.name }}
      </div>

      <mat-progress-bar mode="determinate" [value]="progress" [class.error]="progr.type === types.UploadAbort" />

      <div>
        @switch (progr.type) {
          @case (types.UploadWaiting) {
            Gaida augšupielādi...
          }

          @case (types.UploadProgress) {
            {{ progress }}%
          }

          @case (types.UploadFinish) {
            100% Augšupielāde pabeigta!
          }

          @case (types.UploadAbort) {
            Augšupielāde atcelta!
          }
        }
      </div>

      @if (!$last) {
        <mat-divider />
      }
    </li>
  }
</ul>
