<ul>
    <li *ngFor="let progr of progress; trackBy: trackByFn;" @collapseAnimation>

        <div class="filename">
            {{progr.name}}
        </div>

        <mat-progress-bar mode="determinate" [value]="progressPercent(progr)"
            [color]="progr.type === types.UploadAbort ? 'warn' : 'primary'">
        </mat-progress-bar>

        <div [ngSwitch]="progr.type">

            <ng-container *ngSwitchCase="types.UploadWaiting">
                Gaida augšupielādi...
            </ng-container>

            <ng-container *ngSwitchCase="types.UploadProgress">
                {{progressPercent(progr)}}%
            </ng-container>

            <ng-container *ngSwitchCase="types.UploadFinish">
                100% Augšupielāde pabeigta!
            </ng-container>

            <ng-container *ngSwitchCase="types.UploadAbort">
                Augšupielāde atcelta!
            </ng-container>

        </div>

        <mat-divider></mat-divider>

    </li>
</ul>