ul {
    padding: 0;
    list-style-type: none;
    font-size: 12px;
}

li {
    height: 44px;
    margin: 0;
    overflow: hidden;
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);

    @starting-style {
        height: 0;
    }

    &.item-collapse {
        height: 0;
    }

    .filename {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.mat-progress-bar {
    height: 8px;
}

.mat-divider {
    margin: 8px 0;
}