<h2>Darbu uzskaites iestatījumi</h2>
<div [formGroup]="controls">
    <h4>Kategorijas</h4>
    <mat-list formGroupName="productCategories">
        <mat-list-item *ngFor="let control of productCategories.controls; index as idx">
            <button mat-icon-button (click)="onRemoveCategory(idx)">
                <mat-icon>clear</mat-icon>
            </button>
          {{control.value.category}} ({{control.value.description}})
        </mat-list-item>
    </mat-list>
    <button mat-icon-button (click)="onNewCategory()">
        <mat-icon>add</mat-icon>
    </button>
</div>