:host {
  display: block;
  padding-block: 16px;
  padding-inline: 8px;
}

mat-card {
  margin-top: 16px;
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-block-start: 16px;
}

app-single-trip {
  margin-block-start: 16px;
}
