:host {
  display: block;
  padding-block: 16px;
  padding-inline: 8px;
}

mat-expansion-panel-header.invalid mat-panel-title {
  color: var(--sys-error);
}

app-trips-total {
  display: block;
}

.actions,
app-trips-total {
  margin-block-start: 16px;
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 16px;

  :last-child {
    margin-left: auto;
  }
}

app-single-trip {
  margin-block-start: 16px;
}

mat-panel-description {
  overflow: hidden;

  .route-description {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
}
