@let vehicle = routeSheet().vehicle;
<mat-card>
  <mat-card-header>
    <mat-card-title> Ceļazīmes </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      @for (trip of trips(); track $index) {
        <mat-list-item>
          <div matListItemMeta>
            <button matIconButton [disabled]="busy() || disabled()" (click)="editTrip($index)">
              <mat-icon> edit </mat-icon>
            </button>
            <button
              matIconButton
              [disabled]="busy() || disabled()"
              class="tertiary"
              appConfirmation="delete"
              (appConfirmedClick)="deleteTrip($index)"
            >
              <mat-icon> delete </mat-icon>
            </button>
          </div>
          <span matListItemTitle>
            {{ trip.date | date: 'd. MMMM' }}, {{ trip.tripLengthKm | number: '1.0-1' }}&nbsp;km,
            {{ trip.fuelConsumed | number: '1.1-1' }}&nbsp;{{ vehicle.fuelType.units }}
          </span>
          <span matListItemLine class="route-description">
            {{ getDescription(trip.stops) }}
          </span>
        </mat-list-item>
        <mat-divider />
      }
    </mat-list>
  </mat-card-content>

  <mat-card-actions class="actions">
    <button matButton (click)="appendTrip()" [disabled]="busy() || disabled()">Pievienot braucienu</button>
    <app-trips-total [routeTrips]="trips()" [fuelUnits]="vehicle.fuelType.units" />
    <button matIconButton [matMenuTriggerFor]="extraActions" [disabled]="busy() || disabled()">
      <mat-icon> more_vert </mat-icon>
    </button>
  </mat-card-actions>
  <mat-menu #extraActions>
    <button mat-menu-item (click)="sortByDate()" [disabled]="trips().length < 2 || busy()">Kārtot pēc datuma</button>
  </mat-menu>
</mat-card>
