<ng-container [formGroup]="controls">

    <mat-form-field>
        <mat-label>
            PayTraq Connect Url
        </mat-label>
        <input matInput formControlName="connectUrl">
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            PayTraq Connect Key
        </mat-label>
        <input matInput formControlName="connectKey">
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            PayTraq API Url
        </mat-label>
        <input matInput formControlName="apiUrl">
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            PayTraq API Key
        </mat-label>
        <input matInput formControlName="apiKey">
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            PayTraq API Token
        </mat-label>
        <input matInput formControlName="apiToken">
    </mat-form-field>

</ng-container>