<div>
    <mat-form-field>
        <mat-label>
            Meklēt paytraq
        </mat-label>
        <input matInput [formControl]="clientSearch">
        <button matSuffix mat-icon-button (click)="clientSearch.reset()">
            <mat-icon>
                clear
            </mat-icon>
        </button>
    </mat-form-field>

    <button mat-icon-button [disabled]="!clientSearch.value" #searchButton
        (click)="onSearchClient(clientSearch.value, searchButton)">
        <mat-icon>
            person_search
        </mat-icon>
    </button>
</div>

<div>
    <app-paytraq-customer-table [clients]="clients$ | async" (clientSelected)="onClientSelected($event)">

    </app-paytraq-customer-table>
</div>