<mat-list>
  @for (contact of contactsArray.controls; track $index) {
    <mat-list-item [class.invalid]="contact.invalid">
      <div class="email-row">
        <button mat-icon-button (click)="contactsArray.removeAt($index)">
          <mat-icon> delete </mat-icon>
        </button>

        @if (active === contact) {
          <app-customer-contact-editor [formControl]="contact" (complete)="onFinishEditing($index)" />
        } @else {
          <span (click)="active = contact" class="email">
            {{ contact.value.email }}
          </span>
        }
      </div>
    </mat-list-item>
  }

  <mat-list-item>
    <button mat-icon-button [disabled]="contactsArray.valid === false" (click)="addContact()">
      <mat-icon> add </mat-icon>
    </button>
  </mat-list-item>
</mat-list>
