<ng-container [formGroup]="form">
  <div class="flex-inputs" appViewSize>
    <mat-form-field>
      <mat-label> Uzpildes datums </mat-label>
      <input matInput [matDatepicker]="datePicker" formControlName="date" />
      <mat-datepicker-toggle matIconSuffix [for]="datePicker" />
      <mat-datepicker #datePicker />
    </mat-form-field>

    <mat-form-field>
      <mat-label> Skaitītājs sākumā </mat-label>
      <input matInput type="number" formControlName="odoStartKm" />
      <span matTextSuffix> km </span>
    </mat-form-field>

    <mat-form-field>
      <mat-label> Skaitītājs beigās </mat-label>
      <input matInput type="number" formControlName="odoStopKm" />
      @if (form.hasError('odoStopKm')) {
        <mat-error> Jābūt lielākam par {{ form.getError('odoStopKm') }} </mat-error>
      }
    </mat-form-field>
  </div>

  <div class="flex-inputs" appViewSize>
    <mat-form-field>
      <mat-label> Pavisam nobraukti</mat-label>
      <input matInput type="number" formControlName="tripLengthKm" />
      <span matTextSuffix> km </span>
    </mat-form-field>

    <mat-form-field>
      <mat-label> Pavisam izlietota degviela </mat-label>
      <input matInput type="number" formControlName="fuelConsumed" />
      <span matTextSuffix>
        @if (fuelUnits(); as units) {
          ({{ units }})
        }
      </span>
      <mat-hint align="start">
        {{ (form.value.fuelConsumed / form.value.tripLengthKm) * 100 | number: '1.2-2' }}
        @if (fuelUnits(); as units) {
          {{ units }}/100&nbsp;km
        }
      </mat-hint>
    </mat-form-field>
  </div>

  <h4>Maršruts:</h4>
  <app-trip-stops formControlName="stops" [customers]="customers()" (calculateRoute)="onCalculateRoute()" />
</ng-container>
