:host {
    overflow: auto;
    height: 100%;
    display: block;
}

.filter-box {
    position: absolute;
    left: 0;
    right: 0;
    padding: 16px 16px 0;
    height: 90px;
    z-index: 2;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: baseline;
    gap: 16px;
}

.table-container {
    padding-top: 90px;
}