@if (query(); as query) {
  <app-products-filter [filter]="query" (filterChange)="onFilter($event)" [customers]="customers | async" />

  @if (data.hasValue() && data.value(); as value) {
    <div>
      <button matButton (click)="openPrintReport()">Izdrukāt</button>
    </div>
    <app-products-table
      [data]="value"
      [sortString]="query.sort"
      (sortStringChange)="onSort($event)"
      [totals]="totals()"
      [(selection)]="selection"
      scroll-to-top
      [isAdmin]="isAdmin()"
    />
  }
}
