<app-simple-list-container plusButton>
  <mat-table [dataSource]="stages.value()" [trackBy]="trackByFn">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Nosaukums</mat-header-cell>
      <mat-cell *matCellDef="let stage">
        {{ stage.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="equipment">
      <mat-header-cell *matHeaderCellDef>Saistītās iekārtas</mat-header-cell>
      <mat-cell *matCellDef="let stage">
        @if (stage.equipmentIds && equipments.hasValue()) {
          {{ mapStage(stage.equipmentIds, equipments.value()) }}
        }
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" />
    <mat-row *matRowDef="let stage; columns: displayedColumns" [routerLink]="stage._id" routerLinkActive="selected" />
  </mat-table>
</app-simple-list-container>
