@for (record of odometerReadings(); track $index) {
  <div class="record">
    <span class="value"> {{ record.value }} </span>
    <span class="date"> {{ record.date | date: 'mediumDate' }} </span>
    <span class="actions">
      <button matIconButton (click)="onEdit($index)" [disabled]="disabled()">
        <mat-icon>edit</mat-icon>
      </button>
      <button matIconButton class="warn" (click)="onRemove($index)" [disabled]="disabled()">
        <mat-icon>delete</mat-icon>
      </button>
    </span>
  </div>
} @empty {
  <div class="empty">
    <span> Nav rādījumu </span>
  </div>
}
