<div [formGroup]="form" class="container" [class.large]="large$ | async">

    <!-- Klients -->
    <app-customer-input [control]="customerControl" [customers]="customers$ | async" required>
        Klients
    </app-customer-input>

    <!-- Izveidošanas Datums -->
    <mat-form-field>
        <mat-label>Izveidošanas datums</mat-label>
        <input matInput formControlName="receivedDate" [matDatepicker]="datePicker" required [min]="receivedDate.min"
            [max]="receivedDate.max">
        <mat-datepicker-toggle matSuffix [for]="datePicker" tabindex="-1"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>

    <!-- Nodošanas termiņš -->
    <mat-form-field>
        <mat-label>Nodošanas datums</mat-label>
        <input matInput required [matDatepicker]="dueDatePicker" formControlName="dueDate">
        <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dueDatePicker></mat-datepicker>
    </mat-form-field>


    <!-- Darba nosaukums -->
    <mat-form-field class="width-span">
        <mat-label>Darba nosaukums</mat-label>
        <input type="text" matInput formControlName="name" required>
        <mat-error *ngIf="nameControl.hasError('required')">
            Jānorāda obligāti
        </mat-error>
        <button mat-icon-button (click)="copyJobIdAndName()" matSuffix tabindex="-1">
            <mat-icon>filter_none</mat-icon>
        </button>
    </mat-form-field>
    <!-- Darba kategorija -->
    <ng-container formGroupName="production">
        <mat-form-field>
            <mat-label>Kategorija</mat-label>
            <mat-select formControlName="category" required>
                <mat-option *ngFor="let cat of categories$ | async" [value]="cat.category">
                    {{cat.description}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
    <!-- Statuss -->
    <mat-form-field formGroupName="jobStatus">
        <mat-label>Stadija</mat-label>
        <mat-select formControlName="generalStatus">
            <mat-option *ngFor="let state of jobStates$ | async" [value]="state.state">
                {{state.description}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Klienta darba numurs -->
    <mat-form-field>
        <mat-label>Klienta darba numurs</mat-label>
        <input matInput formControlName="customerJobId">
    </mat-form-field>

    <!-- Preces apakšforma -->
    <mat-card *ngIf="isProductsSet()" class="width-span">
        <mat-card-subtitle>
            Preces
        </mat-card-subtitle>
        <mat-card-content>
            <app-repro-products-editor #productsEditor formGroupName="products"
                [customerProducts]="customerProducts$ | async" (removeProduct)="onRemoveProduct($event)">
            </app-repro-products-editor>
        </mat-card-content>
        <mat-card-actions>
            <button mat-mini-fab (click)="onAddProduct()" [disabled]="!form.valid" matTooltip="Ctrl +" color="primary"
                appKeyPress="ctrlPlus">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

    <!-- Papildus apraksts -->
    <mat-card class="left-column">
        <mat-form-field class="full-width">
            <mat-label>Piezīmes</mat-label>
            <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
    </mat-card>

    <!-- Folderis -->
    <mat-card *ngIf="form.isNew === false" class="right-column">
        <mat-card-content>
            <app-folder-path [path]="folderPath$ | async" (createFolder)="onCreateFolder()">
            </app-folder-path>
        </mat-card-content>
    </mat-card>

    <app-upload-progress class="right-column"></app-upload-progress>


</div>