.container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 8px;
}

.container.large {
    grid-template-columns: repeat(3, 1fr);
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.large .left-column {
    grid-column: 1/3;
}

.large .right-column {
    grid-column: -2 / -1;
}

.large .width-span {
    grid-column-start: 1;
    grid-column-end: -1;
}

.mat-card {
    margin-top: 8px;
}

.full-width {
    width: 100%;
}
