<div [class.hidden]="form.disabled" [formGroup]="form">
    <mat-form-field>
        <mat-label> Lietotāja folderis </mat-label>
        <mat-select formControlName="folder" required>
            <mat-option *ngFor="let folder of ftpFolders$ | async" [value]="folder">
                {{ folder }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="folderControl.hasError('required')">
            Jānorāda obligāti
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="username">
        <mat-label>
            Lietotājvārds
        </mat-label>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="password">
        <mat-label>
            FTP lietotāja parole
        </mat-label>
    </mat-form-field>
</div>