<div [class.hidden]="form.disabled" [formGroup]="form">
    <mat-form-field>
        <mat-label> Lietotāja folderis </mat-label>
        <mat-select formControlName="folder" required>
            @for (folder of ftpFolders$ | async; track $index) {
            <mat-option [value]="folder">
                {{ folder }}
            </mat-option>
            }
        </mat-select>
        @if (folderControl.hasError('required')) {
        <mat-error>
            Jānorāda obligāti
        </mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="username">
        <mat-label>
            Lietotājvārds
        </mat-label>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="password">
        <mat-label>
            FTP lietotāja parole
        </mat-label>
    </mat-form-field>
</div>