<app-simple-list-container [filterInput]="filterTemplate" plusButton editorWidth="60%">
  @if (customers.hasValue()) {
    <mat-table [dataSource]="customers.value()" class="app-table">
      <mat-header-row *matHeaderRowDef="displayedColumns" />
      <mat-row
        *matRowDef="let customer; columns: displayedColumns"
        [routerLink]="customer._id"
        routerLinkActive="selected"
        [class.disabled]="customer.disabled"
      />

      <ng-container matColumnDef="customerName">
        <mat-header-cell *matHeaderCellDef>Klients</mat-header-cell>
        <mat-cell *matCellDef="let customer">
          {{ customer.customerName }}
        </mat-cell>
      </ng-container>
    </mat-table>
  }
</app-simple-list-container>

<ng-template #filterTemplate>
  <mat-form-field subscriptSizing="dynamic">
    <input matInput [formField]="searchForm.name" />
    @if (searchForm.name().value().length === 0) {
      <button matIconButton matIconSuffix disabled>
        <mat-icon>search</mat-icon>
      </button>
    } @else {
      <button matIconButton matIconSuffix (click)="searchForm.name().reset('')">
        <mat-icon>clear</mat-icon>
      </button>
    }
  </mat-form-field>
</ng-template>
