<div *ngIf="!(busy$ | async); else ifBusy" class="upload mat-elevation-z4">
    <div class=drop-zone appFileDrop (filesEmitter)="onFileDropped($event)"></div>
    <div class="spacer-v"></div>
    <div class="flex-v">
        <button mat-raised-button (click)="fileInput.click()">
            Izvēlēties failu
        </button>
        <button mat-raised-button (click)="onUpload()" [disabled]="file === null">
            Apstrādāt
        </button>
    </div>

    <div class="flex-v">
        <p *ngIf="file">
            {{ file.name }} // {{ file.size | filesize }}
        </p>
    </div>
    <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept=".dbd">

    <div class="spacer-v"></div>
</div>

<ng-template #ifBusy>
    <div class="upload mat-elevation-z4">
        <mat-spinner [diameter]="100"></mat-spinner>
    </div>
</ng-template>

<div class="progress">
    <mat-progress-bar mode="determinate" [value]="progress$ | async"></mat-progress-bar>
</div>

<div>
    <app-tabula [history]="history$ | async"></app-tabula>
</div>