<form (submit)="onLabelSubmit()">
  <p>
    <mat-form-field>
      <input matInput [(ngModel)]="kods" name="kods" type="text" placeholder="Adreses kods" autocomplete="off" #kodsInput="ngModel" required #kodsInputElement />
    </mat-form-field>
  </p>
  <p>
    <button mat-raised-button type="submit" #submitButton [disabled]="kodsInput.invalid">Apstiprināt</button>
  </p>
</form>

<p>
  @switch (status().type) {
    @case ('kaste') {
      @if (status().addressPackage; as addressPackage) {
        <span>
          @for (color of colors; track $index) {
            <div class="item" [style.color]="colorCodes()[color]">{{ addressPackage[color] | hideZero }}</div>
          }
          <div class="adrese">{{ addressPackage.addressId }}-{{ addressPackage.address }}</div>
        </span>
      }
    }
    @case ('empty') {
      <span class="warn"> Nav atrasts! </span>
    }
    @default {
      <span> </span>
    }
  }
</p>
