<form (submit)="onLabelSubmit()">
    <p>
        <mat-form-field>
            <input matInput [formControl]="kodsControl" type="text" placeholder="Adreses kods" autocomplete="off"
                #kodsInput>
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button type="submit" #submitButton [disabled]="!kodsControl.valid">Apstiprināt</button>
    </p>
</form>

<p>
    @switch (status.type) {
    @case ('kaste') {
    <span>
        <div class="item" [style.color]="colors?.yellow">{{status.kaste.kastes?.yellow | hideZero}}</div>
        <div class="item" [style.color]="colors?.rose">{{status.kaste.kastes?.rose | hideZero}}</div>
        <div class="item" [style.color]="colors?.white">{{status.kaste.kastes?.white | hideZero}}</div>
        <div class="adrese">
            {{status.kaste.kods}}-{{status.kaste.adrese}}
        </div>
    </span>
    }
    @case ('empty') {
    <span class="warn">
        Nav atrasts!
    </span>
    }
    @default {
    <span> </span>
    }
    }
</p>