:host {
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
}

.message {
    height: 48px;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    &:not(:last-of-type) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    &:hover,
    &.selected {
        background-color: rgba(0, 0, 0, 0.12);
    }

}

.signal {
    flex: 0 0 8px;
    height: 100%;
    opacity: 0;
    background-color: var(--accent-color);
    transition: all 0.2s ease-in-out;

    .unread & {
        opacity: 1;
    }
}


.message-text {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    transition: width 1.2s ease-in-out;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.unread .message-text small {
    font-weight: bold;
}

.message-menu {
    display: none;
    width: auto;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    margin-left: auto;

    .message:hover &,
    .selected & {
        display: flex;
        opacity: 1;
    }
}