:host {
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
}

.messages-container {
    padding: 8px 0;
}

.message {
    height: 48px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(:last-of-type) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
}

.signal {
    flex: 0 0 8px;
    height: 100%;
    margin-left: -8px;
    margin-right: 8px;
    visibility: hidden;
    background-color: var(--accent-color);
    transition: all 0.2s ease-in-out;
}

.unread .signal {
    visibility: visible;
}

.message:hover,
.message.selected {
    background-color: rgba(0, 0, 0, 0.12);
    transition: all 0.2s ease-in-out;
}

.message-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow: hidden;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.unread .message-text small {
    font-weight: bold;
}

.message-menu {
    visibility: hidden;
    width: 0;
    transition: all 0.2s ease-in-out;
}

.message-menu:first-of-type {
    margin-left: auto;
}

.message:hover .message-menu,
.selected .message-menu {
    visibility: visible;
    width: 40px;
}
