<div *ngIf="messages$ | async as messages; else noMessages" class="messages-container">


    <div *ngFor="let message of messages; trackBy: trackByFn" class="message" [class.unread]="!message.seen"
        [class.selected]="message === selected">

        <div class="signal">
        </div>

        <div class="message-text">

            <span>
                <small>
                    {{ message.timestamp | relativeDate:'strict' }} {{ message.data.toAction() }}
                </small>
            </span>
            <span>
                {{message.data.toDescription()}}
            </span>

        </div>

        <button mat-icon-button *ngIf="ftpUsers(message).length > 0" class="message-menu" [matMenuTriggerFor]="ftpSave"
            [matMenuTriggerData]="{ users: ftpUsers(message), message }" (menuOpened)="selected = message"
            (menuClosed)="selected = null">
            <mat-icon>
                save
            </mat-icon>
        </button>

        <button mat-icon-button *ngIf="!message.seen" class="message-menu" (click)="onMarkAsRead(message._id)">
            <mat-icon>
                done
            </mat-icon>
        </button>

        <button mat-icon-button class="message-menu" (click)="onDelete(message._id)">
            <mat-icon>
                delete
            </mat-icon>
        </button>

    </div>

</div>

<ng-template #noMessages>
    <div class="message">
        Ziņojumu nav
    </div>
</ng-template>

<mat-menu #ftpSave="matMenu">
    <ng-template matMenuContent let-users="users" let-message="message">
        <button mat-menu-item *ngFor="let ftpUser of users" [appMessageJob]="message" [appMessageJobFtpUser]="ftpUser">
            {{ ftpUser.CustomerName }}
        </button>
    </ng-template>
</mat-menu>