<mat-divider />
<div
  cdkDropList
  [cdkDropListDisabled]="disabled() === true"
  (cdkDropListDropped)="onDrop($event)"
  class="trip-stop-list"
>
  @for (stop of value(); track $index) {
    <div class="trip-stop button-row" cdkDrag [cdkDragData]="stop">
      <div cdkDragHandle>
        <mat-icon>reorder</mat-icon>
      </div>
      <div class="stop-info">
        <span class="stop-name">
          {{ stop.name }}
        </span>
        <span>
          {{ stop.address }}
        </span>
      </div>
      <div class="stop-actions">
        <button matIconButton type="button" (click)="onEditStop($index)" [disabled]="disabled() === true">
          <mat-icon> edit </mat-icon>
        </button>
        <button matIconButton type="button" (click)="onDeleteStop($index)" [disabled]="disabled() === true">
          <mat-icon> delete </mat-icon>
        </button>
      </div>
    </div>
  }
</div>

<div class="button-row">
  <button matIconButton type="button" (click)="onAddStop()" [disabled]="disabled() === true || invalid() === true">
    <mat-icon> add </mat-icon>
  </button>

  <button matIconButton type="button" (click)="onAddHome()" [disabled]="disabled() === true || invalid() === true">
    <mat-icon> add_home </mat-icon>
  </button>

  <button
    matIconButton
    type="button"
    (click)="calculateRoute.emit()"
    [disabled]="value().length < 2 || disabled() === true || invalid() === true"
  >
    <mat-icon> route </mat-icon>
  </button>
</div>
