.button-row {
  display: flex;
  align-items: center;
  min-height: 48px;
  column-gap: 8px;
}

.trip-stop {
  padding-inline: 16px;
  color: var(--sys-primary);
  font: var(--sys-body-medium);
  cursor: default;
  border-block-start: solid 1px var(--sys-outline);

  &:last-child {
    border-block-end: solid 1px var(--sys-outline);
  }

  :not(.cdk-drop-list-dragging) &:hover {
    color: var(--sys-on-primary-container);
    background-color: var(--sys-primary-container);
  }

  .cdk-drag-handle {
    cursor: move;
    display: flex;
  }

  &.cdk-drag-preview {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    font: var(--sys-body-medium);
    color: var(--sys-on-primary-container);
    background-color: var(--sys-primary-container);
    box-shadow: var(--mat-app-elevation-shadow-level-4);
  }

  .stop-info {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    font: var(--sys-body-medium);

    .stop-name {
      font-weight: 700;
    }
  }

  .stop-actions {
    margin-inline-start: auto;
  }
}

.cdk-drop-list-disabled {

  .stop-info,
  .cdk-drag-handle {
    opacity: 0.5;
    cursor: default;
  }
}


.trip-stop-list.cdk-drop-list-dragging .trip-stop:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
