<div class="stages">
  @for (control of form.controls; track $index) {
    <mat-card [formGroup]="control">
      <mat-card-content>
        <div class="stage">
          <select formControlName="productionStageId" appSelect>
            @for (stage of productionStages(); track $index) {
              <option [value]="stage._id">
                {{ stage.name }}
              </option>
            }
          </select>

          <input type="number" formControlName="amount" appInput matTooltip="Daudzums vienai vienībai" />

          <input type="number" formControlName="fixedAmount" appInput matTooltip="Nemainīgais daudzums" />

          <button mat-icon-button class="warn" (click)="onDeleteStage($index)">
            <mat-icon> delete_outline </mat-icon>
          </button>
        </div>

        <mat-divider />

        <app-production-material [formControl]="control.controls.materials" [materials]="materials()" />
      </mat-card-content>
    </mat-card>
  }
</div>
