<div mat-dialog-title>
    <h2 *ngIf="jobForm.get('jobId').value as jobId; else noId">
        <span appCopyClipboard>
            {{jobId}}
        </span>
    </h2>
    <ng-template #noId>
        <h2>
            Jauns darbs
        </h2>
    </ng-template>
    <span></span>
    <button mat-mini-fab color="primary" [mat-dialog-close]="false" tabindex="-1">
        <mat-icon>
            close
        </mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <app-plate-job-editor [jobFormGroup]="jobForm">
    </app-plate-job-editor>
    <app-upload-files [(files)]="files"></app-upload-files>
</div>

<div mat-dialog-actions>
    <!-- Pogas -->
    <button mat-raised-button [mat-dialog-close]="false">ATCELT</button>
    <button mat-raised-button #accept color="primary" (click)="onSave()"
        [disabled]="jobForm.valid === false || jobForm.pristine" matTooltip="Ctrl-Enter">SAGLABĀT</button>
</div>