<mat-card [formGroup]="form">

    <mat-card-subtitle>
        Preces
    </mat-card-subtitle>

    <mat-card-content formArrayName="products">

        <app-repro-product *ngFor="let control of productsControl.controls; index as idx;"
            (remove)="onRemoveProduct(idx)" [customerProducts]="customerProducts" appProductControl
            [formControlName]="idx" [showPrices]="showPrices">
        </app-repro-product>

    </mat-card-content>

    <mat-card-actions>
        <button mat-mini-fab (click)="onAddProduct()" [disabled]="form.disabled || productsControl.invalid"
            matTooltip="Ctrl +" color="primary" appKeyPress="ctrlPlus">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-actions>

</mat-card>