app-repro-product {
    display: block;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: rgba($color: #000000, $alpha: 0.08);
    border-style: solid;
    box-sizing: border-box;
}
