<div *ngIf="prefs$ | async as prefs;" class="container">
    <div>
        <app-kastes-totals [totals]="kastesTotals$ | async">
            Sadalījums pa kastēm:
        </app-kastes-totals>
    </div>

    <div>
        <table mat-table [dataSource]="dataSource$" multiTemplateDataRows [appActiveVeikals]="edited"
            #active="appActiveVeikals">
            <ng-container matColumnDef="kods">
                <th mat-header-cell *matHeaderCellDef="let row;">Kods</th>
                <td mat-cell *matCellDef="let row;">{{row.kods}}</td>
            </ng-container>
            <ng-container matColumnDef="adrese">
                <th mat-header-cell *matHeaderCellDef="let row;">Adrese</th>
                <td mat-cell *matCellDef="let row;">{{row.adrese}}</td>
            </ng-container>
            <!-- Pogas -->
            <ng-container matColumnDef="buttons">
                <!-- <th mat-header-cell *matHeaderCellDef="let row;"></th> -->
                <td mat-cell *matCellDef="let row;">
                    <div *ngIf="edited !== row; else buttonsActive">
                        <button mat-icon-button *ngIf="!edited" (click)="edited = row">
                            <mat-icon>lock_open</mat-icon>
                        </button>
                    </div>
                    <ng-template #buttonsActive>
                        <div>
                            <button mat-icon-button (click)="edited = undefined">
                                <mat-icon>clear</mat-icon>
                            </button>
                            <button mat-icon-button [disabled]="active.validationErrors"
                                (click)="onSaveVeikals(active.veikalsUpdate)">
                                <mat-icon>save_alt</mat-icon>
                            </button>
                        </div>
                    </ng-template>
                </td>
            </ng-container>
            <!-- Sleja ar skaitiem -->
            <ng-container matColumnDef="pakas">
                <th mat-header-cell *matHeaderCellDef="let row;">
                    <div>
                        <div *ngFor="let col of colors;" [style.color]="prefs.colors[col]">
                            {{col | titlecase}}
                        </div>
                        <div>
                            Kopā
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row;">
                    <app-totals [veikals]="row" [errors]="edited === row ? active.validationErrors : null"></app-totals>
                </td>
            </ng-container>
            <!-- Labošanas rinda -->
            <ng-container matColumnDef="spacer">
                <td mat-cell *matCellDef="let row;">
                </td>
            </ng-container>
            <!-- Labošanas modulis -->
            <ng-container matColumnDef="editor">
                <td mat-cell *matCellDef="let row;">
                    <ng-container *ngIf="edited === row; else totals;">
                        <app-veikals-edit #editor [veikals]="row"></app-veikals-edit>
                    </ng-container>
                    <ng-template #totals>
                        <div *ngFor="let kaste of row.kastes">
                            <div *ngFor="let col of colors;" [style.color]="prefs.colors[col]" class="numb">
                                {{kaste[col]}}
                            </div>
                            <div>
                                {{kaste.total}}
                            </div>
                        </div>
                    </ng-template>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsTop;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTop;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsBottom;" class="editor"
                [class.active]="edited === row">
            </tr>
        </table>
    </div>

</div>