.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    &>div {
        margin: 8px;
    }

    &>div:last-child {
        overflow: auto;
        margin: 0;
    }
}

table {
    width: 100%;
}

.mat-column-pakas > div,
.mat-column-editor > div {
    display: flex;
    & > div {
        flex: 1;
    }
}

.active {
    background-color: rgba($color: black, $alpha: 0.08);
}

.mat-column-editor > div > div {
    height: 24px;
}

.mat-column-buttons {
    width: 108px;
    & > div {
        display: flex;
    }
}

.mat-column-editor .numb {
    width: 3em;
    margin-right: 3px;
}

tr:not(.editor) td {
    border-bottom-width: 0;
}
