:host {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttons-bar {
  display: flex;
  gap: 8px;
}

.chips-bar {
  min-height: 30px;
}

.chips-bar,
.buttons-bar {
  padding: 8px 16px;
}

.mat-column-selected {
  flex: 0 0 64px;
}

mat-table {
  overflow: auto;
}

mat-chip {
  --mdc-chip-elevated-container-color: var(--sys-surface-container);
}

.app-drag-drop {
  height: 36px;
  width: 100%;
  background-color: var(--sys-secondary-container);
  border-radius: 8px;
}

.app-drag-drop-active {
  background-color: var(--sys-secondary);
}

.column-check {
  height: 24px;
}

mat-cell,
mat-header-cell {
  padding: 0 8px;
}

mat-footer-row.spacer {
  min-height: 104px;
}
