:host {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttons-bar {
  display: flex;
  gap: 8px;
}

.chips-bar {
  min-height: 30px;
}

.chips-bar,
.buttons-bar {
  padding: 8px 16px;
}

.mat-column-selected {
  flex: 0 0 64px;
}

mat-table {
  overflow: auto;
}

[appDragDrop] {
  height: 36px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.column-check {
  height: 24px;
}

mat-cell,
mat-header-cell {
  padding: 0 8px;
}

mat-footer-row.spacer {
  min-height: 104px;
}