<mat-table
  [dataSource]="data()"
  appProductsSort
  #sortHeader="appProductsSort"
  [matSortActive]="sortHeader.sort().active"
  [matSortDirection]="sortHeader.sort().direction"
  [(sortString)]="sortString"
  matSortDisableClear
  class="app-table"
>
  <ng-container matColumnDef="selection">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        [checked]="selector.hasValue() && isAllSelected()"
        [indeterminate]="selector.hasValue() && !isAllSelected()"
        (change)="$event ? toggleAll() : null"
        [disabled]="data().length === 0"
      >
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let product">
      <mat-checkbox [checked]="selector.isSelected(product)" (change)="selector.toggle(product)"> </mat-checkbox>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Izstrādājums</mat-header-cell>
    <mat-cell *matCellDef="let product">
      {{ product.name }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Grupa</mat-header-cell>
    <mat-cell *matCellDef="let product">
      {{ product.category }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="units">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Vienības</mat-header-cell>
    <mat-cell *matCellDef="let product">
      {{ product.units }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>Kopā:</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="count">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Darbu skaits</mat-header-cell>
    <mat-cell *matCellDef="let product">
      {{ product.count | number }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>{{ totals().count | number }}</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="sum">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Skaits</mat-header-cell>
    <mat-cell *matCellDef="let product">
      {{ product.sum | number }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>{{ totals().sum | number }}</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef mat-sort-header>EUR</mat-header-cell>
    <mat-cell *matCellDef="let product">
      {{ product.total | currency }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>{{ totals().total | currency }}</mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="isAdmin() ? adminColumns : columns; sticky: true" />
  <mat-row *matRowDef="let product; columns: isAdmin() ? adminColumns : columns" />
  <mat-footer-row *matFooterRowDef="isAdmin() ? adminColumns : columns; sticky: true" />
</mat-table>
