.top-block {
    display: flex;
    flex-wrap: wrap;
}

.top-block > div {
    flex: 1;
}

.top-block .top-left {
    display: flex;
    flex-direction: column;
}

section {
    padding: 8px 0px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-form-field {
    padding: 8px 0;
}
