.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 1em;
    align-items: baseline;
    padding: 16px 0;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.products {
    grid-column-start: 1;
    grid-column-end: -1;
}