:host {
    display: block;
    padding: 16px;
}

div.container.large {
    display: flex;
}

div.container.large > :first-child {
    margin-right: 16px;
    margin-top: 8px;
}

span.spacer {
    margin: 8px;
}
