<mat-expansion-panel [expanded]="large$ | async">

    <mat-expansion-panel-header>

        <mat-panel-title>
            Filtrs
        </mat-panel-title>

        <mat-panel-description *ngIf="filterForm.valid">
            <app-job-filter-summary [jobStates]="jobStates$ | async"></app-job-filter-summary>
        </mat-panel-description>

    </mat-expansion-panel-header>

    <div class="container" [class.large]="large$ | async">

        <div>
            <!-- Atiestatīt formu -->
            <button mat-mini-fab color="primary" (click)="onReset()" matTooltip="Atiestatīt">
                <mat-icon>
                    clear
                </mat-icon>
            </button>

        </div>

        <div [formGroup]="filterForm" class="filter-row">
            <!-- Darba numurs -->
            <mat-form-field>
                <mat-label>Darba numurs</mat-label>
                <input matInput type="text" formControlName="jobsId">
                <button mat-icon-button matSuffix (click)="onReset('jobsId')">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
            <span class="spacer"></span>
            <!-- Teksta meklēšana -->
            <mat-form-field class="search">
                <mat-label>Nosaukums</mat-label>
                <input matInput type="text" formControlName="name">
                <button mat-icon-button matSuffix (click)="onReset('name')">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
            <span class="spacer"></span>
            <!-- Klients -->
            <mat-form-field>
                <mat-label>Klients</mat-label>
                <input matInput type="text" formControlName="customer" [matAutocomplete]="auto">
                <button mat-icon-button matSuffix (click)="onReset('customer')">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
            <span class="spacer"></span>
            <!-- Darbu statusi -->
            <mat-form-field>
                <mat-label>
                    Statuss
                </mat-label>
                <mat-select formControlName="jobStatus" multiple>
                    <mat-option *ngFor="let status of jobStates$ | async" [value]="status.state">
                        {{status.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <span class="spacer"></span>

        </div>

    </div>

    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
        <mat-option *ngFor="let customer of customersFiltered$ | async" [value]="customer.CustomerName">
            {{customer.CustomerName}}
        </mat-option>
    </mat-autocomplete>

</mat-expansion-panel>