:host {
    display: block;
    padding: 16px;
}

div.container {
    display: flex;
}

div.container > :first-child {
    margin-right: 16px;
    margin-top: 8px;
}

span.spacer {
    margin: 8px;
}
