:host {
    display: block;
    padding: 16px;
}

div.container.large {
    display: flex;
}

div.container.large> :first-child {
    margin-right: 16px;
    margin-top: 8px;
}

span.spacer {
    margin: 8px;
}

mat-panel-description>span:not(:first-of-type) {
    padding-left: 4px;
    margin-left: 4px;
    border-left: 2px solid;
}