<mat-expansion-panel appViewSize #viewSize="viewSize" [expanded]="false">
  <mat-expansion-panel-header>
    @if (viewSize.isLarge()) {
      <mat-panel-title> Filtrs </mat-panel-title>
    }

    <mat-panel-description>
      <app-filter-summary [summary]="filterForm.value" [selectedStates]="statesSelect.triggerValue" />
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="container">
    <div [formGroup]="filterForm" class="filter-row">
      <!-- Darba numurs -->
      <mat-form-field>
        <mat-label>Darba numurs</mat-label>
        <input matInput type="text" formControlName="jobsId" />
        <button matIconButton matSuffix (click)="onReset('jobsId')">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>

      <!-- Teksta meklēšana -->
      <mat-form-field class="search">
        <mat-label>Nosaukums</mat-label>
        <input matInput type="text" formControlName="name" />
        <button matIconButton matSuffix (click)="onReset('name')">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>

      <!-- Klients -->
      <app-customer-input formControlName="customer" [customers]="customers.value()"> Klients </app-customer-input>
      <!-- <mat-form-field>
        <mat-label>Klients</mat-label>
        <input matInput type="text" formControlName="customer" [matAutocomplete]="auto" />
        <button matIconButton matSuffix (click)="onReset('customer')">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field> -->

      <!-- Darbu statusi -->
      <mat-form-field>
        <mat-label> Statuss </mat-label>
        <mat-select formControlName="jobStatus" multiple #statesSelect>
          @for (status of jobStates(); track $index) {
            <mat-option [value]="status.state">
              {{ status.description }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- Produkta Nosaukums -->
      <mat-form-field>
        <mat-label> Prece </mat-label>
        <mat-select formControlName="productsName">
          <mat-option [value]="null"> Visi </mat-option>
          @for (product of products(); track product.name) {
            <mat-option [value]="product.name">
              {{ product.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <!-- Atiestatīt formu -->
      <button matMiniFab (click)="onReset()" matTooltip="Atiestatīt">
        <mat-icon> clear </mat-icon>
      </button>
    </div>
  </div>
</mat-expansion-panel>

<!-- <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
  @for (customer of customersFiltered(); track customer.CustomerName) {
    <mat-option [value]="customer.CustomerName">
      {{ customer.CustomerName }}
    </mat-option>
  }
</mat-autocomplete> -->
