<mat-toolbar>
  <!-- Side menu poga -->
  <span>
    <button mat-icon-button (click)="sideMenuToggle.emit()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>

  <span>
    <a mat-icon-button routerLink="">
      <mat-icon>home</mat-icon>
    </a>
  </span>

  @if (activeModule(); as mod) {
    <span>
      <a mat-button [routerLink]="mod.route">
        {{ mod.name }}
      </a>
    </span>
  }

  <!-- Starpotājs -->
  <span class="spacer"></span>

  <span class="dark-mode-button">
    <mat-icon>light_mode</mat-icon>
    <mat-slide-toggle [(ngModel)]="darkMode" hideIcon aria-label="Dark mode" aria-labelledby="dark-mode-toggle-label" />
    <mat-icon>dark_mode</mat-icon>
  </span>

  <!-- Ziņojumi -->
  @let count = messagesCount$ | async;
  @let unreadCount = unreadMessagesCount$ | async;
  <span *appViewSmall>
    <a mat-icon-button [disabled]="count === 0" routerLink="/messages">
      <mat-icon [matBadge]="unreadCount" [matBadgeHidden]="unreadCount === 0" aria-hidden="false" matBadgeSize="large" class="mat-badge-tertiary"> notifications </mat-icon>
    </a>
  </span>

  <span *appViewNotSmall>
    <button mat-icon-button appMessagesTrigger [disabled]="count === 0">
      <mat-icon [matBadge]="unreadCount" [matBadgeHidden]="unreadCount === 0" aria-hidden="false" matBadgeSize="large" class="mat-badge-tertiary"> notifications </mat-icon>
    </button>
  </span>

  <!-- Mazais lietotāja menu -->
  <span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      @if (user().google?.picture) {
        <span class="avatar"> </span>
      } @else {
        <mat-icon> account_circle </mat-icon>
      }
    </button>
  </span>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <span mat-menu-item> Versija {{ version }} </span>
  <a mat-menu-item class="mat-caption username" routerLink="/user-settings">
    Lietotājs: <strong>{{ user().name }}</strong>
  </a>
  <a mat-menu-item routerLink="/login"> Atslēgties </a>
</mat-menu>
