<mat-toolbar color="primary">
  <!-- Side menu poga -->
  <span>
    <button mat-icon-button (click)="sideMenuToggle.next()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>

  <span>
    <a mat-icon-button routerLink="">
      <mat-icon>home</mat-icon>
    </a>
  </span>

  <span *ngIf="activeModule as mod;">
    <a mat-button [routerLink]="mod.route">
      {{mod.name}}
    </a></span>

  <!-- Starpotājs -->
  <span class="spacer"></span>

  <!-- Ziņojumi -->
  <app-messaging></app-messaging>

  <!-- Mazais lietotāja menu -->
  <span>

    <button mat-button [matMenuTriggerFor]='userMenu'>
      <mat-icon>account_circle</mat-icon>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

  </span>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <span mat-menu-item>
    Versija {{version}}
  </span>
  <span mat-menu-item class="mat-caption username">
    Lietotājs: <strong>{{user.name}}</strong>
  </span>
  <button mat-menu-item [routerLink]="['/', 'login']">
    Atslēgties
  </button>
</mat-menu>