@use '@angular/material' as mat;

mat-toolbar {
  @include mat.toolbar-overrides((container-background-color: var(--mat-sys-surface-container),
      container-text-color: var(--mat-sys-on-surface),
    ));
}

.spacer {
  flex: 1 1 auto;
}

.dark-mode-button {
  display: flex;
  align-items: center;
  padding-inline: 8px;

  mat-slide-toggle {
    padding-left: 4px;
  }
}

.avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
  background-image: url("/data/login/avatar")
}