<mat-toolbar>
  <!-- Side menu poga -->
  <span>
    <button matIconButton (click)="sideMenuToggle.emit()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>

  <span>
    <a matIconButton routerLink="">
      <mat-icon>home</mat-icon>
    </a>
  </span>

  @if (activeModule(); as mod) {
    <span>
      <a matButton [routerLink]="mod.route">
        {{ mod.name }}
      </a>
    </span>
  }

  <!-- Starpotājs -->
  <span class="spacer"></span>

  <span class="dark-mode-button">
    <button matIconButton (click)="darkMode.set(!darkMode())">
      <mat-icon>
        {{ darkMode() ? 'light_mode' : 'dark_mode' }}
      </mat-icon>
    </button>
  </span>

  <!-- Ziņojumi -->
  <span *appViewSmall>
    <a matIconButton [disabled]="messagesCount() === 0" routerLink="/messages">
      <mat-icon
        [matBadge]="unreadMessagesCount()"
        [matBadgeHidden]="unreadMessagesCount() === 0"
        aria-hidden="false"
        matBadgeSize="large"
        class="tertiary"
      >
        notifications
      </mat-icon>
    </a>
  </span>

  <span *appViewNotSmall>
    <button matIconButton appMessagesTrigger [disabled]="messagesCount() === 0">
      <mat-icon
        [matBadge]="unreadMessagesCount()"
        [matBadgeHidden]="unreadMessagesCount() === 0"
        aria-hidden="false"
        matBadgeSize="large"
        class="tertiary"
      >
        notifications
      </mat-icon>
    </button>
  </span>

  <!-- Mazais lietotāja menu -->
  <span>
    <button matIconButton [matMenuTriggerFor]="userMenu">
      @if (user().google?.picture) {
        <span class="avatar"> </span>
      } @else {
        <mat-icon> account_circle </mat-icon>
      }
    </button>
  </span>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <span mat-menu-item> Versija {{ version }} </span>
  <a mat-menu-item class="mat-caption username" routerLink="/user-settings">
    Lietotājs: <strong>{{ user().name }}</strong>
  </a>
  <a mat-menu-item routerLink="/login"> Atslēgties </a>
</mat-menu>
