mat-toolbar {
  background-color: var(--sys-surface-container);
}

.spacer {
  flex: 1 1 auto;
}

.dark-mode-button {
  display: flex;
  align-items: center;
  padding-inline: 8px;

  mat-slide-toggle {
    padding-left: 4px;
  }
}

.avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
  background-image: url("/data/login/avatar")
}
