.mat-slider {
    width: 200px;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-sample {
    width: 20px;
    height: 20px;
    background-color: "black";
}

.flex-text {
    flex: 0 0 60px; 
    text-align: right;
}
