<h2>Pakošanas iestatījumi</h2>
<form *ngIf="colorsForm" [formGroup]="colorsForm">
    <div *ngFor="let col of keys" class="flex-container">
        <div class="flex-text">{{col}}:</div>
        <div>
            <mat-slider min="0" max="100" step="1" thumbLabel [formControlName]="col"></mat-slider>
        </div>
        <div [ngStyle]="{'color': preferences.settings.colors[col]}">{{colors[col].lightness}}%</div>
    </div>
    <button mat-raised-button (click)="onSave()" [disabled]="colorsForm.pristine">Saglabāt</button>
    <button mat-raised-button (click)="onReset()" [disabled]="colorsForm.pristine">Atiestatīt</button>
</form>