.container {
    display: flex;
    align-self: center;
    gap: 8px;
}

.container.small {
    flex-direction: column;
    gap: 0;
}

.numbers {

    display: flex;
    gap: 8px;
    align-items: baseline;
    overflow: hidden;
    word-wrap: break-word;

    mat-form-field.count,
    mat-form-field.price {
        flex: 1 1 8em;
    }

    .total {
        flex: 1 0 4em;
        text-align: right;
    }
}

app-product-autocomplete {
    flex: 3 1 24em;
}

.numbers {
    flex: 0 1 auto;
}

.coments {
    flex: 1 1 auto;
}

input[type="number"] {
    text-align: end;
}

.disabled {
    color: rgba($color: #000000, $alpha: 0.38);
}

.full-width {
    width: 100%;
}

app-product-autocomplete {
    min-width: 18em;
}