<div [formGroup]="form" class="container" appViewSize #viewSize="viewSize">

    <!-- Prece -->
    <button *ngIf="viewSize.isSmall === false" mat-icon-button (click)="remove.next()" [disabled]="form.disabled">
        <mat-icon>delete</mat-icon>
    </button>

    <app-product-autocomplete formControlName="name" [customerProducts]="customerProducts">
    </app-product-autocomplete>

    <div class="numbers">

        <!-- Skaits -->
        <mat-form-field class="count">
            <input matInput type="number" formControlName="count">
            <span matTextSuffix [class.disabled]="form.disabled">
                &nbsp;{{ form.value.units }}
            </span>
        </mat-form-field>


        <!-- Cena -->
        <mat-form-field *ngIf="showPrices" class="price">
            <input matInput type="number" formControlName="price">
            <span matTextSuffix [class.disabled]="form.disabled">
                &nbsp;&euro;
            </span>
            <button matIconSuffix mat-icon-button matTooltip="Pievienot no cenrāža" (click)="onAddPrice()"
                [disabled]="form.valid !== true || form.disabled === true">
                <mat-icon>
                    keyboard_arrow_left
                </mat-icon>
            </button>
        </mat-form-field>

        <!-- Summa -->

        <div *ngIf="showPrices" class="total" [class.disabled]="form.disabled">
            {{form.value.count * form.value.price | currency}}
        </div>


    </div>

    <div *ngIf="viewSize.isSmall">
        <button mat-button (click)="remove.next()" [disabled]="form.disabled">
            DZĒST
        </button>
    </div>


</div>