.container {
    display: flex;
    align-self: center;
    gap: 8px;
}

.container > * {
    font-size: 14px;
    color: rgba($color: #000000, $alpha: 0.87);
    display: flex;
    gap: 8px;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
}

.container.small {
    flex-direction: column;
    gap: 0;
}

.numbers {
    & > .count,
    & > .price {
        width: 8em;
    }
    & > .total {
        min-width: 4em;
        text-align: right;
    }
}

.name {
    flex: 2 1 auto;
}

.numbers {
    flex: 0 1 auto;
}

.coments {
    flex: 1 1 auto;
}

input[type="number"] {
    text-align: end;
}

.disabled {
    color: rgba($color: #000000, $alpha: 0.38);
}

.full-width {
    width: 100%;
}

app-product-autocomplete {
    min-width: 18em;
}

button[mat-raised-button] {
    margin-bottom: 16px;
}
