<ng-container [formGroup]="productForm" [appProductControl]="name()" (selectedProduct)="onProductSelected($event)" [customerProducts]="customerProducts()">
  <!-- Prece -->
  @if (isSmall() === false) {
    <div>
      <button mat-icon-button class="tertiary" (click)="remove.emit()" [disabled]="productForm.disabled">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
  }

  <app-product-autocomplete [customerProducts]="customerProducts()" [control]="productForm.controls.name" />

  <div class="numbers">
    <!-- Skaits -->
    <mat-form-field class="count">
      <input matInput formControlName="count" prdExpressionInput #countExpr="prdExpressionInput" />
      <span matTextSuffix class="text-suffix"> &nbsp;{{ productForm.value.units }} </span>
      <mat-hint align="end">
        {{ countExpr.calculatedUpdate() }}
      </mat-hint>
    </mat-form-field>

    @if (showPrices()) {
      <!-- Cena -->
      <mat-form-field class="price">
        <input matInput formControlName="price" prdExpressionInput #priceExpr="prdExpressionInput" />
        <span matTextSuffix class="text-suffix"> &nbsp;&euro; </span>
        <button matIconSuffix mat-icon-button matTooltip="Pievienot no cenrāža" (click)="onSetPrice()" [disabled]="productForm.valid !== true || productForm.disabled === true">
          <mat-icon> keyboard_arrow_left </mat-icon>
        </button>
        <mat-hint align="end">
          {{ priceExpr.calculatedUpdate() }}
        </mat-hint>
      </mat-form-field>

      <!-- Summa -->
      <div class="total">
        {{ productForm.value.count * productForm.value.price | currency }}
      </div>
    }
  </div>

  @if (isSmall()) {
    <div>
      <button mat-button class="tertiary" (click)="remove.emit()" [disabled]="productForm.disabled">Dzēst</button>
    </div>
  }
</ng-container>
