<table class="mat-elevation-z4" [formGroup]="prodFormArray">

    <thead>
        <tr>
            <th *ngIf="isEnabled">Dzēst</th>
            <th class="column-name">Prece</th>
            <th class="column-count">Skaits</th>
            <th class="column-price">Cena</th>
            <th class="column-total">Summa</th>
            <th class="column-comments">Piezīmes</th>
        </tr>
    </thead>

    <tbody>

        <tr *appProductFor="let prod of prodFormArray; customerProducts: customerProducts$ | async; index as idx;" [formArrayName]="idx">
            <!-- Dzēšanas poga -->
            <td *ngIf="isEnabled">
                <button mat-icon-button (click)="removeProduct(idx)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
            <!-- Preces nosaukums -->
            <td>
                <mat-form-field>
                    <input matInput type="text" formControlName="name" [matAutocomplete]="auto" #name>
                    <mat-error *ngIf="prod.get('name').hasError('invalidProduct')">
                        {{prod.get('name').getError('invalidProduct')}}
                    </mat-error>
                </mat-form-field>
            </td>
            <!-- Skaits -->
            <td class="column-count">
                <mat-form-field>
                    <input matInput type="number" formControlName="count">
                </mat-form-field>
            </td>
            <!-- Cena -->
            <td class="column-price">
                <mat-form-field>
                    <input matInput type="number" formControlName="price">
                </mat-form-field>
            </td>
            <!-- Summa -->
            <td>
                {{prod.value.count * prod.value.price | currency}}
            </td>
            <!-- Piezīmes -->
            <td>
                <mat-form-field>
                    <input matInput type="text" formControlName="comment">
                </mat-form-field>
            </td>

        </tr>

    </tbody>

    <tfoot>
        <tr>
            <td *ngIf="isEnabled">
                <button mat-icon-button (click)="addNewProduct()" [disabled]="isValid === false" matTooltip="Ctrl-+">
                    <mat-icon>add</mat-icon>
                </button>
            </td>
            <td [colSpan]="5"></td>
        </tr>
    </tfoot>

</table>

<mat-autocomplete #auto="matAutocomplete">
    <mat-optgroup label="KLIENTA">
        <mat-option *ngFor="let product of (firstProducts$ | async)" [value]="product.productName">
            {{product.productName}}
        </mat-option>
    </mat-optgroup>
    <mat-optgroup label="VISI">
        <mat-option *ngFor="let product of (restProducts$ | async)" [value]="product.productName">
            {{product.productName}}
        </mat-option>
    </mat-optgroup>
</mat-autocomplete>