table {
    width: 100%;
    /* table-layout: fixed; */
}

.column-price, .column-count {
    width: 180px;
}

.column-name {
    min-width: 240px;
}

th, td {
    padding-left: 8px;
    padding-right: 8px;
}

td mat-form-field {
    width: 100%;
}
