table {
    width: 100%;
    table-layout: fixed;
}

.column-action {
    width: 40px;
}

.column-price, 
.column-count,
.column-total {
    width: 64px;
}

.column-name {
    min-width: 240px;
}

td input[type="number"] {
    text-align: right;
}

th, td {
    padding-left: 8px;
    padding-right: 8px;
}

td .mat-form-field {
    width: 100%;
}
