<table mat-table [dataSource]="jobs$">
    <!-- Izvēles ķeksis -->
    <ng-container matColumnDef="selected">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [checked]="selector.hasValue() && isAllSelected()"
                [indeterminate]="selector.hasValue() && !isAllSelected()" (change)="$event ? toggleAll() : null">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let job;">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selector.toggle(job) : null"
                [checked]="selector.isSelected(job)">
            </mat-checkbox>
        </td>
    </ng-container>
    <!-- Darba numurs -->
    <ng-container matColumnDef="jobId">
        <th mat-header-cell *matHeaderCellDef>
            Darba nr.
        </th>
        <td mat-cell *matCellDef="let job">
            {{job.jobId}}
        </td>
    </ng-container>
    <!-- Darba nosaukums -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
            Darba nosaukums
        </th>
        <td mat-cell *matCellDef="let job;">
            {{job.name}}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let job; columns: displayedColumns;" (click)="selector.toggle(job)"></tr>
</table>