<section class="top-panel mat-elevation-z4">
    <a mat-raised-button color="primary" [routerLink]="['new-invoice']">JAUNS APRĒĶINS</a>
</section>

<section>
    <table mat-table [dataSource]="datasource" class="app-table">
        <ng-container matColumnDef="invoiceId">
            <th mat-header-cell *matHeaderCellDef>
                Aprēķina nr.
            </th>
            <td mat-cell *matCellDef="let invoice;">
                {{invoice.invoiceId}}
            </td>
        </ng-container>

        <mat-text-column name="customer" headerText="Klients"></mat-text-column>

        <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> Datums </th>
            <td mat-cell *matCellDef="let invoice;">
                {{invoice.createdDate | date}}
            </td>
        </ng-container>

        <ng-container matColumnDef="totalSum">
            <th mat-header-cell *matHeaderCellDef> Summa </th>
            <td mat-cell *matCellDef="let invoice;">
                {{invoice.totals.sum | currency}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let invoice; columns: displayedColumns;"
            [routerLink]="['invoice', {invoiceId: invoice.invoiceId}]"></tr>
    </table>
</section>