.mat-drawer {
  width: 300px;
}

.mat-drawer-container {
  height: 100%;
}

.main-content {
  overflow: auto;
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
}

.mat-drawer {
  padding: 8px;
}

.no-active>p {
  margin-left: 24px;
  margin-right: 24px;
}

.kopskaiti {
  display: flex;
  margin: 8px;
  min-height: 42px;
  align-items: center;
}

.kopskaiti .mat-slide-toggle {
  margin-left: auto;
}