.full-width-table {
  width: 800px;
}

tr {
  height: 40px;
}

.mat-column {
  width: 50px;
  vertical-align: top;
}

.mat-column-adrese {
  width: 500px;
}

.cipari {
  text-align: left;
  /* padding: 6px 0px 4px 0px; */
  width: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.12)
}

.no-border {
  border-bottom-width: 0;
}

.color-number {
  display: inline-block;
  width: 34px;
  height: 18px;
  padding: 6px 8px 4px;
}

.color-number:hover {
  cursor: pointer;
}

.total {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  padding-left: 7px;
}