<app-simple-form-container (dataChange)="jobInit$.next($event)" [data]="dataUpdate$ | async">

    <mat-tab-group *ngIf="job$ | async as job" [selectedIndex]="1">
        <mat-tab label="Informācija">
            <app-job-info [job]="job" (activeJob)="onSetAsActive($event)"
                (deleteVeikali)="onDeleteVeikali()"></app-job-info>
        </mat-tab>

        <mat-tab label="Pakošanas saraksts">
            <ng-template matTabContent>
                <app-pakosanas-saraksts [veikali]="veikali$ | async" [disabled]="job.jobStatus?.generalStatus >= 30" (veikalsChange)="onUpdateVeikals($event)">
                </app-pakosanas-saraksts>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

    <ng-template *ngIf="job$ | async as job;" appSimpleFormLabel>
        <h2>
            {{job.jobId}} / {{job.name}}
        </h2>
    </ng-template>

</app-simple-form-container>