@if(jobInfo$ | async; as jobInfo) {
<app-simple-form-container>

    <h2 appSimpleFormTypedLabel>
        {{jobInfo.job.jobId}} / {{jobInfo.job.name}}
    </h2>

    <mat-tab-group [selectedIndex]="0">
        <mat-tab label="Informācija">
            <app-job-info [job]="jobInfo.job" [veikali]="jobInfo.veikali" [activeJobId]="jobInfo.activeJobId"
                (activeJob)="onSetAsActive($event)" (deleteVeikali)="onDeleteVeikali(jobInfo.job.jobId)"
                (copyToFirebase)="onCopyToFirebase(jobInfo.job.jobId)"
                (copyFromFirebase)="onCopyFromFirebase(jobInfo.job.jobId)" />
        </mat-tab>

        <mat-tab label="Pakošanas saraksts" [disabled]="jobInfo.veikali.length == 0">
            <ng-template matTabContent>
                <app-pakosanas-saraksts [veikali]="jobInfo.veikali"
                    [disabled]="jobInfo.job.jobStatus.generalStatus >= 30" (veikalsChange)="onUpdateVeikals($event)" />
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</app-simple-form-container>
}