<div mat-dialog-title>
  <div class="kods" [class.gatavs]="addressPackage.completed === true">
    <span>
      {{ addressPackage.addressId }}
    </span>
    <span class="subs"> /{{ addressPackage.boxSequence + 1 }} </span>
  </div>
  <div class="address">
    {{ addressPackage.address | titlecase }}
  </div>
</div>

<mat-dialog-content>
  <div class="colors">
    @for (color of colors; track $index) {
      @if (addressPackage[color] > 0) {
        <div [style.color]="colorCodes()[color]">
          {{ addressPackage[color] }}
        </div>
      }
    }
  </div>

  <div class="summary">
    @for (pack of allAddressPackages; track $index) {
      <div class="kaste" [class.gatavs]="pack.completed" [class.current]="$index === addressPackage.boxSequence">
        <span> {{ $index + 1 }}:&nbsp; </span>
        @for (color of colors; track color) {
          <span [style.color]="colorCodes[color]"> {{ pack[color] }}&nbsp; </span>
        }
        <span> ({{ pack.total }}) </span>
      </div>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  @if (addressPackage.completed === false) {
    <button mat-icon-button [mat-dialog-close]="true">
      <mat-icon> done </mat-icon>
    </button>
  } @else {
    <button mat-icon-button class="warn" [mat-dialog-close]="false">
      <mat-icon> remove_done </mat-icon>
    </button>
  }

  <button mat-icon-button matDialogClose>
    <mat-icon> close </mat-icon>
  </button>
</mat-dialog-actions>
