[mat-dialog-title]>* {
    text-align: center;
}

mat-dialog-actions>button {
    margin: auto;
}

.mat-dialog-content {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colors {
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
}

.kods {
    font-size: 40px;
    font-weight: 800;
    height: 48px;
    background-color: var(--accent-color);
    color: var(--primary-darker-contrast);
    border-radius: 8px;
    margin: 8px 0;
    line-height: 48px;
}