<div mat-dialog-title>

    <div class="kods" [class.gatavs]="veikalsKaste.kastes.gatavs === true">
        <span>
            {{ veikalsKaste.kods }}
        </span>
        <span class="subs">
            {{ veikalsKaste.kaste + 1 }}
        </span>
    </div>
    <h1>
        {{ veikalsKaste.adrese | titlecase }}
    </h1>

</div>

<mat-dialog-content>

    <div class="colors">
        <div *ngFor="let color of colors;" [style.color]="colorCodes[color]">
            {{ veikalsKaste.kastes[color] }}
        </div>
    </div>

    <div class="summary">
        <div *ngFor="let kaste of kastes; index as idx;" class="kaste" [class.gatavs]="kaste.kastes.gatavs"
            [class.current]="idx === veikalsKaste.kaste">
            <span>
                {{ idx + 1 }}:&nbsp;
            </span>
            <span *ngFor="let color of allColors;" [style.color]="colorCodes[color]">
                {{ kaste.kastes[color] }}&nbsp;
            </span>
            <span>
                /{{ kaste.kastes.total }}
            </span>
        </div>
    </div>


</mat-dialog-content>

<mat-dialog-actions>
    <button *ngIf="veikalsKaste.kastes.gatavs === false; else unsetButton;" mat-fab color="primary"
        (click)="onGatavs(true)">
        <mat-icon>
            done
        </mat-icon>
    </button>

    <button mat-fab matDialogClose>
        <mat-icon>
            close
        </mat-icon>
    </button>


    <ng-template #unsetButton>
        <button mat-fab color="warn" (click)="onGatavs(false)">
            <mat-icon>
                remove_done
            </mat-icon>
        </button>
    </ng-template>

</mat-dialog-actions>