[mat-dialog-title]>* {
  text-align: center;
}

.mat-mdc-dialog-content {
  text-align: center;
}

.address {
  font: var(--sys-display-medium)
}

.colors {
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: var(--sys-display-large);
  font-weight: 700;
}

.kods {
  margin: 8px 0;
  padding: 4px;
  border-radius: 4px;
  font: var(--sys-display-medium);
  font-weight: 700;
  background-color: var(--sys-tertiary);
  color: var(--sys-on-tertiary);

  &.gatavs {
    background-color: var(--sys-secondary-container);
    color: var(--sys-on-secondary-container)
  }

  .subs {
    font-size: 75%;
  }
}


.summary {
  margin: 8px;
  font: var(--sys-label-large);

  .gatavs {
    font-style: italic;
  }

  .current {
    font-weight: 700;
  }
}
