<mat-card>

    <div>

        <button mat-mini-fab color="primary" (click)="datasource.reload()">
            <mat-icon>
                refresh
            </mat-icon>
        </button>

        <!--         <app-threads-filter [initialCategory]="defaultLabel" [labels]="labels$ | async"
            (valueChanges)="setFilter($event)"></app-threads-filter>
 -->
    </div>

</mat-card>

<mat-paginator [pageSize]="20" [pageSizeOptions]="[10,20,100]" appThreadsPaginator>

</mat-paginator>

<mat-table [dataSource]="datasource" class="app-table">

    <ng-container matColumnDef="snippet">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let thread">

            <div>

                <div [innerHTML]="sanitize(thread.snippet)" class="snippet-text">
                </div>

                <div class="progress-container">
                    <mat-progress-bar *ngIf="thread === loading" mode="indeterminate"></mat-progress-bar>
                </div>


            </div>

        </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let thread; columns: ['snippet']" [routerLink]="[thread.id]" (click)="loading=thread;">
    </mat-row>

</mat-table>