<mat-card>

    <div>

        <button mat-mini-fab color="primary" (click)="onReload()">
            <mat-icon>
                refresh
            </mat-icon>
        </button>

        <app-threads-filter [initialCategory]="defaultLabel" [labels]="labels$ | async"
            (valueChanges)="setFilter($event)"></app-threads-filter>

    </div>

</mat-card>

<mat-paginator [disabled]="!(messagesTotal$ | async)" [length]="messagesTotal$ | async" [pageSize]="10"
    [pageSizeOptions]="[10,20,100]" (threadPage)="setPaginator($event)" appThreadsPaginator>

</mat-paginator>

<mat-table [dataSource]="threads$" class="app-table">

    <ng-container matColumnDef="snippet">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let thread">
            <div [innerHTML]="thread.html">
            </div>
            <!-- {{ thread.snippet }} -->
        </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let snippet; columns: ['snippet']" [routerLink]="[snippet.id]"></mat-row>

</mat-table>