:host {
  display: flex;
  flex-direction: column;
}

mat-table {
  overflow: auto;
}

div.container {
  height: 100%;
  overflow: auto;
}

.selected mat-cell {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: var(--primary-color);
  transition: all 100ms;
}

.mat-column-label {

  flex: 0 0 4px;
  padding: 0;

  .has-label & {
    background-color: var(--primary-color);
  }

  .activated & {
    animation: blink 500ms alternate 6;
  }
}


@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

.digit-column,
.mat-column-kods {
  flex: 0 0 32px;
  justify-content: center;
  padding: 0;

  font: {
    weight: bold;
    size: 125%;
  }

}

mat-footer-cell {
  min-height: 96px;
}

.gatavs .mat-mdc-cell:not(.mat-column-label) {
  opacity: 50%;
}