div.container {
  height: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-row {
  cursor: default;
}

.selected .mat-cell {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: var(--primary-color);
  transition: all 100ms;
}

.mat-column-label:first-of-type {
  width: 5px;
  padding-left: 0;

  &.label {
    background-color: var(--primary-color);
    transition: background-color 1s 500ms;
  }
}

@keyframes blink {

  //TODO global styling
  0% {
    background-color: none;
  }

  50% {
    background-color: rgba($color: var(--primary-color), $alpha: 0.2);
  }

  100% {
    background-color: none;
  }
}

.mat-column-yellow,
.mat-column-rose,
.mat-column-white,
.mat-column-kods {
  width: 16px;
  padding: 0 8px;
  text-align: left;

  font: {
    weight: bold;
    size: 125%;
  }
}

div.blank {
  height: 64px;
}

.gatavs .mat-cell {
  // background-color: var(--primary-lighter);
  opacity: 50%;
}