<div class="container" #scrollContainer scroll-to-top>

  @if (colorCodes$ | async; as colorCodes) {

  <table mat-table [dataSource]="dataSource$" [trackBy]="trackByFn" class="app-table">

    <!-- Sleja ar atzīmi par uzlīmes esamību -->
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row;" [class.label]="row.kastes.uzlime"></td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="kods">
      <th mat-header-cell *matHeaderCellDef>Nr</th>
      <td mat-cell *matCellDef="let row;">{{row.kods}}</td>
    </ng-container>

    <!-- Adrese sleja -->
    <ng-container matColumnDef="adrese">
      <th mat-header-cell *matHeaderCellDef mat>Adrese</th>
      <td mat-cell *matCellDef="let row;">
        {{row.adrese | titlecase}} ({{row.kastes.total}})
      </td>
    </ng-container>

    <!-- Krāsu slejas -->
    @for (color of colors; track $index) {
    <ng-container [matColumnDef]="color">
      <th mat-header-cell *matHeaderCellDef [style.color]="colorCodes[color]">
        {{ color[0] | uppercase }}
      </th>
      <td mat-cell *matCellDef="let row;" [style.color]="colorCodes[color]">
        {{row.kastes[color] | hideZero}}
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelected(row)"
      [class.selected]="row._id === selected?._id && row.kaste === selected.kaste" [appRowId]="row"
      [class.gatavs]="row.kastes.gatavs" [class.pending]="row.pending"></tr>
  </table>

  }

  <div class="blank"></div>

</div>