<h2 mat-dialog-title>Preču kategorija</h2>
<form [formGroup]="productForm" (submit)="onSubmit()">
  <mat-dialog-content>
    <div class="controls">
      <mat-form-field>
        <mat-label> Kods (nav maināms) </mat-label>
        <input type="text" matInput formControlName="category" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label> Nosaukums </mat-label>
        <input type="text" matInput formControlName="description" />
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!productForm.valid || productForm.pristine" type="submit">OK</button>
    <button mat-raised-button mat-dialog-close>ATCELT</button>
  </mat-dialog-actions>
</form>
