<div class="search-box mat-elevation-z4">
    <span>
        <mat-form-field class="search-input">
            <input matInput [formControl]="q" type="search" appFocused>
            <button *ngIf="q.value.length === 0" mat-button matSuffix mat-icon-button disabled>
                <mat-icon>search</mat-icon>
            </button>
            <button *ngIf="q.value.length !== 0" mat-button matSuffix mat-icon-button (click)="q.setValue('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </span>
    <span></span>
    <span *ngIf="!(busy$ | async); else busy" class="count">
        <app-status [count]="count"></app-status>
    </span>
    <ng-template #busy>
        <span class="spinner">
            <mat-spinner color="primary" [diameter]="32"></mat-spinner>
        </span>
    </ng-template>
</div>