.search-box {
    display: flex;
    align-items: flex-end;
}

span {
    flex: 1 1 auto;
}

.search-input {
    margin: 0 16px;
    min-width: 8em;
    max-width: 16em;
    width: 100%;
    font-size: 150%;
}

.count {
    flex: 0 auto;
    margin-right: 16px;
}