<mat-form-field>
    <mat-label>
        <ng-content></ng-content>
    </mat-label>
    <input #customerInput type="text" matInput [formControl]="inputControl" [matAutocomplete]="auto" required (blur)="touchFn()">
    <mat-error *ngIf="control.hasError('noCustomer')">
        {{ control.getError('noCustomer') }}
    </mat-error>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
    <mat-option *ngFor="let customer of customersFiltered$ | async" [value]="customer.CustomerName">
        {{ customer.CustomerName }}
    </mat-option>
</mat-autocomplete>
