.container {
  display: flex;
  column-gap: 16px;
  flex-direction: column;

  &.large {
    flex-direction: row-reverse;
  }

  &.small mat-form-field {
    width: 100%;
  }
}


.filter-row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
}