<div [formGroup]="loginForm" class="container">

    <mat-form-field>
        <mat-label>
            Lietotājs
        </mat-label>
        <input matInput formControlName="username" type="text" autocomplete="off" autocapitalize="none" appFocused>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            Parole
        </mat-label>
        <input matInput formControlName="password" type="password">
    </mat-form-field>

    <button mat-raised-button (click)="onLogin()" color="primary" [disabled]="loginForm.invalid">
        PIESLĒGTIES
    </button>

    <hr>

    <a mat-raised-button href="/data/login/google">
        PIEVIENOTIES AR GOOGLE
    </a>

</div>