<form [formGroup]="loginForm" (submit)="onLogin()">

    <mat-form-field>
        <mat-label>
            Lietotājs
        </mat-label>
        <input matInput formControlName="username" type="text" autocomplete="off" autocapitalize="none" appFocused>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            Parole
        </mat-label>
        <input matInput formControlName="password" type="password">
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">
        Pieslēgties
    </button>

</form>