<mat-drawer-container>
    <mat-drawer #sidePanel [opened]="!(isSmall$ | async)" position="end" [mode]="(isSmall$ | async) ? 'over' : 'side'"></mat-drawer>

    <mat-drawer-content>
        <div>
            <app-card-menu [modules]='modules$ | async'></app-card-menu>
        </div>
        <div>
            <app-job-filter></app-job-filter>
        </div>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<app-side-button (clicks)="sidePanel.toggle()" [opened]="sidePanel.opened"></app-side-button>
