<app-simple-content-container>
  <nav mat-tab-nav-bar dynamicHeight [tabPanel]="tabPanel">
    <a mat-tab-link routerLink="general-setup" routerLinkActive #rlaG="routerLinkActive" [active]="rlaG.isActive">
      Pamatinformācija
    </a>

    <a mat-tab-link routerLink="fuel-purchases" routerLinkActive #rlaP="routerLinkActive" [active]="rlaP.isActive">
      Degviela
    </a>

    <a mat-tab-link routerLink="trips" routerLinkActive #rlaT="routerLinkActive" [active]="rlaT.isActive"> Maršruti </a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet />
  </mat-tab-nav-panel>
</app-simple-content-container>
