<app-simple-content-container>
  @let rs = routeSheet();
  <div id="content">
    @if (editActive()) {
      <app-general-setup
        #generalSetup
        [routeSheet]="rs"
        (update)="onUpdate($event)"
        (create)="onCreate($event)"
        (cancelSetup)="editActive.set(false)"
      />
    } @else if (rs !== null) {
      <app-general-info [routeSheet]="rs" (edit)="editActive.set(true)" (delete)="onDelete()" [busy]="busy()" />
    }

    @if (rs !== null) {
      <app-fuel-purchases
        [fuelPurchases]="rs.fuelPurchases"
        [month]="rs.month"
        [year]="rs.year"
        [fuelType]="rs.vehicle.fuelType"
        (update)="onUpdate({ fuelPurchases: $event })"
        [busy]="busy()"
        [disabled]="editActive()"
      />
      <app-route-trips
        [trips]="rs.trips"
        [month]="rs.month"
        [year]="rs.year"
        [vehicle]="rs.vehicle"
        (update)="onUpdate({ trips: $event })"
        [busy]="busy()"
        [disabled]="editActive()"
      />
    }
  </div>
</app-simple-content-container>
