<div mat-dialog-title>
    <h2 *ngIf="newJob?.jobId as jobId; else noId" [appCopyClipboard]="jobId"
        (copied)="onCopy($event)">
        {{jobId}}
    </h2>
    <ng-template #noId>
        Jauns darbs
    </ng-template>

</div>

<div mat-dialog-content>
    <app-plate-job-editor [job]="data.job" (jobChanges)="onJobUpdate($event)">
    </app-plate-job-editor>
</div>

<div mat-dialog-actions>
    <!-- Pogas -->
    <button mat-raised-button [mat-dialog-close]="null">Atcelt</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="newJob" [disabled]="!newJob?.jobId">Saglabāt</button>
</div>