<button mat-button [matMenuTriggerFor]="labelsMenu">
    <mat-icon>
        label
    </mat-icon>
    &nbsp;{{ activeLabelsText }}
</button>


<mat-menu #labelsMenu="matMenu">
    <ng-template matMenuContent>
        @for (item of labelItems$ | async; track $index) {
        <button mat-menu-item (click)="onActivateLabel(item)">
            @if (isLabelActive(item)) {
            <mat-icon>check</mat-icon>
            }
            <span> {{ item.displayName }} </span>
        </button>
        } @empty {
        <mat-spinner class="loading" [diameter]="150" />
        }
    </ng-template>
</mat-menu>