<button mat-button [matMenuTriggerFor]="labelsMenu">
    <mat-icon>
        label
    </mat-icon>
    &nbsp;{{ activeLabelsText }}
</button>


<mat-menu #labelsMenu="matMenu">
    <ng-template matMenuContent>
        <ng-container *ngIf="labelItems | async as labelItems; else loading;">
            <button *ngFor="let item of labelItems" mat-menu-item (click)="onActivateLabel(item)">
                <mat-icon *ngIf="isLabelActive(item)">check</mat-icon>
                <span> {{ item.displayName }} </span>
            </button>
        </ng-container>
        <ng-template #loading>
            <mat-spinner class="loading" [diameter]="150"> </mat-spinner>
        </ng-template>
    </ng-template>
</mat-menu>