@use "@angular/material" as mat;

@mixin color() {

  .tertiary {
    @include mat.badge-overrides((background-color: var(--mat-sys-tertiary),
        text-color: var(--mat-sys-on-tertiary),
      ));
  }
}

@mixin theme() {

  @include color();

  .mat-badge-large .mat-badge-content {
    width: unset;
  }

}