@use "@angular/material" as mat;

html,
body {
  height: 100%;
  overscroll-behavior: none;
}

body {
  margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--mat-sys-surface-container);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--mat-sys-on-surface-variant) 38%, transparent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--mat-sys-on-surface-variant);
}

@mixin color() {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  .app-disabled {
    color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent);
  }
}

@mixin base-typography() {
  font: var(--mat-sys-body-medium);

  .headline-large {
    font: var(--mat-sys-headline-large);
  }

  .headline-medium {
    font: var(--mat-sys-headline-medium);
  }

  .headline-small {
    font: var(--mat-sys-headline-small);
  }

  .body-large {
    font: var(--mat-sys-body-large);
  }

  .body-medium {
    font: var(--mat-sys-body-medium);
  }

  .body-small {
    font: var(--mat-sys-body-small);
  }

  .label-large {
    font: var(--mat-sys-label-large);
  }

  .label-medium {
    font: var(--mat-sys-label-medium);
  }

  .label-small {
    font: var(--mat-sys-label-small);
  }

  .title-large {
    font: var(--mat-sys-title-large);
  }

  .title-medium {
    font: var(--mat-sys-title-medium);
  }

  .title-small {
    font: var(--mat-sys-title-small);
  }


}

@mixin theme() {
  @include color();

  @include base-typography();
}