@use "@angular/material" as mat;

@mixin color() {

  .tertiary,
  .warn {
    @include mat.button-overrides((text-label-text-color: var(--mat-sys-tertiary),
        outlined-label-text-color: var(--mat-sys-tertiary),
        filled-label-text-color: var(--mat-sys-tertiary),
        tonal-label-text-color: var(--mat-sys-tertiary),
        protected-label-text-color: var(--mat-sys-tertiary),
      ));

    @include mat.icon-button-overrides((icon-color: var(--mat-sys-tertiary),
      ));

    @include mat.fab-overrides((foreground-color: var(--mat-sys-on-tertiary-container),
        container-color: var(--mat-sys-tertiary-container),
        small-foreground-color: var(--mat-sys-on-tertiary-container),
        small-container-color: var(--mat-sys-tertiary-container),
      ));
  }



}

@mixin theme() {

  @include color();

}