@use "@angular/material" as mat;

@mixin app-dense-list-typography() {

  mat-list[dense-list],
  mat-action-list[dense-list] {
    @include mat.list-overrides((list-item-label-text-size: var(--mat-sys-label-small),
      ));
  }
}

@mixin app-dense-list() {

  mat-list[dense-list],
  mat-action-list[dense-list] {

    @include mat.list-overrides((list-item-one-line-container-height: 32px,
      ));

    .dense-list-data {

      display: flex;

      :first-child {
        padding-right: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      :last-child {
        margin-left: auto;
      }
    }
  }
}

@mixin theme() {


  @include app-dense-list-typography();

  @include app-dense-list();


}