@use "@angular/material" as mat;

@mixin color() {
    .app-disabled-view {
        @include mat.form-field-overrides((outlined-disabled-input-text-color: color-mix(in srgb, var(--mat-sys-on-surface) 70%, transparent),
                outlined-disabled-label-text-color: color-mix(in srgb, var(--mat-sys-on-surface) 70%, transparent),
            ));
    }
}

@mixin theme() {

    @include color();

}