@use '@angular/material' as mat;

@mixin color() {
  input[appInput] {

    caret-color: var(--mat-sys-outline);
    border: none;
    color: inherit;
    background-color: inherit;

    border-bottom: {
      color: var(--mat-sys-outline-variant);
      width: 2px;
      style: solid;
    }

    &.ng-invalid {
      border-bottom-color: var(--mat-sys-error);
      color: var(--mat-sys-error);
    }


    &:focus {
      border-bottom-color: var(--mat-sys-primary);
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

@mixin input-typograpy() {
  input[appInput] {
    font: var(--mat-sys-body-medium, font);
    font-weight: 500;
  }
}


@mixin input-appearance() {

  input[appInput] {

    &:focus {
      outline: none;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }

}

@mixin theme() {

  @include color();

  @include input-typograpy();

  @include input-appearance();

}