@use "@angular/material" as mat;

@mixin color() {
  .app-messages-pane {
    background-color: var(--mat-sys-surface-container);
    color: var(--mat-sys-on-surface);

    app-messages-list .message {

      &:not(:last-of-type) {
        border-bottom-color: var(--mat-sys-outline-variant);
      }

      &:hover,
      &.selected {
        background-color: var(--mat-sys-surface-container-highest);
      }

      .signal {
        background-color: color-mix(in srgb, var(--mat-sys-tertiary) 80%, transparent);
      }

    }
  }
}

@mixin messages-pane-typography() {
  .app-messages-pane {

    .message-title {
      font: var(--mat-sys-label-small);
    }

    .unread .message-title {
      font-weight: bold;
    }

    .message-body {
      font: var(--mat-sys-label-medium);
    }
  }

}

@mixin app-messages-pane() {
  .app-messages-pane {
    max-height: calc(100vh - 72px);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 4px;
    box-shadow: var(--mat-menu-container-elevation-shadow, 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12));

    app-messages-list {
      width: 100%;

      .message {
        height: 48px;
        padding: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        overflow: hidden;

        &:not(:last-of-type) {
          border-bottom-width: 1px;
          border-bottom-style: solid;
        }

        .signal {
          flex: 0 0 8px;
          height: 100%;
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }

        &.unread .signal {
          opacity: 1;
        }

        .message-text {
          padding: 0 8px;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          overflow: hidden;
          transition: width 1.2s ease-in-out;

          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .message-menu {
          display: none;
          width: auto;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          margin-left: auto;
        }

        &:hover,
        &.selected {
          .message-menu {
            display: flex;
            opacity: 1;
          }
        }

      }



    }


  }
}



@mixin theme() {

  @include color();

  @include messages-pane-typography();

  @include app-messages-pane();
}