@use "@angular/material" as mat;

@mixin color() {
  mat-progress-bar {

    &.warn,
    &.error {
      @include mat.progress-bar-overrides((active-indicator-color: var(--mat-sys-error),
          track-color: var(--mat-sys-error-container),
        ));
    }

  }
}

@mixin theme() {

  @include color();

}