@use '@angular/material' as mat;

@mixin color() {

  select[appSelect] {

    border: none;

    border-bottom: {
      color: var(--mat-sys-outline-variant);
      width: 2px;
      style: solid;
    }

    &.ng-invalid {
      border-bottom-color: var(--mat-sys-error);
      color: var(--mat-sys-error);
    }


    &:focus {
      border-bottom-color: var(--mat-sys-primary);
    }
  }

  .app-disabled-view {
    @include mat.select-overrides((disabled-trigger-text-color: color-mix(in srgb, var(--mat-sys-on-surface) 80%, transparent),
      ));
  }

}

@mixin select-typograpy() {
  select[appSelect] {
    font: var(--mat-sys-body-medium);
  }
}

@mixin select-appearance() {
  select[appSelect] {

    color: inherit;
    background-color: inherit;

    &:focus {
      outline: none;
    }
  }
}

@mixin theme() {

  @include color();

  @include select-typograpy();

  @include select-appearance();

}