@use "@angular/material" as mat;

@mixin color() {
  .app-table {

    tbody tr,
    .mat-mdc-row {

      &:hover {

        td,
        .mat-mdc-cell {
          color: var(--mat-sys-on-surface);
          background-color: var(--mat-sys-surface-container-highest);
        }
      }

      &.selected {

        td,
        .mat-mdc-cell {
          color: var(--mat-sys-on-secondary);
          background-color: var(--mat-sys-secondary);
          border-bottom-color: var(--mat-sys-secondary);
        }
      }

      &.disabled {
        opacity: 0.5;
      }

    }
  }
}

@mixin app-table() {

  .app-table {
    width: 100%;
    cursor: default;

    [router-link],
    [ng-reflect-router-link] {
      cursor: pointer;
    }
  }
}

@mixin theme() {

  @include color();
  @include app-table();

}