@use "@angular/material" as mat;

html,
body {
  height: 100%;
  overscroll-behavior: none;
}

body {
  margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

@mixin color($theme) {
  color: mat.get-theme-color($theme, on-surface);
  background-color: mat.get-theme-color($theme, surface);

  .app-disabled {
    color: color-mix(in srgb, mat.get-theme-color($theme, on-surface) 38%, transparent);
  }
}

@mixin base-typography($theme) {
  font: mat.get-theme-typography($theme, body-medium, font);

  .headline-large {
    font: mat.get-theme-typography($theme, headline-large, font);
  }

  .headline-medium {
    font: mat.get-theme-typography($theme, headline-medium, font);
  }

  .headline-small {
    font: mat.get-theme-typography($theme, headline-small, font);
  }

  .body-large {
    font: mat.get-theme-typography($theme, body-large, font);
  }

  .body-medium {
    font: mat.get-theme-typography($theme, body-medium, font);
  }

  .body-small {
    font: mat.get-theme-typography($theme, body-small, font);
  }

  .label-large {
    font: mat.get-theme-typography($theme, label-large, font);
  }

  .label-medium {
    font: mat.get-theme-typography($theme, label-medium, font);
  }

  .label-small {
    font: mat.get-theme-typography($theme, label-small, font);
  }

  .title-large {
    font: mat.get-theme-typography($theme, title-large, font);
  }

  .title-medium {
    font: mat.get-theme-typography($theme, title-medium, font);
  }

  .title-small {
    font: mat.get-theme-typography($theme, title-small, font);
  }


}

@mixin theme($theme) {
  @if(mat.theme-has($theme, color)) {
    @include color($theme);
  }

  @if(mat.theme-has($theme, typography)) {
    @include base-typography($theme);
  }
}