@use "@angular/material" as mat;

@use "./theme-colors" as palette;

@use "./base.scss" as base;

@use "./button.scss";
@use "./badge";
@use "./messages-pane";
@use "./table";
@use "./dense-list.theme";
@use "./input";
@use "./select";
@use "./progress-bar";
@use "./form-field";
@use "./checkbox";


html {

  color-scheme: light dark;
  @include mat.theme((color: (primary: palette.$primary-palette,
        tertiary: palette.$tertiary-palette,
      ),
      density: (scale: -1),
      typography: (plain-family: 'Roboto',
        brand-family: 'Roboto',
        regular-weight: 400,
        medium-weight: 500,
        bold-weight: 700,
      )));

  @include mat.system-classes();

}

body {

  @include mat.elevation-classes();

  @include base.theme();
  @include button.theme();
  @include form-field.theme();
  @include checkbox.theme();
  @include table.theme();
  @include messages-pane.theme();
  @include badge.theme();
  @include select.theme();
  @include input.theme();
  @include dense-list.theme();
  @include progress-bar.theme();


}