<div [innerHTML]="replaceBr(message.html || message.plain)">
</div>

<app-attachments [attachments]="message.attachments" #attachmentList>
</app-attachments>

<mat-action-row *ngIf="message.hasAttachment">
    <button mat-button (click)="onCreateJob(attachmentList.selected)"
        [disabled]="!attachmentList.selected?.length || (busy$ | async)">
        SAGLABĀT
    </button>
</mat-action-row>

<mat-card-footer *ngIf="busy$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card-footer>