.message {
    display: flex;
}

.message > span:last-of-type {
    margin-left: auto;
}

.snippet {
    display: flex;
}

.snippet > span {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
