.message,
.snippet {
    display: flex;
}

.message > span:nth-of-type(2) {
    margin-left: auto;
}

.snippet > span:nth-of-type(1) {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
