<mat-card>

    <mat-card-content *ngIf="expanded; else snippet">
        <div class="message" (click)="expanded = false">
            <span [innerHTML]="replaceBr(message.html || message.plain)"></span>
            <span *ngIf="message.hasAttachment">
                <mat-icon>
                    attachment
                </mat-icon>
            </span>
        </div>

        <app-attachments [attachments]="message.attachments" #attachmentList>
        </app-attachments>

        <mat-card-actions *ngIf="message.hasAttachment">
            <button mat-raised-button (click)="createJob(attachmentList.selected)"
                [disabled]="!attachmentList.selected?.length || (busy$ | async)">
                SAGLABĀT
            </button>
        </mat-card-actions>

        <mat-card-footer *ngIf="busy$ | async">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>

    </mat-card-content>

    <ng-template #snippet>
        <mat-card-content class="snippet" (click)="expanded = true">
            <span [innerHTML]="message.snippet">
            </span>
            <span *ngIf="message.hasAttachment">
                <mat-icon>
                    attachment
                </mat-icon>
            </span>
        </mat-card-content>
    </ng-template>


</mat-card>