.container {
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.snippet {
    display: flex;
    align-items: center;
}

.snippet > span:last-of-type {
    margin-left: auto;
}
.snippet > span:first-of-type {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
