:host {
    padding: 16px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 16px;
}

#customer,
#product,
#comment,
#name {
    min-width: 300px;
    flex: 1;
}