<form [formRoot]="jobForm">
  <mat-card>
    <mat-card-content>
      <div class="inputs">
        <mat-form-field id="receivedDate">
          <mat-label> Datums </mat-label>
          <input matInput [matDatepicker]="receivedPicker" [formField]="jobForm.receivedDate" />
          <mat-datepicker-toggle matIconSuffix [for]="receivedPicker" />
          <mat-datepicker #receivedPicker />
        </mat-form-field>

        <mat-form-field id="customer">
          <mat-label> Klients </mat-label>
          <input
            matInput
            [formField]="jobForm.customer"
            [matAutocomplete]="autoC"
            [appAutocompleteFilter]="customerNames()"
            #filterC="appAutocompleteFilter"
          />
          <button type="button" matIconSuffix matIconButton (click)="jobForm.customer().reset('')" tabIndex="-1">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete
            #autoC="matAutocomplete"
            requireSelection
            autoActiveFirstOption
            (optionSelected)="filterC.reset()"
            hideSingleSelectionIndicator
          >
            @for (customer of filterC.options(); track customer) {
              <mat-option [value]="customer">
                {{ customer }}
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field id="product">
          <mat-label>Izstrādājums</mat-label>
          <input
            matInput
            [formField]="jobForm.product"
            [matAutocomplete]="autoP"
            [appAutocompleteFilter]="productNames()"
            #filterP="appAutocompleteFilter"
          />
          <button type="button" matIconSuffix matIconButton (click)="jobForm.product().reset('')" tabIndex="-1">
            <mat-icon> close </mat-icon>
          </button>
          <mat-autocomplete
            #autoP="matAutocomplete"
            requireSelection
            autoActiveFirstOption
            (optionSelected)="filterP.reset()"
            hideSingleSelectionIndicator
          >
            @for (product of filterP.options(); track $index) {
              <mat-option [value]="product">
                {{ product }}
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="inputs">
        <mat-form-field id="name">
          <mat-label> Nosaukums </mat-label>
          <input matInput [formField]="jobForm.name" (keyup.enter)="jobNameEnter()" />
          <mat-error>
            @for (error of jobForm.name().errors(); track error) {
              {{ error.message }}
            }
          </mat-error>
        </mat-form-field>

        <mat-form-field id="count">
          <mat-label> Skaits </mat-label>
          <input matInput type="number" [formField]="jobForm.count" />
        </mat-form-field>
      </div>

      <div class="inputs">
        <mat-form-field id="comment">
          <mat-label> Komentārs </mat-label>
          <textarea matInput [formField]="jobForm.comment" rows="1" cdkTextareaAutosize></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button matButton type="submit" [disabled]="jobForm().valid() === false">Saglabāt</button>
    </mat-card-actions>
  </mat-card>
</form>
