<app-simple-form-typed-container>

    <form [formGroup]="form">

        <h2 *ngIf="isNew; else existing">
            <mat-form-field>
                <mat-label>Klienta nosaukums</mat-label>
                <input matInput formControlName="CustomerName" placeholder="Nosaukums" autocomplete="off" required>
                <mat-error *ngIf="form.controls.CustomerName.hasError('required')">
                    Nosaukums jāievada obligāti!
                </mat-error>
                <mat-error *ngIf="form.controls.CustomerName.hasError('occupied')">
                    Nosaukums jau tiek izmantots
                </mat-error>
            </mat-form-field>
        </h2>

        <ng-template #existing>
            <h2>
                {{form.controls.CustomerName.value}}
            </h2>
        </ng-template>

        <mat-accordion multi>
            <mat-expansion-panel expanded [hideToggle]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Pamatinformācija
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- Kods -->
                <section>
                    <mat-form-field>
                        <mat-label>Klienta kods</mat-label>
                        <input matInput appInputUppercase formControlName="code" placeholder="Kods" autocomplete="off">
                        <mat-error *ngIf="form.controls.code.hasError('required')">
                            Kodu jāievada obligāti!
                        </mat-error>
                        <mat-error *ngIf="form.controls.code.hasError('occupied')">
                            Kods jau tiek izmantots
                        </mat-error>
                    </mat-form-field>
                </section>
                <!-- apraksts -->
                <section>
                    <mat-form-field>
                        <input matInput formControlName="description" placeholder="Apraksts" autocomplete="off">
                    </mat-form-field>
                </section>
                <mat-divider></mat-divider>
                <!-- ftp folderis -->
                <section>
                    <mat-checkbox class="input-element" formControlName="ftpUser" #ftpUser
                        (change)="onFtpUserState($event)">
                        FTP lietotājs
                    </mat-checkbox>
                    <app-ftp-user [class.hidden]="form.controls.ftpUserData.disabled" formControlName="ftpUserData">
                    </app-ftp-user>
                </section>
                <mat-divider></mat-divider>
                <!-- Neaktīvs -->
                <section>
                    <mat-checkbox class="input-element" formControlName="disabled">
                        Neaktīvs
                    </mat-checkbox>
                </section>

            </mat-expansion-panel>

            <mat-expansion-panel expanded [hideToggle]="true">

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Kontaktinformācija
                    </mat-panel-title>
                    <mat-panel-description>
                        Klienta e-pasti
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <app-customer-contacts formControlName="contacts"></app-customer-contacts>

            </mat-expansion-panel>

            <!-- Paytraq panelis -->
            <mat-expansion-panel #paytraqPanel [disabled]="paytraqDisabled$ | async">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Sasaiste ar Paytraq
                    </mat-panel-title>
                    <mat-panel-description *ngIf="form.value.financial?.paytraqId">
                        {{form.value.financial.paytraqId}} /
                        {{form.value.financial.clientName}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <app-paytraq-customer formControlName="financial" [customer]="form.value"></app-paytraq-customer>

            </mat-expansion-panel>

        </mat-accordion>

    </form>

</app-simple-form-typed-container>