form {
  height: 100%;
}

.content {
  padding: 16px;
}

mat-form-field.full-width {
  width: 100%;
}

mat-card {
  margin-top: 16px;
}

.mat-mdc-card-header {
  margin-bottom: 16px;
}

.customer-name {
  margin-top: 16px;
}

section {
  margin: 8px 0;
}

span[matIconSuffix].spinner {
  width: 28px;
  padding-right: 8px;
  display: flex;
}

mat-card#shipping-address {
  .flex-row {
    display: flex;
    column-gap: 16px;
    align-items: baseline;

    .flex-1 {
      flex: 1;
    }
  }

}

mat-card#email {
  .email {
    cursor: pointer;
  }

  .invalid .email {
    color: var(--mat-sys-error);
  }

  div.email-row {
    display: flex;
    align-items: baseline;
  }

}