<app-module-group [formGroup]="prefForm" (reseting)="onResetAll()" (saving)="onSaveAll()">

    <app-preferences-card formControlName="system">
        <ng-container appCardTitle>
            Vispārīgie iestatījumi
        </ng-container>
        <app-system-preferences></app-system-preferences>
    </app-preferences-card>

    <app-preferences-card formControlName="kastes">
        <ng-container appCardTitle>
            Pakošanas saraksta iestatījumi
        </ng-container>
        <app-kastes-preferences></app-kastes-preferences>
    </app-preferences-card>

    <app-preferences-card formControlName="jobs">
        <ng-container appCardTitle>
            Darbu uzskaites iestatījumi
        </ng-container>
        <app-jobs-preferences></app-jobs-preferences>
    </app-preferences-card>

</app-module-group>