<app-module-group [formGroup]="prefForm" (resetForm)="onResetAll()" (save)="onSaveAll()" [pristine]="prefForm.pristine" [valid]="prefForm.valid">
  <app-preferences-card>
    <ng-container appCardTitle> Vispārīgie iestatījumi </ng-container>
    <app-system-preferences formControlName="system" />
  </app-preferences-card>

  <app-preferences-card>
    <ng-container appCardTitle> Darbu uzskaites iestatījumi </ng-container>
    <app-jobs-preferences formControlName="jobs" />
  </app-preferences-card>

  <app-preferences-card>
    <ng-container appCardTitle> PayTraq grāmatvedības savienojums </ng-container>
    <app-paytraq-preferences formControlName="paytraq" />
  </app-preferences-card>

  <app-preferences-card>
    <ng-container appCardTitle> Pakošanas saraksta iestatījumi </ng-container>
    <app-kastes-preferences formControlName="kastes" />
  </app-preferences-card>

  <app-preferences-card>
    <ng-container appCardTitle> Transportēšanas iestatījumi </ng-container>
    <app-transportation-preferences formControlName="transportation" />
  </app-preferences-card>
</app-module-group>
