@use "@angular/material" as mat;

@mixin app-table-color($config) {

  $primary: map-get($config, primary);
  $accent: map-get($config, accent);


  .app-table tbody tr,
  .app-table .mat-mdc-row,
  .app-table.mat-mdc-table .mat-mdc-row {
    &:hover {
      background-color: mat.m2-get-color-from-palette($primary, "lighter");
      border-bottom-color: mat.m2-get-color-from-palette($primary, "darker");
    }

    &.selected {
      background-color: mat.m2-get-color-from-palette($primary, 50);
    }
  }
}

@mixin app-table-typography($config-or-theme) {

  $config: mat.m2-get-typography-config($config-or-theme);

  .app-table tbody tr,
  .app-table .mat-mdc-row {
    &:hover {
      font-weight: 800;
      // font-weight: mat.font-weight($config, body+3);
    }
  }
}

@mixin app-table() {

  table.app-table,
  .mat-mdc-table.app-table {
    width: 100%;
    cursor: pointer;
  }
}

@mixin theme($theme) {
  // Extracts the color and typography configurations from the theme.
  $color: mat.m2-get-color-config($theme);
  $typography: mat.m2-get-typography-config($theme);

  // Do not generate styles if configurations for individual theming
  // systems have been explicitly set to `null`.
  @if $color !=null {
    @include app-table-color($color);
  }

  @if $typography !=null {
    @include app-table-typography($typography);
  }

  @include app-table();
}