.mat-mdc-nav-list {
  width: 250px;
}

.tree-invisible {
  display: none;
}

.tree-indent {
  padding-left: 16px;
}

mat-list-item,
mat-tree-node {
  &.active {
    background-color: var(--primary-lighter);
    color: var(--primary-contrast);

    &:hover {
      background-color: var(--primary-color);
      color: var(--primary-darker-contrast);
    }
  }
}

.active>a:hover {
  color: var(--primary-darker-contrast);
}