<mat-nav-list>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
        <mat-tree-node *matTreeNodeDef="let node;" matTreeNodeToggle [class.active]="node.routeStr === activeRoute">
            <a mat-list-item [routerLink]="node.route">
                {{node.name}}
            </a>
        </mat-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild;">
            <mat-list-item [class.active]="node.routeStr === activeRoute">
                <a [routerLink]="node.route" (click)="treeControl.expand(node)">
                    {{node.name}}
                </a>
                <button mat-icon-button matTreeNodeToggle>
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
            </mat-list-item>
            <div [class.tree-invisible]="!treeControl.isExpanded(node)" class="tree-indent">
                <ng-container matTreeNodeOutlet></ng-container>
            </div>
        </mat-nested-tree-node>
    </mat-tree>
</mat-nav-list>