@use "src/zmg-styles.scss" as zmg;

.mat-nav-list {
  width: 250px;
}

.tree-invisible {
  display: none;
}

.tree-indent a {
  padding-left: 16px;
}

.mat-list-item,
.mat-tree-node {
  &.active {
    background-color: zmg.mat-color(zmg.$primary, lighter);
    color: zmg.mat-color(zmg.$primary, "primary-contrast");

    &:hover {
      background-color: zmg.mat-color(zmg.$primary);
      color: zmg.mat-color(zmg.$primary, "darker-contrast");
    }
  }
}

.active>a:hover {
  color: zmg.mat-color(zmg.$primary, "darker-contrast");
}
