@use '~@angular/material' as mat;
@use "src/zmg-styles.scss" as zmg;

.mat-nav-list {
  width: 250px;
}

.tree-invisible {
  display: none;
}

.tree-indent a {
  padding-left: 16px;
}

.mat-list-item,
.mat-tree-node {
  &.active {
    background-color: mat.get-color-from-palette(zmg.$primary, lighter);
    color: mat.get-color-from-palette(zmg.$primary, "primary-contrast");

    &:hover {
      background-color: mat.get-color-from-palette(zmg.$primary);
      color: mat.get-color-from-palette(zmg.$primary, "darker-contrast");
    }
  }
}

.active > a:hover {
  color: mat.get-color-from-palette(zmg.$primary, "darker-contrast");
}
