@let noInvoices = noInvoices$ | async;
<mat-drawer-container>
  <mat-drawer button class="mat-elevation-z4">
    @if (noInvoices) {
      <app-jobs-without-invoices [noInvoices]="noInvoices" (customerChange)="onSelectCustomer($event)" />

      <mat-divider></mat-divider>

      <app-selection-totals [invoicesTotals]="invoicesTotals()" />
    }
  </mat-drawer>

  <mat-drawer-content appViewSize #viewSize="viewSize">
    <mat-card>
      <mat-card-content>
        @if (noInvoices) {
          <app-customer-selector [customers]="noInvoices" [customer]="customer()" (customerChange)="onSelectCustomer($event)" />
        }
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button (click)="onCreateInvoice()" color="primary" [disabled]="selectedJobs().length === 0 || !customer()">APRĒĶINS</button>
        <button mat-button (click)="onPrintList()" [disabled]="selectedJobs().length === 0">IZDRUKĀT</button>
      </mat-card-actions>
    </mat-card>

    @if (jobs$ | async; as jobs) {
      <!-- Darbu atlase -->
      <app-job-selection-table
        [jobs]="jobs"
        [large]="viewSize.isLarge()"
        [selected]="selectedJobs()"
        (selectedChange)="selectedJobs.set($event)"
        [total]="grandTotal()"
        scroll-to-top
        scrollToTopRight="140px"
      />
    }
  </mat-drawer-content>
</mat-drawer-container>
