<mat-drawer-container>
    <mat-drawer button class="mat-elevation-z4">
        <app-jobs-without-invoices [noInvoices]="noInvoices$ | async"
            (customerChanges)="onSelectCustomer($event)"></app-jobs-without-invoices>

        <mat-divider></mat-divider>

        <app-selection-totals [invoicesTotals]="invoicesTotals()"></app-selection-totals>

    </mat-drawer>

    <mat-drawer-content appViewSize #viewSize="viewSize">

        <mat-card>

            <mat-card-content>
                <app-customer-selector [customers]="noInvoices$ | async"></app-customer-selector>
            </mat-card-content>

            <mat-card-actions>

                <button mat-raised-button (click)="onCreateInvoice()" color="primary"
                    [disabled]="selectedJobs().length == 0 || customerId() ===''">
                    APRĒĶINS
                </button>
                <button mat-button (click)="onPrintList()" [disabled]="selectedJobs().length == 0">
                    IZDRUKĀT
                </button>

            </mat-card-actions>

        </mat-card>


        <!-- Darbu atlase -->
        <app-job-selection-table [jobs]="jobs()" [large]="viewSize.isLarge" [selected]="selectedJobs()"
            (selectedChange)="selectedJobs.set($event)" [total]="grandTotal()" scroll-to-top scrollToTopRight="140px">
        </app-job-selection-table>

    </mat-drawer-content>
</mat-drawer-container>