:host {
    display: block;
    height: 100%;
}

mat-drawer-container {
    height: 100%;
}

mat-drawer {
    width: 280px;
}

.mat-mdc-card {
    margin: 16px;
}


mat-drawer-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.mat-mdc-card>* {
    margin-right: 16px;
}