<mat-form-field>
    <input matInput type="text" [formControl]="productNameControl" [matAutocomplete]="auto" #name>
    <button mat-icon-button matSuffix (click)="productNameControl.setValue('')" tabindex="-1"
        [disabled]="productNameControl.disabled">
        <mat-icon>
            clear
        </mat-icon>
    </button>
    <mat-error *ngIf="this.productNameControl.hasError('invalidProduct');">
        {{ this.productNameControl.getError('invalidProduct') }}
    </mat-error>
</mat-form-field>


<mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="true">
    <mat-optgroup label="KLIENTA">
        <mat-option *ngFor="let product of firstProducts$ | async" [value]="product.productName">
            {{product.productName}}
        </mat-option>
    </mat-optgroup>
    <mat-optgroup label="VISI">
        <mat-option *ngFor="let product of restProducts$ | async" [value]="product.productName">
            {{product.productName}}
        </mat-option>
    </mat-optgroup>
</mat-autocomplete>