<mat-form-field>
    <input matInput type="text" [formControl]="productsControl" [matAutocomplete]="auto" #name>
    <button mat-icon-button matSuffix (click)="productsControl.setValue('')" tabindex="-1" [disabled]="productsControl.disabled">
        <mat-icon>
            clear
        </mat-icon>
    </button>
    <mat-error *ngIf="invalidProduct$ | async as err;">
        {{err}}
    </mat-error>
</mat-form-field>


<mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="true">
    <mat-optgroup label="KLIENTA">
        <mat-option *ngFor="let product of firstProducts$ | async" [value]="product.productName">
            {{product.productName}}
        </mat-option>
    </mat-optgroup>
    <mat-optgroup label="VISI">
        <mat-option *ngFor="let product of restProducts$ | async" [value]="product.productName">
            {{product.productName}}
        </mat-option>
    </mat-optgroup>
</mat-autocomplete>