@if (invoice().paytraq; as paytraq) {
  <div class="button-row">
    <a mat-raised-button [href]="paytraqUrl() + paytraq.paytraqId" target="new">
      {{ paytraq.documentRef }}
    </a>
    <button mat-raised-button color="warn" (click)="onUnlinkPaytraq()" matTooltip="Dzēst savienojumu">ATVIENOT</button>
  </div>
} @else {
  <button mat-raised-button [disabled]="canCreatePaytraq() === false || busy() === true" (click)="onPaytraq()">
    @if (busy()) {
      <span> SAGLABĀ... </span>
    } @else {
      <span> UZ PAYTRAQ </span>
    }
  </button>
}
