<mat-card>
  <mat-card-header>
    <mat-card-title> Paytraq pavadzīme </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (invoice().customerInfo?.financial?.clientName; as name) {
      {{ name }}
    }
  </mat-card-content>

  <mat-card-actions>
    @if (paytraqUrl(); as paytraqUrl) {
      @if (invoice().paytraq; as paytraq) {
        <div class="button-row">
          <a matButton="elevated" [href]="paytraqUrl + paytraq.paytraqId" target="new">
            {{ paytraq.documentRef }}
          </a>
          <button matButton="elevated" class="warn" (click)="onUnlinkPaytraq()" matTooltip="Dzēst savienojumu">
            Atvienot
          </button>
        </div>
      } @else {
        <button matButton="elevated" [disabled]="canCreatePaytraq() === false || busy() === true" (click)="onPaytraq()">
          @if (busy()) {
            <span> Saglabā... </span>
          } @else {
            <span> Uz PayTraq </span>
          }
        </button>
      }
    }
  </mat-card-actions>
</mat-card>
