:host {
  display: block;
  padding-block: 16px;
}

mat-expansion-panel-header.invalid mat-panel-title {
  color: var(--sys-error);
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-top: 16px;

  :last-child {
    margin-left: auto;
  }

}

mat-panel-description {
  overflow: hidden;

  .description {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
}
