<div *ngIf="invoice$ | async as invoice;">
    <section>
        <h3>
            Aprēķins nr. {{invoice.invoiceId}}
        </h3>
        <p>
            {{invoice.createdDate | date}}
        </p>
        <P>
            Klients: <b>{{invoice.customerInfo.CustomerName}} </b>
            <span *ngIf="invoice.customerInfo.financial">
                ({{invoice.customerInfo.financial.clientName}})
            </span>
        </P>
    </section>
    <section>
        <h4>
            Preces
        </h4>
        <div>
            <app-invoice-products [products]="invoice.products" [total]="invoice.total"></app-invoice-products>
        </div>
    </section>
    <section>
        <h4>
            Eksports
        </h4>
        <button mat-raised-button (click)="onPdfDownload(invoice)">PDF</button>
        <button mat-raised-button (click)="onCsvInvoice(invoice)">CSV PAVADZĪMEI</button>
        <button mat-raised-button (click)="onCsvReport(invoice)">CSV SARAKSTS</button>
    </section>
    <section>
        <h4>
            Iekļautie darbi
        </h4>
        <app-job-selection-table [jobs]="invoice.jobs" disabled></app-job-selection-table>
    </section>
</div>