<ng-container *ngIf="invoice$ | async as invoice;">

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onCsvInvoice(invoice)">
            <mat-icon>file_download</mat-icon>
            <span> CSV PAVADZĪMEI </span>
        </button>
        <button mat-menu-item (click)="onCsvReport(invoice)">
            <mat-icon>file_download</mat-icon>
            <span> CSV SARAKSTS </span>
        </button>
        <button mat-menu-item [appInvoiceDelete]="invoice.invoiceId"
            appAfterDeleteMessage="Aprēķins {{invoice.invoiceId}} izdzēsts">
            <mat-icon>delete_forever</mat-icon>
            <span> DZĒST </span>
        </button>
    </mat-menu>

    <mat-toolbar>
        <span>
            <button mat-mini-fab routerLink="..">
                <mat-icon>
                    arrow_back
                </mat-icon>
            </button>
        </span>

        <span class="distancer"></span>

        <span>
            {{invoice.invoiceId}} {{invoice.customerInfo.CustomerName}}
        </span>

        <span class="spacer"></span>

        <a mat-icon-button href="/data/invoices/report_{{invoice.invoiceId}}.pdf" target="new" matTooltip="Atvērt PDF">
            <mat-icon>
                picture_as_pdf
            </mat-icon>
        </a>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>
                more_vert
            </mat-icon>
        </button>

    </mat-toolbar>


    <div class="container" appViewSize #viewSize="viewSize">

        <p> {{invoice.createdDate | date}} </p>

        <mat-accordion multi>
            <!-- Paytraq -->
            <mat-expansion-panel *ngIf="pyatraqEnabled$ | async" expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Paytraq pavadzīme
                    </mat-panel-title>
                    <mat-panel-description *ngIf="invoice.customerInfo.financial?.clientName">
                        ({{invoice.customerInfo.financial.clientName}})
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <app-invoice-paytraq [invoice]="invoice" (paytraqUpdate)="onReload()"></app-invoice-paytraq>

            </mat-expansion-panel>

            <!-- Preces -->
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Preces
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ invoice.total | currency}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <app-invoice-products [products]="invoice.products" [total]="invoice.total"></app-invoice-products>

            </mat-expansion-panel>

            <!-- Darbi -->
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Darbi
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-job-selection-table [jobs]="invoice.jobs" disabled [large]="viewSize.isLarge">
                </app-job-selection-table>

            </mat-expansion-panel>

        </mat-accordion>
    </div>

</ng-container>