<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onCsvInvoice()">
    <mat-icon>file_download</mat-icon>
    <span> CSV pavadzīmei </span>
  </button>
  <button mat-menu-item (click)="onCsvReport()">
    <mat-icon>file_download</mat-icon>
    <span> CSV saraksts </span>
  </button>
  <button mat-menu-item (click)="onDelete()">
    <mat-icon>delete_forever</mat-icon>
    <span> Dzēst </span>
  </button>
</mat-menu>

<mat-toolbar class="mat-elevation-z4">
  <span>
    <a matIconButton routerLink="..">
      <mat-icon> arrow_back </mat-icon>
    </a>
  </span>

  <span class="distancer"></span>

  <span> {{ invoice().invoiceId }} {{ invoice().customerInfo?.CustomerName ?? '' }} </span>

  <span class="spacer"></span>

  <a matIconButton href="/data/invoices/report_{{ invoice().invoiceId }}.pdf" target="new" matTooltip="Atvērt PDF">
    <mat-icon> picture_as_pdf </mat-icon>
  </a>
  <button matIconButton [matMenuTriggerFor]="menu">
    <mat-icon> more_vert </mat-icon>
  </button>
</mat-toolbar>

<div class="container" appViewSize #viewSize="viewSize">
  <h4>{{ invoice().createdDate | date }}</h4>

  <!-- Paytraq -->
  @if (pyatraqEnabled()) {
    <app-invoice-paytraq
      [invoice]="invoice()"
      [busy]="busy()"
      (saveToPaytraq)="onSaveToPaytraq()"
      (unlinkPaytraq)="onUnlinkPaytraq()"
    />
  }

  <!-- Preces -->
  <mat-card>
    <mat-card-header>
      <mat-card-title> Preces </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-invoice-products [invoice]="invoice()" [pyatraqEnabled]="pyatraqEnabled()" [isJobsAdmin]="isJobsAdmin()" />
    </mat-card-content>
  </mat-card>

  <!-- Darbi -->
  <mat-card>
    <mat-card-header>
      <mat-card-title> Darbi </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-job-selection-table
        [jobs]="invoice().jobs ?? []"
        disabled
        [large]="viewSize.isLarge()"
        [total]="invoice().total ?? 0"
      />
    </mat-card-content>
  </mat-card>
</div>
