<ul *ngIf="progress;">
    <li *ngFor="let progr of progress; trackBy: trackByFn;" @collapseAnimation>
        <mat-divider></mat-divider>
        <div class="filename">
            {{progr.name}}
        </div>
        <mat-progress-bar mode="determinate" [value]="progressPercent(progr)"></mat-progress-bar>
        <div *ngIf="isWaiting(progr)">
            Gaida rindā...
        </div>
        <div *ngIf="isProgress(progr)">
            {{progressPercent(progr)}}%
        </div>
        <div *ngIf="isComplete(progr)">
            Augšupielāde pabeigta!
        </div>
    </li>
</ul>