.count {
    font-weight: 800;
    margin-left: auto;
}

.mat-mdc-list-item {
    cursor: default;
    height: 40px;
}

.mat-mdc-list-item:hover {
    background-color: rgba($color: #000000, $alpha: 0.04);
}

.mat-mdc-list-item-line {
    display: flex;
}