:host {
  display: block;
  padding: 16px 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 8px;

  cursor: pointer;

  &:hover {
    color: var(--sys-on-surface);
    background-color: var(--sys-surface-container-highest);
  }

  .amount {
    margin-left: auto;

    .count {
      font-weight: bold;
    }
  }
}
