<mat-form-field>
    <input matInput [formControl]="control" [matAutocomplete]="auto" #name required>
    <button mat-icon-button matIconSuffix (click)="control.setValue('')" tabindex="-1" [disabled]="control.disabled">
        <mat-icon>
            clear
        </mat-icon>
    </button>
    <mat-error *ngIf="this.control.hasError('invalidProduct');">
        {{ this.control.getError('invalidProduct') }}
    </mat-error>
</mat-form-field>


<mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="true">
    <mat-optgroup label="KLIENTA">
        <mat-option *ngFor="let product of firstProducts$ | async" [value]="product.productName">
            {{product.productName}}
        </mat-option>
    </mat-optgroup>
    <mat-optgroup label="VISI">
        <mat-option *ngFor="let product of restProducts$ | async" [value]="product.productName">
            {{product.productName}}
        </mat-option>
    </mat-optgroup>
</mat-autocomplete>