<div *ngIf="customer$ | async as customer;">
    <!-- Lietotāja nosaukums (nelabojams) -->
    <section>
        <h2>{{customer.CustomerName}}</h2>
        <small *ngIf="customer.insertedFromXmf">
            Pievienots no XMF arhīva {{customer.insertedFromXmf}}
        </small>
    </section>
    <!-- Labošanas forma -->
    <form [formGroup]="customerForm">
        <section class="input-element">
            <!-- Kods -->
            <mat-form-field>
                <mat-label>Klienta kods</mat-label>
                <input matInput appFocused formControlName="code" placeholder="Kods" autocomplete="off">
                <mat-error *ngIf="code.hasError('required')">
                    Kodu jāievada obligāti!
                </mat-error>
                <mat-error *ngIf="code.hasError('occupied')">
                    Kods jau tiek izmantots
                </mat-error>
            </mat-form-field>
            <!-- apraksts -->
            <mat-form-field>
                <input matInput formControlName="description" placeholder="Apraksts" autocomplete="off">
            </mat-form-field>
            <!-- Neaktīvs -->
            <mat-checkbox class="input-element" formControlName="disabled">
                Neaktīvs
            </mat-checkbox>
        </section>
        <mat-divider></mat-divider>
        <section formGroupName="financial" class="input-element">
            <mat-form-field>
                <mat-label>
                    Klienta nosaukums grāmatvedības sistēmā
                </mat-label>
                <input matInput formControlName="clientName">
            </mat-form-field>
        </section>
        <mat-divider></mat-divider>
    </form>
    <!-- Pogas -->
    <section>
        <button mat-raised-button color="primary" [disabled]="!customerForm.valid || customerForm.pristine"
            (click)="onSave()">SAGLABĀT</button>
        <button mat-raised-button [disabled]="customerForm.pristine"
            (click)="onRestore(customer._id)">ATCELT</button>
    </section>
</div>