:host {
    height: 100%;
}

cdk-virtual-scroll-viewport {
    height: 100%;
}

mat-table mat-row:hover {
    cursor: pointer;
}

mat-cell,
mat-header-cell {
    padding: 0 4px;
}

.job-completed mat-column {
    color: var(--sys-on-surface-variant);
}

mat-cell:first-of-type,
mat-header-cell:first-of-type {
    padding-left: 8px;
}

mat-cell:last-of-type,
mat-header-cell:last-of-type {
    padding-right: 8px;
}

.mat-column-state {
    flex: 48px 0 0;
}

.mat-column-jobId {
    flex: 4em 0 0;
}

.mat-column-customer {
    flex: 3em 0 0;
}

.mat-column-date {
    flex: 6em 0 0;
}

mat-row:hover .mat-column-name {
    .job-name .buttons {
        display: inherit;
    }
}

.mat-column-name {
    align-items: center;
    max-width: 100%;

    .job-name {

        width: 100%;
        display: flex;
        align-items: center;
        max-width: 100%;

        &.job-name-large {
            width: 60%;
        }

        .name-text {
            flex: 1 1 400px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .buttons {
            display: none;
            flex: 0 0 40px;
            padding-inline: 8px;

            .mat-icon {
                font-size: 18px;
            }
        }
    }

    .product {
        width: 40%;
        display: flex;

        .product-name {
            flex: 1 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .product-count,
        .product-units {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .product-count {
            flex: 4em 0 0;
            text-align: right;
        }

        .product-units {
            flex: 4em 0 0;
            padding-inline-start: 4px;
        }


    }


}

.column-jobId button[matButton].matButton {
    padding: 0;
}

.highlited {
    background-color: var(--mat-sys-surface-container-high);
    transition-duration: 0.5s;
}

.highlited-product {
    font-weight: bold;
}