:host {
    display: block;
    height: 100%;
    overflow: auto;
}

table {
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    border-spacing: 0;
    border-collapse: separate;
}

tbody tr:hover {
    cursor: pointer;
}

td,
th {
    display: table-cell;
    padding: 0 4px;
    font-size: 14px;
    color: var(--sys-on-surface);
    border-bottom-color: var(--sys-outline-variant);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: left;
    height: 41px;

    >* {
        max-height: 41px;
    }
}

.job-completed td {
    color: var(--sys-on-surface-variant);
}

th:first-of-type,
td:first-of-type {
    padding-left: 8px;
}

.column-state {
    width: 24px;
}

.column-jobId {
    width: 2.7em;
}

.column-customer {
    width: 1.8em;
}

.column-date {
    width: 5.5em;
}

.column-productsObj-name {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column-productsObj-count,
.column-productsObj-units {
    width: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column-productsObj-count {
    text-align: right;
}

.column-jobId button[matButton].matButton {
    padding: 0;
}

.column-name div {
    display: flex;
    align-items: center;
}

.column-name span.name {
    flex: 1 1 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column-name span.buttons {
    display: none;
    flex: 0 0 40px;
}

.column-name .mat-icon {
    font-size: 18px;
}

tr:hover td.column-name span.buttons {
    display: inherit;
}

.highlited {
    background-color: var(--sys-surface-container-high);
    transition-duration: 0.5s;
}

.highlited-product {
    font-weight: bold;
}