@let highlited = highlitedJobId();
@let large = isLarge();
<cdk-virtual-scroll-viewport itemSize="48" templateCacheSize="0" scroll-to-top minBufferPx="1000" maxBufferPx="3000">
  <mat-table [dataSource]="jobs()" class="app-table">
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
      <mat-cell *matCellDef="let job">
        @if (job?.jobStatus?.generalStatus === 20) {
          <mat-icon> label_important </mat-icon>
        }
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="jobId">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let job">{{ job?.jobId }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="customer">
      <mat-header-cell *matHeaderCellDef> Kl. </mat-header-cell>
      <mat-cell *matCellDef="let job">
        {{ job?.custCode }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Datums </mat-header-cell>
      <mat-cell *matCellDef="let job">
        {{ job?.dueDate | date: 'dd.MM.yyyy' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        <div class="job-name" [class.job-name-large]="large">Nosaukums</div>
        @if (large) {
          <div class="product">
            <div class="product-name">Izstrādājums</div>
            <div class="product-count">Skaits</div>
            <div class="product-units"></div>
          </div>
        }
      </mat-header-cell>
      <mat-cell *matCellDef="let job; index as idx">
        <div class="job-name" [class.job-name-large]="large">
          <span class="name-text">
            {{ job?.name }}
          </span>
          @if (large) {
            <span class="buttons">
              <button
                matIconButton
                [appCopyJobIdAndName]="job"
                (click)="$event.stopPropagation()"
                matTooltip="Kopēt nosaukumu"
              >
                <mat-icon>filter_none</mat-icon>
              </button>
              @switch (job?.jobStatus?.generalStatus) {
                @case (20) {
                  <button
                    matIconButton
                    matToolTip="Atzīmēt pabeigtu"
                    (click)="$event.stopPropagation(); onSetJobStatus(idx, job.jobId, 30)"
                  >
                    <mat-icon>check</mat-icon>
                  </button>
                }
                @case (10) {
                  <button
                    matIconButton
                    matToolTip="Darbs aktīvs"
                    (click)="$event.stopPropagation(); onSetJobStatus(idx, job.jobId, 20)"
                  >
                    <mat-icon>label_important</mat-icon>
                  </button>
                }
              }
            </span>
          } @else {
            @if (job) {
              <button
                matIconButton
                [matMenuTriggerFor]="jobMenu"
                (click)="$event.stopPropagation()"
                [matMenuTriggerData]="{ job, idx }"
              >
                <mat-icon> more_vert </mat-icon>
              </button>
            }
          }
        </div>
        @if (large) {
          <!-- Izstrādājums -->
          @let products = job?.products;
          <div class="product">
            @if (products && products.length > 0) {
              <div class="product-name">
                @for (product of products; track $index) {
                  <span [class.highlited-product]="product.name === highlited">
                    {{ product.name }}{{ $last ? '' : ',' }}
                  </span>
                }
              </div>
              @if (products.length === 1) {
                <!-- Skaits -->
                <div class="product-count">
                  {{ products[0].count }}
                </div>
                <!-- Mērvienības! -->
                <div class="product-units">{{ products[0].units }}</div>
              }
            }
          </div>
        }
      </mat-cell>
    </ng-container>

    <mat-row
      *matRowDef="let job; columns: visibleColumns()"
      [class.job-completed]="job?.invoiceId"
      [class.highlited]="hasProduct(job, highlited)"
      [appRouterLinkWithReturn]="[job?.jobId]"
    />
    <mat-header-row *matHeaderRowDef="visibleColumns()" />
  </mat-table>
</cdk-virtual-scroll-viewport>

<mat-menu #jobMenu="matMenu">
  <ng-template matMenuContent let-job="job" let-idx="idx">
    <button mat-menu-item [appCopyJobIdAndName]="job">
      <mat-icon>filter_none</mat-icon>
      <span>Kopēt nosaukumu</span>
    </button>
    @if (job.jobStatus.generalStatus === 20) {
      <button mat-menu-item (click)="onSetJobStatus(idx, job.jobId, 30)">
        <mat-icon>check</mat-icon>
        <span>Gatavs!</span>
      </button>
    }
    @if (job.jobStatus.generalStatus === 10) {
      <button mat-menu-item (click)="onSetJobStatus(idx, job.jobId, 20)">
        <mat-icon>label_important</mat-icon>
        <span>Ražošanā!</span>
      </button>
    }
  </ng-template>
</mat-menu>
