.container {
    height: 40px;

    & > div {
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.54);

        & > span:not(:first-child) {
            margin-left: 8px;
        }

        & .path {
            flex: 1 1 300px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.25;
        }
    }
}
