<div class="container">

    <mat-toolbar>
        <span>
            <button *ngIf="form" mat-raised-button (click)="saveForm.emit()" color="primary"
                [disabled]="!form.valid || form.pristine">
                SAGLABĀT
            </button>
            <button *ngIf="form" mat-raised-button (click)="resetForm.emit()" [disabled]="form.pristine">
                ATIESTATĪT
            </button>
        </span>
        <span class="spacer"></span>
        <span>
            <button mat-mini-fab color="primary" routerLink="../">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </span>
    </mat-toolbar>

    <div class="wrapper">
        <ng-content></ng-content>
        <!-- <ng-container #formContent></ng-container> -->
    </div>

</div>