<form [formGroup]="filterForm" class="filter-row">
    <!-- Darba numurs -->
    <section>
        <mat-form-field>
            <mat-label>Darba numurs</mat-label>
            <input matInput type="text" formControlName="jobsId">
            <button mat-icon-button matSuffix (click)="onReset('jobsId')">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-form-field>
    </section>
    <!-- Teksta meklēšana -->
    <section>
        <mat-form-field class="search">
            <mat-label>Nosaukums</mat-label>
            <input matInput type="text" formControlName="name">
            <button mat-icon-button matSuffix (click)="onReset('name')">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-form-field>
    </section>
    <!-- Klients -->
    <section>
        <mat-form-field>
            <mat-label>Klients</mat-label>
            <input matInput type="text" formControlName="customer" [matAutocomplete]="auto">
            <button mat-icon-button matSuffix (click)="onReset('customer')">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-form-field>
    </section>
    <!-- Darbu statusi -->
    <section>
        <mat-selection-list formControlName="jobStatus" dense>
            <mat-list-option *ngFor="let status of jobStates$ | async" [value]="status.state" checkboxPosition="before">
                {{status.description}}
            </mat-list-option>
        </mat-selection-list>
    </section>
    <!-- Atiestatīt formu -->
    <button mat-raised-button color="primary" (click)="onReset()">
        ATIESTATĪT ATLASI
    </button>
</form>

<mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
    <mat-option *ngFor="let customer of customersFiltered$ | async" [value]="customer.CustomerName">
        {{customer.CustomerName}}
    </mat-option>
</mat-autocomplete>