.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.username {
  padding: 0 8px;
}

.sidenav-container {
  /* flex: 1; */
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-toolbar.mat-primary {
  /* position: sticky; */
  top: 0;
  z-index: 99;
}

.content {
  height: 100%;
}

.scroll-to-top {
  z-index: 99;
  position: fixed;
  bottom: 15px;
  right: 15px;
  /* opacity: 0; */
  transition: all .2s ease-in-out;
}

.show-scroll {
  opacity: 1;
  transition: all .2s ease-in-out;
}