<div class="main-container absolute">

  <!-- Lielais toolbar -->
  <app-toolbar (sideMenuToggle)="drawer.toggle()" class="toolbar"></app-toolbar>
  <!-- Galvenais konteineris -->
  <mat-sidenav-container class="sidenav-container">
    <!-- Kreisais (galvenais) menu -->
    <mat-sidenav #drawer class="mat-elevation-z4" [attr.role]="(isLarge$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isLarge$ | async) ? 'side' : 'over'" [opened]="opened$ | async">
      <app-side-menu></app-side-menu>
    </mat-sidenav>

    <!-- Galvenais saturs -->
    <mat-sidenav-content #content class="absolute">

      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>