app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
}

mat-sidenav {
  width: 250px;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  display: grid;
  grid-template-columns: repeat(16, [col-start] 1fr);
  grid-template-rows: auto auto 1fr auto;
}

.desktop .content {
  grid-template-rows: auto 1fr;
}

.content>* {
  grid-column: 1 / -1;
}

.main-panel {
  position: relative;
}

.desktop .top-panel {
  position: relative;
}

.desktop .left-panel {
  position: relative;
  grid-column: 1 / span 3;
  grid-row: 2;
}

.desktop .main-panel {
  position: relative;
  overflow-x: hidden;
  grid-column: 4 / -4;
  grid-row: 2 / 3;
}

.desktop .right-panel {
  grid-column: -4 / -1;
  grid-row: 2;
}

.scroll-to-top {
  z-index: 99;
  position: fixed;
  bottom: 15px;
  right: 25px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.show-scroll {
  opacity: 1;
  transition: all .2s ease-in-out;
}