.main-container {
  display: flex;
  flex-direction: column;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidenav-container {
  flex: 1;
}

mat-sidenav-content .content {
  display: flex;
  flex-direction: column;
}

.main-panel {
  flex: 1;
}

.right-panel {
  width: 280px;
  padding-bottom: 56px;
}

.right-button {
  position: fixed;
  bottom: 5px;
  right: -15px;
  z-index: 3;
  height: 40px;
  padding: 3px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  transition: all .2s ease-in-out;
}

.right-button:hover {
  right: 0;
  transition: all .2s ease-in-out;
}

.right-button.opened {
  right: 0;
  transition: all .2s ease-in-out;
}

/* Scroll button */

.scroll-to-top {
  z-index: 99;
  position: fixed;
  bottom: 15px;
  left: 25px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.show-scroll {
  opacity: 1;
  transition: all .2s ease-in-out;
}