.full-width {
    width: 100%;
}

.row {
    height: 56px;
    display: flex;
}

.column {
    flex: 1 1 auto;
}

.heading {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.50);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, .12);
    text-align: left;
}