<table mat-table [dataSource]="prices" class="full-width">
    <!-- Klients -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Klients</th>
        <td mat-cell *matCellDef="let customer;">{{customer.name}}</td>
    </ng-container>
    <!-- Cena -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Cena</th>
        <td mat-cell *matCellDef="let customer;">{{customer.price}}</td>
    </ng-container>
    <!-- Dzēšanas poga -->
    <ng-container matColumnDef="deleteRow">
        <th mat-header-cell *matHeaderCellDef>Dzēst</th>
        <td mat-cell *matCellDef="let customer;">
            <button mat-icon-button color="warn" (click)="onDeleteRow(customer)">
                <mat-icon>highlight_off</mat-icon>
            </button>
        </td>
    </ng-container>
    <!-- Beigu rinda ar pogām -->
    <ng-container matColumnDef="addRow">
        <td mat-footer-cell *matFooterCellDef colspan="columns.length">
            <button mat-icon-button (click)="onAppendPrice()">
                <mat-icon>add_circle</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>

    <tr mat-footer-row *matFooterRowDef="['addRow']"></tr>
</table>