<h2 mat-dialog-title>
    Mērvienība
</h2>
<form [formGroup]="unitsForm" (submit)="onSubmit()">
    <mat-dialog-content>
        <section>
            <mat-form-field>
                <mat-label>
                    Mērvienība
                </mat-label>
                <input matInput formControlName="shortName" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>
                    Apraksts
                </mat-label>
                <input matInput formControlName="description">
            </mat-form-field>
        </section>
        <section>
            <mat-checkbox formControlName="disabled">Neaktīvs</mat-checkbox>
        </section>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="undefined">
            ATCELT
        </button>
        <button mat-raised-button type="submit" color="accent" [disabled]="!unitsForm.valid || unitsForm.pristine">
            OK
        </button>
    </mat-dialog-actions>
</form>