<h2 mat-dialog-title>
    Mērvienība
</h2>
<mat-dialog-content [formGroup]="unitsForm">
    <section>
        <mat-form-field>
            <mat-label>
                Kods (nav maināms)
            </mat-label>
            <input matInput formControlName="shortName" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>
                Nosaukums
            </mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
    </section>
    <section>
        <mat-checkbox formControlName="disabled">Neaktīvs</mat-checkbox>
    </section>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!unitsForm.valid || unitsForm.pristine"
        [mat-dialog-close]="unitsForm.value">
        OK
    </button>
    <button mat-raised-button mat-dialog-close>
        ATCELT
    </button>
</mat-dialog-actions>