<h2 mat-dialog-title>Mērvienība</h2>
<form [formRoot]="unitsForm">
  <mat-dialog-content>
    <div class="input-fields">
      <mat-form-field>
        <mat-label> Kods (nav maināms) </mat-label>
        <input matInput [formField]="unitsForm.shortName" [tabIndex]="unitsForm.shortName().readonly() ? -1 : 0" />
      </mat-form-field>

      <mat-form-field>
        <mat-label> Nosaukums </mat-label>
        <input matInput [formField]="unitsForm.description" />
      </mat-form-field>
    </div>
    <div class="input-fields">
      <mat-checkbox [formField]="unitsForm.disabled">Neaktīvs</mat-checkbox>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button matButton [disabled]="unitsForm().valid() === false || unitsForm().dirty() === false" type="submit">
      Ok
    </button>
    <button type="button" matButton class="tertiary" mat-dialog-close>Atcelt</button>
  </mat-dialog-actions>
</form>
