<mat-table [dataSource]="materialsControl.controls" [trackBy]="trackByFn">

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let material; columns: displayedColumns"></mat-row>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let material; index as idx;">
            <button mat-icon-button color="warn" (click)="onDeleteMaterial(idx)">
                <mat-icon>
                    delete_outline
                </mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="materialId">
        <mat-header-cell *matHeaderCellDef>
            Materiāls
        </mat-header-cell>
        <mat-cell *matCellDef="let material; index as idx;">
            <mat-form-field>
                <mat-select [formControl]="material.controls.materialId">
                    <mat-option *ngFor="let mat of materials$ | async" [value]="mat._id">
                        {{ mat.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef>
            Daudzums
        </mat-header-cell>
        <mat-cell *matCellDef="let material; index as idx;">
            <mat-form-field>
                <input matInput type="number" [formControl]="material.controls.amount">
                <span matSuffix *appMaterialUnits="let unit of materials$ | async; id: material.value.materialId">
                    {{ unit }}
                </span>
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fixedAmount">
        <mat-header-cell *matHeaderCellDef>
            Nemainīgais daudzums
        </mat-header-cell>
        <mat-cell *matCellDef="let material; index as idx;">
            <mat-form-field>
                <input matInput type="number" [formControl]="material.controls.fixedAmount">
                <span matSuffix *appMaterialUnits="let unit of materials$ | async; id: material.value.materialId">
                    {{ unit }}
                </span>
            </mat-form-field>
        </mat-cell>
    </ng-container>

</mat-table>

<div>
    <button mat-icon-button color="primary" (click)="onNewMaterial()">
        <mat-icon>
            add
        </mat-icon>
    </button>
</div>