:host {
    display: block;
}


.material {
    display: flex;
    align-items: center;
    min-height: 56px;

    &>* {
        margin: 0px 8px;
    }

    & select[formControlName="materialId"] {
        flex: 2;
    }

    .number-input {

        display: flex;

        input[type="number"] {
            max-width: 6em;
        }

        span {
            text-align: right;
            width: 4em;
            margin-left: -4em;
        }
    }

}