@if (jobs$ | async; as jobs) {
  <mat-drawer-container>
    <mat-drawer appDrawerButton>
      <app-products-summary [jobs]="jobs" (productHover)="highlited = $event"> </app-products-summary>
    </mat-drawer>

    <mat-drawer-content>
      <app-job-filter class="mat-elevation-z4" [filter]="filter()" (filterChange)="onJobFilter($event)" [products]="products()" />
      <app-new-job-button (fileList)="onFileDrop($event)" [class.rised]="scroll.visible()" />
      <cdk-virtual-scroll-viewport itemSize="32" class="container" scroll-to-top #scroll="scrollToTop">
        <table class="app-table">
          <thead>
            <tr>
              <th class="column-state"></th>
              <th class="column-jobId">ID</th>
              <th class="column-customer">Kl.</th>
              <th class="column-date" *appViewLarge>Datums</th>
              <th class="column-name">Nosaukums</th>
              <ng-container *appViewLarge>
                <th class="column-productsObj-name">Izstrādājums</th>
                <th class="column-productsObj-count">Skaits</th>
                <th class="column-productsObj-units"></th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *cdkVirtualFor="let job of jobs; let idx = index" [class.job-completed]="job.invoiceId" [routerLink]="[job.jobId]" [class.highlited]="hasProduct(job, highlited)">
              <!-- statusa indikators -->
              <td class="column-state">
                @if (job.jobStatus.generalStatus === 20) {
                  <mat-icon> label_important </mat-icon>
                }
              </td>
              <!-- jobId -->
              <td class="column-jobId">
                {{ job.jobId }}
              </td>

              <!-- customer -->
              <td class="column-customer">
                {{ job.custCode }}
              </td>

              <!-- 'receivedDate' -->
              <td class="column-date" *appViewLarge>
                {{ job.dueDate | date: 'dd.MM.yyyy' }}
              </td>

              <!-- 'name' -->
              <td class="column-name">
                <div>
                  <span class="name">
                    {{ job.name }}
                  </span>
                  <span *appViewLarge class="buttons">
                    <button mat-icon-button [appCopyClipboard]="copyJobIdAndName(job)" (click)="$event.stopPropagation()" matTooltip="Kopēt nosaukumu">
                      <mat-icon>filter_none</mat-icon>
                    </button>
                    @switch (job.jobStatus.generalStatus) {
                      @case (20) {
                        <button mat-icon-button matToolTip="Atzīmēt pabeigtu" (click)="$event.stopPropagation(); onSetJobStatus(job.jobId, 30)">
                          <mat-icon>check</mat-icon>
                        </button>
                      }
                      @case (10) {
                        <button mat-icon-button matToolTip="Darbs aktīvs" (click)="$event.stopPropagation(); onSetJobStatus(job.jobId, 20)">
                          <mat-icon>label_important</mat-icon>
                        </button>
                      }
                    }
                  </span>
                  <button *appViewNotLarge mat-icon-button [matMenuTriggerFor]="jobMenu" (click)="$event.stopPropagation()" [matMenuTriggerData]="{ job }">
                    <mat-icon> more_vert </mat-icon>
                  </button>
                </div>
              </td>

              <ng-container *appViewLarge>
                <!-- Izstrādājums -->
                <td class="column-productsObj-name" [colSpan]="job.products?.length === 1 ? 0 : 3">
                  @for (product of job.products; track $index) {
                    <span [class.highlited-product]="product.name === highlited"> {{ product.name }}{{ $last ? '' : ',' }} </span>
                  }
                </td>
                @if (job.products?.length === 1) {
                  <!-- Skaits -->
                  <td class="column-productsObj-count">
                    {{ job.products[0].count }}
                  </td>
                  <!-- Mērvienības! -->
                  <td class="column-productsObj-units">
                    {{ job.products[0].units }}
                  </td>
                }
              </ng-container>
            </tr>
          </tbody>
        </table>
      </cdk-virtual-scroll-viewport>
    </mat-drawer-content>
  </mat-drawer-container>
}

<mat-menu #jobMenu="matMenu">
  <ng-template matMenuContent let-job="job">
    <button mat-menu-item (click)="copyJobIdAndName(job)">
      <mat-icon>filter_none</mat-icon>
      <span>Kopēt nosaukumu</span>
    </button>
    @if (job.jobStatus.generalStatus === 20) {
      <button mat-menu-item (click)="onSetJobStatus(job.jobId, 30)">
        <mat-icon>check</mat-icon>
        <span>Gatavs!</span>
      </button>
    }
    @if (job.jobStatus.generalStatus === 10) {
      <button mat-menu-item (click)="onSetJobStatus(job.jobId, 20)">
        <mat-icon>label_important</mat-icon>
        <span>Ražošanā!</span>
      </button>
    }
  </ng-template>
</mat-menu>
