:host {
  height: 100%;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

mat-drawer {
  width: 240px;
}

.progress-container {
  min-height: 4px;
}

app-new-job-button {
  z-index: 99;
  position: absolute;
  bottom: 20px;
  right: 80px;
  transition: all .2s ease-in-out;

  &.rised {
    bottom: 20px + 16px + 56px;
  }
}