<div *ngIf="totals$ | async as totals; else loading;" class="kopskaiti mat-small">
  <div>
    Pavisam sūtījumu: <span class="mat-body-strong">{{totals.total}}</span>
    Nav nosūtīti: <span class="mat-body-strong">{{totals.kastesRemain}}</span>
    Nav uzlīmes: <span class="mat-body-strong">{{totals.labelsRemain}}</span>
  </div>
  <div class="kopskaiti mat-small">
    <app-colors-output [colorsRemain]="totals"></app-colors-output>
  </div>
</div>
<ng-template #loading>
  <div>
    ...Loading
  </div>
</ng-template>
<!-- Sākas tabula -->
<div *ngIf="preferences$ | async as preferences;" class="tabula-container">
  <table mat-table [dataSource]="dataSource" class="full-width-table mat-elevation-z8" aria-label="Kastes">
    <!-- Id Column -->
    <ng-container matColumnDef="kods">
      <th mat-header-cell *matHeaderCellDef class="Nr cipari">Nr</th>
      <td mat-cell *matCellDef="let row;" class="Nr cipari">{{row.kods}}</td>
    </ng-container>

    <!-- Adrese sleja -->
    <ng-container matColumnDef="adrese">
      <th mat-header-cell *matHeaderCellDef mat>Adrese</th>
      <td mat-cell *matCellDef="let row;">{{row.adrese}} <span
          [class.label]="row.kastes.uzlime">({{row.kastes.total}})</span></td>
    </ng-container>

    <!-- Dzeltenā sleja -->
    <ng-container matColumnDef="yellow">
      <th mat-header-cell *matHeaderCellDef [style.color]="preferences.colors.yellow" class="cipari">Y</th>
      <td mat-cell *matCellDef="let row;" [style.color]="preferences.colors.yellow" class="cipari">
        {{row.kastes.yellow | hideZero}}
      </td>
    </ng-container>

    <!-- Rozā sleja -->
    <ng-container matColumnDef="rose">
      <th mat-header-cell *matHeaderCellDef [style.color]="preferences.colors.rose" class="cipari">R</th>
      <td mat-cell *matCellDef="let row;" [style.color]="preferences.colors.rose" class="cipari">
        {{row.kastes.rose | hideZero}}
      </td>
    </ng-container>

    <!-- Baltas sleja -->
    <ng-container matColumnDef="white">
      <th mat-header-cell *matHeaderCellDef [style.color]="preferences.colors.white" class="cipari">W</th>
      <td mat-cell *matCellDef="let row;" [style.color]="preferences.colors.white" class="cipari">
        {{row.kastes.white | hideZero}}</td>
    </ng-container>
    <!-- Gatavs -->
    <ng-container matColumnDef="gatavs">
      <th mat-header-cell *matHeaderCellDef class="cipari">Gatavs</th>
      <td mat-cell *matCellDef="let row;" class="cipari">
        <mat-checkbox MatCheckboxClickAction='noop' (click)="onGatavs(row)" [disabled]="row.disabled" color="accent"
          [checked]="row.kastes.gatavs"></mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedKaste=row"
      [class.selected]="row === selectedKaste"></tr>
  </table>
</div>