<h2 mat-dialog-title>Paroles nomaiņa</h2>
<form [formGroup]="passwordForm">
    <mat-dialog-content>
        <!-- Parole 1 -->
        <mat-form-field>
            <input matInput formControlName="password" placeholder="Jaunā parole" [type]="hide ? 'password':'text'" autocomplete="off">
            <button mat-button matSuffix mat-icon-button (click)="hide=!hide">
                <mat-icon>
                    {{hide ? 'visibility_off':'visibility_on'}}
                </mat-icon>
            </button>
            <mat-error *ngIf="password.hasError('minlength')">
                Jābūt vismaz {{password.errors.minlength.requiredLength}} simboliem
            </mat-error>
        </mat-form-field>
        <!-- Parole 2 -->
        <mat-form-field>
            <input matInput formControlName="password2" placeholder="Jaunā parole atkārtoti" [type]="hide ? 'password':'text'" autocomplete="off">
            <mat-error *ngIf="passwordForm.hasError('notEqual') && (passwordForm.touched || passwordForm.dirty)">
                {{passwordForm.errors.notEqual}}
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!passwordForm.valid"
            [mat-dialog-close]="passwordForm.value.password">Mainīt</button>
        <button mat-raised-button color="primary" (click)="onCancel()">Atcelt</button>
    </mat-dialog-actions>
</form>