<h2 mat-dialog-title>Paroles nomaiņa</h2>
<form [formGroup]="passwordForm">
    <mat-dialog-content>
        <mat-form-field>
            <input matInput formControlName="password" placeholder="Jaunā parole" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="password2" placeholder="Jaunā parole atkārtoti" autocomplete="off">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!passwordForm.valid"
            [mat-dialog-close]="passwordForm.value.password">Mainīt</button>
        <button mat-raised-button color="primary" (click)="onCancel()">Atcelt</button>
    </mat-dialog-actions>
</form>