:host {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

mat-card {
  width: 300px;
  min-height: 120px;
  cursor: pointer;

  &:hover {
    color: var(--sys-on-secondary-container);
    background-color: var(--sys-secondary-container);
  }
}
