.menu-layout {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.menu-card {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    width: 300px;
    cursor: pointer;
}

.card-text {
    // text-decoration: none;
    min-height: 100px;
}

a:any-link {
    cursor: pointer;
    // text-decoration: none;
}