<div class="mat-elevation-z8 tabula-container">
    <table mat-table class="full-width-table">

        <!-- Nosaukums -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Pasūtījuma nosaukums</th>
            <td mat-cell *matCellDef="let row;">{{row.name}}</td>
        </ng-container>
        <!-- Dzēsts checkbox -->
        <ng-container matColumnDef="deleted">
            <th mat-header-cell *matHeaderCellDef> Dzēsts </th>
            <td mat-cell *matCellDef="let row;">
                <mat-checkbox [checked]="row.deleted" (change)="onCheckDeleted(row, $event)"></mat-checkbox>
            </td>
        </ng-container>
        <!-- Izveidošanas datums -->
        <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef>Pasūtījums izveidots</th>
            <td mat-cell *matCellDef="let row;">{{row.created || ''}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div>