:host {
    display: flex;
    flex-direction: column;
    height: 48px;
    justify-content: center;
}

span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.unread small {
    font-weight: bold;
}

button.actions {
    position: absolute;
    right: 20px;
    visibility: hidden;
}

:host:hover button.actions {
    visibility: inherit;
}
