<div class="container">

    <div class="message-icon">
        <mat-icon *ngIf="!message.seen">
            fmd_bad
        </mat-icon>

    </div>

    <div class="message">

        <span [class.unread]="!message.seen">
            <small>
                {{ message.timestamp | relativeDate:'strict' }} {{ message | messageActions }}
            </small>
        </span>
        <span>
            {{message | messageDescription}}
        </span>

        <button mat-mini-fab class="actions" (click)="delete.next(message._id); $event.stopPropagation()">
            <mat-icon>
                delete
            </mat-icon>
        </button>

    </div>

</div>