:host {
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
}

.message-icon {
    flex: 0 0 24px;
}

.message {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 48px;
    justify-content: center;
}

span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.unread {
    font-weight: bold;
}

button.actions {
    position: absolute;
    right: 8px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.container:hover button.actions {
    opacity: 1;
    visibility: visible;
}
