:host {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 48px;
    justify-content: center;
}

span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.unread small {
    font-weight: bold;
}

button.actions {
    position: absolute;
    right: 0px;
    visibility: hidden;
}

.container:hover button.actions {
    visibility: inherit;
}
