<app-simple-list-container plusButton filterInput [(filter)]="name">
  <mat-table [dataSource]="equipmentNonNull.value()" class="app-table">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nosaukums </mat-header-cell>
      <mat-cell *matCellDef="let equipment">
        {{ equipment.name }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let equipment; columns: displayedColumns"
      [routerLink]="[equipment._id]"
      routerLinkActive="selected"
      [class.disabled]="equipment.disabled"
    ></mat-row>
  </mat-table>
</app-simple-list-container>
