<form [formGroup]="filterForm" class="filter-row">
    <!-- Atiestatīt formu -->
    <button mat-icon-button (click)="onReset()">
        <mat-icon>clear</mat-icon>
    </button>
    <!-- Teksta meklēšana -->
    <mat-form-field class="search">
        <mat-label>Nosaukums</mat-label>
        <input matInput type="text" formControlName="name">
        <button mat-icon-button matSuffix (click)="name.reset()">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>
    <!-- Klients -->
    <mat-form-field>
        <mat-label>Klients</mat-label>
        <mat-select formControlName="customer">
            <mat-option *ngFor="let customer of customers$ | async" [value]="customer.CustomerName">
                {{customer.CustomerName}}
            </mat-option>
        </mat-select>
        <button mat-icon-button matSuffix (click)="customer.reset()">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>
    <!-- Darbu statusi -->
    <mat-form-field>
        <mat-label>Darba stadijas</mat-label>
        <mat-select formControlName="jobStatus" multiple>
            <mat-option *ngFor="let status of jobStates$ | async" [value]="status.state">
                {{status.description}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>