.filter-row {
    /* height: 64px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.filter-row section {
    padding: 0 8px;
    /* flex: 1; */
}

.mat-form-field {
    width: 100%;
}

.filter-row button {
    margin: 8px;
    align-self: center;
}