<form
  (submit)="$event.preventDefault(); onSubmit()"
  (reset)="$event.preventDefault(); onReset()"
  class="app-disabled-view"
>
  <mat-card>
    <mat-card-content>
      <section id="month-year">
        <mat-form-field class="full-width">
          <mat-label> Gads </mat-label>
          <input matInput type="number" [formField]="routeSheetForm.year" />
        </mat-form-field>

        <mat-form-field>
          <mat-select [formField]="routeSheetForm.month">
            @for (date of months; track $index) {
              <mat-option [value]="date.getMonth() + 1">
                {{ date | date: 'LLLL' | titlecase }}
              </mat-option>
            }
          </mat-select>
          <mat-label> Mēnesis </mat-label>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field>
          <mat-label> Degvielas atlikums </mat-label>
          <input
            matInput
            type="number"
            step="any"
            #fuelRemainingStartLitres
            [formField]="routeSheetForm.fuelRemainingStartLitres"
          />
          <span matIconSuffix>
            @if (editActive() && historicalData.hasValue() && vehicle(); as v) {
              @let h = historicalData.value();
              <button
                matIconButton
                type="button"
                (click)="setRemainingFuel(h.fuelRemaining)"
                matTooltip="Atlikums uz {{ h.lastMonth }}.{{ h.lastYear }} beigām: 
                  {{ h.fuelRemaining }}&nbsp;{{ v.fuelType.units }}"
              >
                <mat-icon> chevron_left </mat-icon>
              </button>
            }
          </span>
        </mat-form-field>
      </section>

      <mat-form-field class="full-width">
        <mat-label> Vadītājs </mat-label>
        <mat-select [formField]="routeSheetForm.driverId">
          @for (driver of activeDrivers(); track driver._id) {
            <mat-option [value]="driver._id">
              {{ driver.name }}
            </mat-option>
          }
          @for (driver of disabledDrivers(); track driver._id) {
            <mat-option [value]="driver._id" disabled>
              {{ driver.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label> Auto </mat-label>
        <mat-select [formField]="routeSheetForm.vehicleId">
          @for (vehicle of activeVehicles(); track vehicle._id) {
            <mat-option [value]="vehicle._id">
              {{ vehicle.licencePlate }}, {{ vehicle.name }}, {{ vehicle.consumption }}&nbsp;{{
                vehicle.fuelType.units
              }}/100&nbsp;km
            </mat-option>
          }
          @for (vehicle of disabledVehicles(); track vehicle._id) {
            <mat-option [value]="vehicle._id" disabled>
              {{ vehicle.licencePlate }}, {{ vehicle.name }}, {{ vehicle.consumption }}&nbsp;{{
                vehicle.fuelType.units
              }}/100&nbsp;km
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      @if (initialValue()._id; as id) {
        @if (editActive()) {
          <button
            matButton="outlined"
            [disabled]="busy() || routeSheetForm().valid() === false || changes() === null"
            type="submit"
          >
            Saglabāt
          </button>
          <button matButton [disabled]="busy()" type="reset" class="tertiary">Atcelt</button>
        } @else {
          <button matButton="outlined" [disabled]="busy()" type="button" (click)="editActive.set(true)">Labot</button>
          <a matButton href="/data/transportation/report_{{ id }}.pdf" target="new"> Izdrukāt </a>
          <button
            matButton
            [disabled]="busy()"
            type="button"
            class="tertiary"
            appConfirmation="delete"
            (appConfirmedClick)="onDelete()"
          >
            Dzēst
          </button>
        }
      } @else {
        <button matButton="outlined" [disabled]="busy() || routeSheetForm().valid() === false" type="submit">
          Izveidot
        </button>
      }
    </mat-card-actions>
  </mat-card>
</form>
