.full-width {
  width: 100%;
}

.actions .right-align {
  margin-left: auto;
}

section#month-year {
  display: inline-flex;
  align-items: baseline;
  column-gap: 8px;

  mat-form-field {
    flex: 1;
  }

}