<section id="month-year">
  <mat-form-field class="full-width">
    <mat-label> Gads </mat-label>
    <input matInput type="number" formControlName="year" />
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="month">
      @for (date of months; track $index) {
        <mat-option [value]="date.getMonth() + 1">
          {{ date | date: 'LLLL' | titlecase }}
        </mat-option>
      }
    </mat-select>
    <mat-label> Mēnesis </mat-label>
  </mat-form-field>
</section>

<section>
  <mat-form-field>
    <mat-label> Degvielas atlikums </mat-label>
    <input matInput type="number" #fuelRemainingStartLitres formControlName="fuelRemainingStartLitres" />
    <span matIconSuffix>
      @if (historicalData(); as h) {
        <button
          mat-icon-button
          (click)="setRemainingFuel(h.fuelRemaining)"
          matTooltip="Atlikums uz {{ h.lastMonth }}.{{ h.lastYear }} beigām: {{ h.fuelRemaining }} {{ vehicle.value?.fuelType.units }}"
        >
          <mat-icon> chevron_left </mat-icon>
        </button>
      }
    </span>
  </mat-form-field>
</section>

<mat-form-field class="full-width">
  <mat-label> Vadītājs </mat-label>
  <mat-select formControlName="driver" [compareWith]="driverCompareFn">
    @for (driver of activeDrivers(); track driver._id) {
      <mat-option [value]="driver">
        {{ driver.name }}
      </mat-option>
    }
    @for (driver of disabledDrivers(); track driver._id) {
      <mat-option [value]="driver" disabled>
        {{ driver.name }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-form-field class="full-width">
  <mat-label> Auto </mat-label>
  <mat-select formControlName="vehicle" #vehicle [compareWith]="vehicleCompareFn">
    @for (vehicle of activeVehicles(); track vehicle._id) {
      <mat-option [value]="vehicle"> {{ vehicle.licencePlate }}, {{ vehicle.name }}, {{ vehicle.consumption }}&nbsp;{{ vehicle.fuelType.units }}/100&nbsp;km </mat-option>
    }
    @for (vehicle of disabledVehicles(); track vehicle._id) {
      <mat-option [value]="vehicle" disabled> {{ vehicle.licencePlate }}, {{ vehicle.name }}, {{ vehicle.consumption }}&nbsp;{{ vehicle.fuelType.units }}/100&nbsp;km </mat-option>
    }
  </mat-select>
</mat-form-field>

<ng-content />
