@if (user(); as staticUser) {
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="avatar"></div>

      <mat-card-title> {{ staticUser.name }}&nbsp; </mat-card-title>

      <mat-card-subtitle>
        {{ staticUser.username }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <section>
        <mat-form-field class="name">
          <mat-label> Pilns vārds </mat-label>
          <input appInputTrim matInput [formField]="form.name" />
        </mat-form-field>
      </section>

      <section>
        <mat-form-field class="name">
          <mat-label> e-pasts </mat-label>
          <input type="email" appInputTrim matInput [formField]="form.eMail" />
        </mat-form-field>
      </section>
    </mat-card-content>

    <mat-divider />

    <mat-card-actions>
      <button
        matButton
        (click)="onSave()"
        [disabled]="form().valid() === false || changes() === null || busy() || form().disabled()"
      >
        Saglabāt
      </button>
      <button
        matButton
        (click)="onReset()"
        [disabled]="changes() === null || busy() || form().disabled() || form().dirty() === false"
        class="tertiary"
      >
        Atiestatīt
      </button>
      <button matButton appPasswordInput [passwordMinimumLength]="6" (appPasswordChange)="onPasswordChange($event)">
        Mainīt paroli
      </button>
    </mat-card-actions>
  </mat-card>

  @if (isDemo === false) {
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title> Google savienojums </mat-card-title>

          <mat-card-subtitle> {{ staticUser.google?.id }} </mat-card-subtitle>

          @if (staticUser.google?.picture; as googlePicture) {
            <img mat-card-sm-image [src]="googlePicture" />
          }
        </mat-card-title-group>
      </mat-card-header>

      <mat-card-content>
        @if (staticUser.google; as googleInfo) {
          <app-google-info [googleInfo]="googleInfo" (valueClicked)="onGoogleValueClicked($event)" />
        }
      </mat-card-content>

      <mat-divider />

      <mat-card-actions>
        <a matButton href="/data/login/google?redirect=/{{ returnPath }}" [disabled]="staticUser.google"> Savienot </a>

        <button matButton (click)="onDeleteGoogle()" [disabled]="!staticUser.google">Atvienot</button>
      </mat-card-actions>
    </mat-card>
  }
}
