.mat-column-button {
    flex: 0 auto;
}

.data-cell {
    cursor: pointer;
}

.disabled {

    .data-cell {
        cursor: initial;
    }

    .data-cell,
    .header-cell {
        opacity: 0.5;
    }
}


.record-disabled {
    text-decoration: line-through;
}