.mat-dialog-content {
    max-height: inherit;
    padding-top: 8px;
    padding-bottom: 8px;
}

header {
    display: flex;
    align-items: center;
}

header > *:last-child {
    margin-left: auto;
}

header h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.large.mat-dialog-content .container-multi {
    display: flex;
    gap: 16px;

    & > * {
        flex: 1;
    }
}

.full-width {
    width: 100%;
}

.mat-card {
    margin-top: 8px;
}
