:host {
  padding: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;


}

header {
  height: 40px;
  display: flex;
  align-items: center;

  &>*:last-child {
    margin-left: auto;
  }

  & .job-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

}


.full-width {
  width: 100%;
}



footer {
  margin-top: auto;
}
