:host {
    height: 100%;
    padding: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

header {
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-color: rgba($color: #000000, $alpha: 0.12);

    &>*:last-child {
        margin-left: auto;
    }

    & h4 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
    }
}

.content {
    padding: 8px;
    overflow: auto;
}

footer {
    margin-top: auto;
}