<header>
  @if (history.length > 2) {
    <button mat-icon-button appKeyPress="escape" tabindex="-1" (click)="onBack()">
      <mat-icon> arrow_back </mat-icon>
    </button>
  } @else {
    <a mat-icon-button routerLink="..">
      <mat-icon> arrow_upward </mat-icon>
    </a>
  }

  <div class="headline-small job-name">
    @if (form.value.jobId) {
      <span> {{ form.value.jobId }}&nbsp;-&nbsp; </span>
    }
    {{ form.value.name }}
  </div>
</header>

<mat-divider />

<app-job-form />

<!-- Preces apakšforma -->
@if (customerProducts$ | async; as customerProducts) {
  <app-repro-products-editor [customerProducts]="customerProducts" [formControl]="form.controls.products" [showPrices]="showPrices()" />
}

<div class="container-multi-column">
  <!-- Papildus apraksts -->
  <mat-card>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Piezīmes</mat-label>
        <textarea matInput [formControl]="form.controls.comment" cdkTextareaAutosize [cdkAutosizeMaxRows]="12"></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <!-- Folderis -->
      @if (form.value.jobId) {
        <app-folder-path [path]="folderPath()" (createFolder)="onCreateFolder()" [(updatePath)]="updatePath" [enabled]="updateFolderLocationEnabled()" />
      }

      <app-upload-progress [progress]="fileUploadProgress$ | async" />

      <app-drop-folder
        [folders]="dropFolders$ | async"
        [defaultEnabled]="isUpload"
        (folderChanges)="onDropFolder($event)"
        [disabled]="isUpload === false && form.value.files === null"
      />
    </mat-card-content>
  </mat-card>
</div>

<footer>
  @if (form.value.jobId) {
    <button mat-raised-button appKeyPress="ctrlEnter" [disabled]="saveDisabled()" (click)="onUpdate()">Saglabāt</button>
  } @else {
    <button mat-raised-button [disabled]="saveDisabled()" appKeyPress="ctrlEnter" (click)="onCreate()">Izveidot</button>
  }
</footer>
