<header>

    <button *ngIf="history.length > 2; else goUp" mat-icon-button appKeyPress="escape" tabindex="-1" (click)="onBack()">
        <mat-icon> arrow_back </mat-icon>
    </button>
    <ng-template #goUp>
        <a mat-icon-button routerLink="..">
            <mat-icon> arrow_upward </mat-icon>
        </a>
    </ng-template>

    <h4>
        <span *ngIf="form.value.jobId as jobId;">
            {{ jobId }}&nbsp;-&nbsp;
        </span>
        {{ form.value.name }}
    </h4>

</header>


<div class="content">
    <app-job-form>

        <!-- Folderis -->
        <mat-card-content>

            <app-folder-path *ngIf="form.value.jobId" [path]="folderPath$ | async" (createFolder)="onCreateFolder()"
                [enabled]="updateFolderLocationEnabled$ | async">
            </app-folder-path>

            <app-upload-progress [progress]="fileUploadProgress$ | async">
            </app-upload-progress>

            <app-drop-folder [folders]="dropFolders$ | async" [defaultEnabled]="isUpload"
                (folderChanges)="onDropFolder($event)" [disabled]="isUpload == false && form.value.files == null">
            </app-drop-folder>

        </mat-card-content>

    </app-job-form>

</div>


<footer>

    <button *ngIf="form.value.jobId else createButton;" mat-raised-button color="primary" appKeyPress="ctrlEnter"
        [disabled]="saveDisabled$ | async" (click)="onUpdate()">
        SAGLABĀT
    </button>

    <ng-template #createButton>
        <button mat-raised-button color="primary" [disabled]="saveDisabled$ | async" appKeyPress="ctrlEnter"
            (click)="onCreate()">
            IZVEIDOT
        </button>
    </ng-template>

</footer>