<header>
  <a mat-icon-button appRouterLinkToReturn appKeyPress="escape">
    <mat-icon> arrow_back </mat-icon>
  </a>

  <div class="headline-small job-name">
    @if (jobId()) {
      <span> {{ jobId() }} - </span>
    }
    {{ value().name }}
  </div>
</header>

<mat-divider />

<app-job-form [formControl]="form" [jobId]="jobId()">
  <mat-card column-content>
    <mat-card-content>
      <app-upload-progress [progress]="fileUploadProgress$ | async" />

      <!-- Folderis -->
      @if (jobId()) {
        <app-folder-path [path]="folderPath()" (createFolder)="onCreateFolder()" [(updatePath)]="mustUpdatePath" [enabled]="updateFolderLocationEnabled()" />
      }

      <app-drop-folder
        [folders]="dropFolders()"
        [(folder)]="selectedDropFolder"
        [(folderActive)]="dropFolderActive"
        [enabled]="dropFolders().length > 0 && (!!uploadRef() || value().files !== null)"
      />
    </mat-card-content>
  </mat-card>
</app-job-form>

<footer>
  @if (jobId()) {
    <button mat-flat-button appKeyPress="ctrlEnter" [disabled]="saveDisabled()" (click)="onUpdate()">Saglabāt</button>
  } @else {
    <button mat-flat-button [disabled]="saveDisabled()" appKeyPress="ctrlEnter" (click)="onCreate()">Izveidot</button>
  }
</footer>
