<mat-table [dataSource]="products()" class="app-table">
  <mat-header-row *matHeaderRowDef="displayedColumns()"></mat-header-row>
  <mat-row *matRowDef="let product; columns: displayedColumns()"></mat-row>
  <mat-footer-row *matFooterRowDef="displayedColumns()"></mat-footer-row>

  <!-- 'paytraqId' -->
  <ng-container matColumnDef="paytraqId">
    <mat-header-cell *matHeaderCellDef>PaytraqID</mat-header-cell>
    <mat-cell *matCellDef="let product">
      {{ product.paytraqId }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <!-- '_id/name' -->
  <ng-container matColumnDef="_id">
    <mat-header-cell *matHeaderCellDef>Prece</mat-header-cell>
    <mat-cell *matCellDef="let product">
      @if (isJobsAdmin()) {
        <a matButton routerLink="/jobs-admin/products/{{ product._id }}">
          {{ product._id }}
        </a>
      } @else {
        <span>
          {{ product._id }}
        </span>
      }
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>Pavisam kopā</mat-footer-cell>
  </ng-container>

  <!-- 'count' -->
  <ng-container matColumnDef="count">
    <mat-header-cell *matHeaderCellDef>Skaits</mat-header-cell>
    <mat-cell *matCellDef="let product">
      {{ product.count }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>
  <!-- 'price' -->
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Cena</mat-header-cell>
    <mat-cell *matCellDef="let product">
      {{ product.price | currency }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>
  <!-- 'total' -->
  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef>Summa</mat-header-cell>
    <mat-cell *matCellDef="let product">
      {{ product.total | currency }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>{{ total() | currency }}</mat-footer-cell>
  </ng-container>
</mat-table>
