<h3>
    Atlase
</h3>

<mat-list dense>

    <mat-list-item *ngFor="let total of invoicesTotals?.totals">
        <div class="list-item">

            <span>
                {{total._id}}
            </span>

            <span class="spacer"></span>

            <span>
                {{total.count}}
                {{total.units}}
                <strong> {{total.total | currency}} </strong>
            </span>

        </div>
    </mat-list-item>

    <mat-list-item>
        <div class="total list-item">
            <span>
                Kopā
            </span>

            <span class="spacer"></span>

            <span>
                {{ invoicesTotals?.grandTotal | currency }}
            </span>
        </div>
    </mat-list-item>

</mat-list>