<h4>
    Atlase
</h4>

<mat-list>

    <mat-list-item appDenseList appDenseListHeight="32px" *ngFor="let total of invoicesTotals?.totals">
        <span matListItemLine>

            <span>
                {{total._id}}
            </span>

            <span>
                {{total.count}}
                {{total.units}}
                <strong> {{total.total | currency}} </strong>
            </span>

        </span>
    </mat-list-item>

    <mat-list-item appDenseList appDenseListHeight="32px">
        <div matListItemLine appDenseListTotal>
            <span>
                Kopā
            </span>

            <span>
                {{ invoicesTotals?.grandTotal | currency }}
            </span>
        </div>
    </mat-list-item>

</mat-list>