<div class="container">
    <div class="head">
        <h4>
            {{title}}
        </h4>
        <span class="spacer"></span>
        <button mat-icon-button (click)="onDeselectAll();">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-selection-list #selection (selectionChange)="onSelectionChange()" dense>
        @for (item of data; track $index) {
        <mat-list-option checkboxPosition="before" [value]="item._id" [style.height.px]="24">
            <div class="option-small">
                {{item._id | xmfFacet}}
                @if (item.count > 0) {
                ({{ item.count }})
                }
            </div>
        </mat-list-option>
        }
    </mat-selection-list>
</div>