:host {
    margin: 8px;
}

.head {
    display: flex;
    align-items: center;

    &:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }

    h4 {
        margin: 0px;
    }

    :last-child {
        margin-right: 16px;
        margin-left: auto;
    }

    :first-child {
        margin-left: 16px;
    }

}