.right-button {
  position: fixed;
  bottom: 5px;
  right: -15px;
  z-index: 3;
  height: 40px;
  padding: 3px;
  width: 40px;
  background-color: var(--sys-surface-container-high);
  border-top-left-radius: var(--mdc-fab-small-container-shape);
  border-bottom-left-radius: var(--mdc-fab-small-container-shape);
  transition: all .2s ease-in-out;
}

.right-button:hover {
  right: 0;
  transition: all .2s ease-in-out;
}

.right-button.opened {
  right: 0;
  transition: all .2s ease-in-out;
}
