<h2>Darbu uzskaites iestatījumi</h2>
<section *ngIf="newSettings?.productCategories">
    <h4>Kategorijas</h4>
    <mat-list>
        <mat-list-item *ngFor="let item of newSettings.productCategories">
          {{item.category}} ({{item.description}})
        </mat-list-item>
    </mat-list>
    <button mat-icon-button (click)="newCategory()">
        <mat-icon>add</mat-icon>
    </button>
</section>
<section>
    <button mat-raised-button (click)="onSave()" [disabled]="pristine">Saglabāt</button>
    <button mat-raised-button (click)="onReset()" [disabled]="pristine">Atcelt</button>
</section>