.container {
    display: flex;
    height: 100%;
}

div.list {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    .active:not(.large) & {
        display: none;
    }

    &>div {
        flex: 1;
        overflow: auto;
    }
}

.simple-form-table {
    height: 100%;
    overflow: auto;
}

.editor {
    flex: 1;
    display: none;
    position: relative;
    overflow: auto;
    height: 100%;

    .active & {
        display: initial;
    }
}

mat-toolbar {

    div.search {
        margin-left: auto;
    }
}