@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($color-config) {

    $primary-palette: map.get($color-config, 'primary');
    $warn-palette: map.get($color-config, 'warn');

    select[appSelect] {

        // caret-color: mat.get-color-from-palette($primary-palette, 500);
        border: none;

        border-bottom: {
            color: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 500);
            width: 2px;
            style: solid;
        }

        &.ng-invalid {
            border-bottom-color: mat.m2-get-color-from-palette($warn-palette, 'text');
            color: mat.m2-get-color-from-palette($warn-palette, 'text');
        }


        &:focus {
            border-bottom-color: mat.m2-get-color-from-palette($primary-palette, 'lighter');
        }
    }

}

@mixin appearance() {

    select[appSelect] {
        color: inherit;
        background-color: inherit;
        font-size: 16px;
        font-weight: 500;

        &:focus {
            outline: none;
        }
    }

}

@mixin theme($theme) {

    @include appearance();

    $color-config: mat.m2-get-color-config($theme);

    @if $color-config !=null {
        @include color($color-config);
    }


}