<mat-expansion-panel appViewSize #viewSize="viewSize" [expanded]="viewSize.isLarge()">
  <mat-expansion-panel-header>
    <mat-panel-title> Atlase </mat-panel-title>
    <mat-panel-description>
      <app-filter-summary [states]="jobStates()" [categories]="categories()" [query]="query()" />
    </mat-panel-description>
  </mat-expansion-panel-header>

  <section class="container">
    <mat-form-field>
      <mat-label> Ražošanas stadija </mat-label>
      <mat-select [value]="jobStatus()" (valueChange)="onChangeJobStatus($event)" multiple [disabled]="disabled()">
        @for (state of jobStates(); track state.state) {
          <mat-option [value]="state.state">
            {{ state.description }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label> Materiālu grupa </mat-label>
      <mat-select [value]="category()" (valueChange)="onChangeCategory($event)" multiple [disabled]="disabled()">
        @for (category of categories(); track category.category) {
          <mat-option [value]="category.category">
            {{ category.description }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <app-date-range-picker [ngModel]="interval()" (ngModelChange)="setInterval($event)" />

    <button mat-raised-button (click)="onSetRepro()" [disabled]="disabled()">REPRO</button>
  </section>
</mat-expansion-panel>
