<mat-expansion-panel [formGroup]="form" appViewSize (appViewIsLarge)="panel.expanded = $event" #panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Atlase
        </mat-panel-title>
        <mat-panel-description [class.invisible]="panel.expanded">
            <app-filter-summary [states]="jobStates$ | async" [categories]="categories$ | async"
                [query]="form.getRawValue()">
            </app-filter-summary>
        </mat-panel-description>
    </mat-expansion-panel-header>



    <mat-form-field>
        <mat-label> Ražošanas stadija </mat-label>
        <mat-select formControlName="jobStatus" multiple>
            <mat-option *ngFor="let state of jobStates$ | async" [value]="state.state">
                {{ state.description }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <span></span>

    <mat-form-field>
        <mat-label> Materiālu grupa </mat-label>
        <mat-select formControlName="category" multiple>
            <mat-option *ngFor="let category of categories$ | async" [value]="category.category">
                {{ category.description }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <span></span>

    <mat-form-field>
        <mat-label> Laiks </mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="fromDate">
            <input matEndDate formControlName="toDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <button mat-icon-button matSuffix (click)="onReSetInterval()">
            <mat-icon> cancel </mat-icon>
        </button>
        <button mat-icon-button matSuffix [matMenuTriggerFor]="intervalMenu">
            <mat-icon> more_vert </mat-icon>
        </button>

        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-menu #intervalMenu="matMenu">
            <button mat-menu-item (click)="thisWeek()"> Nedēļa </button>
            <button mat-menu-item (click)="thisMonth()"> Mēnesis </button>
            <button mat-menu-item (click)="thisYear()"> Gads </button>
            <button mat-menu-item (click)="pastYear()"> Iepriekšējais gads </button>
        </mat-menu>
    </mat-form-field>

    <span></span>

    <button mat-raised-button (click)="setRepro()">
        REPRO
    </button>

</mat-expansion-panel>