:host {
    display: block;
    padding: 16px;
}

mat-panel-description {
    overflow: hidden;
    flex-grow: 5;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .large & {
        flex-direction: row;
        align-items: baseline;
        gap: 16px;
    }
}