<mat-form-field>
    <mat-label>
        <ng-content></ng-content>
    </mat-label>
    <input #customerInput type="text" matInput [formControl]="control" [matAutocomplete]="auto" required>
    <button matSuffix mat-icon-button (click)="control.reset()" [disabled]="control.disabled">
        <mat-icon> clear </mat-icon>
    </button>
    <mat-error *ngIf="control.hasError('notFound')">
        {{ control.getError('notFound') }}
    </mat-error>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
    <mat-option *ngFor="let customer of filtered$ | async" [value]="customer.CustomerName">
        {{ customer.CustomerName }}
    </mat-option>
</mat-autocomplete>