<ng-container *appIfViewSize="'large'" [formGroup]="filterGroup">
  <mat-form-field class="name" subscriptSizing="dynamic">
    <input matInput formControlName="name" />
    <button matIconButton disabled matIconSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="categories" subscriptSizing="dynamic">
    <mat-label> Materiālu grupas </mat-label>
    <mat-select formControlName="categories" multiple>
      @for (category of categories(); track $index) {
        <mat-option [value]="category.category">
          {{ category.description }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button matIconButton (click)="clear()">
    <mat-icon>clear</mat-icon>
  </button>
</ng-container>
