div.wrapper {
    padding: 0 16px;
}

section {
    padding-top: 8px;
}

.mat-form-field {
    width: 100%;
}

button~button {
    margin-left: 16px;
}

.error {
    height: 1em;
    font-size: 75%;
}
