<div class="container" *ngIf="thread$ | async as thread">

    <mat-card>

        <mat-card-title>

            <a mat-mini-fab routerLink=".." color="primary">
                <mat-icon>
                    chevron_left
                </mat-icon>
            </a>

            <div class="header">
                <h3>
                    {{ thread.from }}
                </h3>
                <h4>
                    <span>
                        {{ thread.subject }}
                    </span>
                    <button mat-button (click)="onCreateFromThread(thread)">
                        <mat-icon>
                            arrow_circle_right
                        </mat-icon>
                        <span>
                            UZ DARBU
                        </span>
                    </button>
                </h4>
            </div>

        </mat-card-title>

        <mat-card-footer *ngIf="busy$ | async">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>

    </mat-card>

    <mat-accordion multi displayMode="flat">

        <mat-expansion-panel *ngFor="let message of thread.messages" [expanded]="isExpanded(message)">

            <mat-expansion-panel-header>
                <mat-panel-title class="snippet">
                    <div [innerHTML]="message.snippet"></div>
                </mat-panel-title>

                <mat-panel-description>
                    <mat-icon *ngIf="message.hasAttachment">
                        attachment
                    </mat-icon>
                </mat-panel-description>

            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>

                <app-message #messageComponent [message]="message"
                    (attachmentsConfirm)="onCreateFromMessage(messageComponent)">
                </app-message>

            </ng-template>

        </mat-expansion-panel>

    </mat-accordion>



</div>