.container {
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mat-card-title {
    font-size: inherit;
    font-weight: inherit;
    display: flex;
    gap: 16px;
}

.mat-card-title .header > * {
    margin-block-start: 0;
    margin-block-end: 0;
}

.snippet {
    // flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}