:host {
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.snippet {
    overflow: hidden;
}

.snippet>* {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-mdc-expansion-panel-header-description {
    flex-grow: 0;
}