section {
    margin: 8px 0;
}


mat-card:not(:first-of-type) {
    margin-top: 16px;
}

mat-form-field.full-width {
    width: 100%;
}

.large section.input-container {
    display: flex;
}

.input-container>.mat-form-field {
    flex: 1;
}

.spacer {
    width: 16px;
}