$padd: 4px;

:host {
  display: block;
  height: 100%;
}

.container {
  height: 100%;
  overflow: auto;
}

table {
  table-layout: fixed;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  padding-left: 4px;
  padding-right: 4px;
}

.mat-column-selection {
  width: 48px;
}

.mat-column-jobId {
  width: 4em;
}

.mat-column-custCode {
  width: 3em;
}

.mat-column-name {

  &>div {
    display: flex;
    align-items: center;

    & span.name {
      flex: 1 1 600px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & span.buttons {
      display: none;
      flex: 0 0 44px;
    }
  }
}

tr:hover .mat-column-name span.buttons {
  display: initial;
}

.mat-column-products-name {
  padding-left: $padd;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .large & {
    width: 11em;
  }
}

.mat-column-products-price,
.mat-column-products-total,
.mat-column-products-count {
  width: 5em;
  padding-left: $padd;
  text-align: right;
}

.price-update {

  & .mat-column-products-price,
  & .mat-column-products-total {
    color: red;
    font-weight: bold;
  }
}

.no-price .mat-column-products-price {
  font-weight: bold;
}

.mat-column-products-units {
  width: 6em;
  padding-left: $padd;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mat-column-edit {
  width: 24px;
}