:host {
  display: block;
  height: 100%;
  overflow: auto;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  padding-inline: 4px;
}

.mat-column-selection {
  flex: 0 48px;
}

.mat-column-jobId {
  flex: 0 4em;
}

.mat-column-custCode {
  flex: 0 3em;
}

.mat-column-name {
  flex: 1 100px;

  &>div {
    display: flex;
    align-items: center;
    overflow: hidden;

    & span.name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & span.buttons {
      display: none;
      flex: 0 44px;

      .mat-mdc-row:hover & {
        display: initial;
      }
    }
  }
}


.mat-column-products-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .large & {
    width: 11em;
  }
}

.mat-column-products-total,
.mat-column-products-count {
  justify-content: end;
  flex: 0 5em;
}

.mat-column-products-price {
  justify-content: end;
  flex: 0 5em;

  .no-price & {
    font-weight: bold;
  }
}

.price-update {

  & .mat-column-products-price,
  & .mat-column-products-total {
    color: red;
    font-weight: bold;
  }
}


.mat-column-products-units {
  flex: 0 6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mat-column-edit {
  flex: 0 48px;
}
