<mat-table [dataSource]="jobs()" [trackBy]="trackByFn" class="app-table" appViewSize #viewSize="viewSize">
  <!-- Selection -->
  <ng-container matColumnDef="selection">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let job">
      @if (job['products.priceUpdate']) {
        <mat-checkbox (change)="selection.toggle(job)" [checked]="selection.isSelected(job)"> </mat-checkbox>
      }
    </mat-cell>
  </ng-container>

  <!-- Darba numurs -->
  <ng-container matColumnDef="jobId">
    <mat-header-cell *matHeaderCellDef>Nr</mat-header-cell>
    <mat-cell *matCellDef="let job">
      {{ job.jobId }}
    </mat-cell>
  </ng-container>

  <!-- Klienta kods -->
  <ng-container matColumnDef="custCode">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let job">
      {{ job.custCode }}
    </mat-cell>
  </ng-container>

  <!-- Darba nosaukums -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nosaukums</mat-header-cell>
    <mat-cell *matCellDef="let job">
      <div>
        <span class="name">
          {{ job.name }}
        </span>
        <span class="buttons">
          <a mat-icon-button routerLink="/jobs/repro/{{ job.jobId }}">
            <mat-icon> edit </mat-icon>
          </a>
        </span>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Preces dati -->
  <!-- Izstrādājuma nosaukums -->
  <ng-container matColumnDef="products.name">
    <mat-header-cell *matHeaderCellDef>Izstrādājums</mat-header-cell>
    <mat-cell *matCellDef="let job">
      {{ job['products.name'] }}
    </mat-cell>
  </ng-container>

  <!-- Cena -->
  <ng-container matColumnDef="products.price">
    <mat-header-cell *matHeaderCellDef>Cena</mat-header-cell>
    <mat-cell *matCellDef="let job">
      <span>
        {{ (job['products.priceUpdate'] !== undefined ? job['products.priceUpdate'] : job['products.price']) | currency }}
      </span>
    </mat-cell>
  </ng-container>

  <!-- Skaits -->
  <ng-container matColumnDef="products.count">
    <mat-header-cell *matHeaderCellDef>Skaits</mat-header-cell>
    <mat-cell *matCellDef="let job">
      {{ job['products.count'] }}
    </mat-cell>
  </ng-container>

  <!-- Mērvienības -->
  <ng-container matColumnDef="products.units">
    <mat-header-cell *matHeaderCellDef>Mērv.</mat-header-cell>
    <mat-cell *matCellDef="let job">
      {{ job['products.units'] }}
    </mat-cell>
  </ng-container>

  <!-- Summa -->
  <ng-container matColumnDef="products.total">
    <mat-header-cell *matHeaderCellDef>Summa</mat-header-cell>
    <mat-cell *matCellDef="let job">
      {{ job['products.total'] | currency }}
    </mat-cell>
  </ng-container>

  <!-- edit poga maziem ekrāniem -->
  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let job">
      <a mat-icon-button routerLink="/jobs/repro/{{ job.jobId }}">
        <mat-icon> chevron_right </mat-icon>
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="viewSize.isSmall() ? colSmall : col"></mat-header-row>
  <mat-row
    *matRowDef="let job; columns: viewSize.isSmall() ? colSmall : col"
    [class.price-update]="job['products.priceUpdate'] !== undefined"
    [class.no-price]="!job['products.price']"
  ></mat-row>
</mat-table>
