<mat-table [dataSource]="jobs$" class="app-table">
  <!-- Izvēles ķeksis -->
  <ng-container matColumnDef="selected">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        [checked]="selector.hasValue() && isAllSelected()"
        [indeterminate]="selector.hasValue() && !isAllSelected()"
        (change)="$event ? toggleAll() : null"
        [disabled]="!jobIdSet?.size"
      >
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let job">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggle(job.jobId) : undefined" [checked]="selector.isSelected(job.jobId)"> </mat-checkbox>
    </mat-cell>
  </ng-container>
  <!-- Darba numurs -->
  <ng-container matColumnDef="jobId">
    <mat-header-cell *matHeaderCellDef> Numurs </mat-header-cell>
    <mat-cell *matCellDef="let job">
      {{ job.jobId }}
    </mat-cell>
  </ng-container>
  <!-- Datums -->
  <ng-container matColumnDef="receivedDate">
    <mat-header-cell *matHeaderCellDef> Datums </mat-header-cell>
    <mat-cell *matCellDef="let job">
      {{ job.receivedDate | date: 'dd.MM.yyyy' }}
    </mat-cell>
  </ng-container>
  <!-- Klients -->
  <ng-container matColumnDef="custCode">
    <mat-header-cell *matHeaderCellDef> Kl. </mat-header-cell>
    <mat-cell *matCellDef="let job">
      {{ job.custCode }}
    </mat-cell>
  </ng-container>
  <!-- Darba nosaukums -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Darba nosaukums </mat-header-cell>
    <mat-cell *matCellDef="let job" [routerLink]="['/', 'jobs', 'repro', job.jobId]">
      {{ job.name }}
    </mat-cell>
  </ng-container>
  <!-- Prece -->
  <ng-container matColumnDef="productName">
    <mat-header-cell *matHeaderCellDef> Izstrādājums </mat-header-cell>
    <mat-cell *matCellDef="let job">
      {{ job.products?.name }}
    </mat-cell>
  </ng-container>
  <!-- Skaits -->
  <ng-container matColumnDef="count">
    <mat-header-cell *matHeaderCellDef> Skaits </mat-header-cell>
    <mat-cell *matCellDef="let job">
      {{ job.products?.count }}
    </mat-cell>
  </ng-container>
  <!-- Cena -->
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Cena </mat-header-cell>
    <mat-cell *matCellDef="let job">
      {{ job.products?.price | currency }}
    </mat-cell>
  </ng-container>
  <!-- Summa -->
  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef> Kopā </mat-header-cell>
    <mat-cell *matCellDef="let job">
      {{ job.products?.price * job.products?.count | currency }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>
      @if (isNumber(total)) {
        Kopā: {{ total | currency }}
      }
    </mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let job; columns: displayedColumns"></mat-row>
  <mat-footer-row *matFooterRowDef="['total']; sticky: true"></mat-footer-row>
</mat-table>
