<app-simple-list-container [large]="large$ | async">
    <table mat-table [dataSource]="datasource$" class="simple-form-table">

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="row.jobId"
            routerLinkActive="selected"></tr>

        <!-- Aktīvais pasūtījums -->
        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef> Aktīvs </th>
            <td mat-cell *matCellDef="let row;">
                <mat-icon *ngIf="row.active">
                    check_box
                </mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="jobId">
            <th mat-header-cell *matHeaderCellDef> Nr. </th>
            <td mat-cell *matCellDef="let row;">
                {{row.jobId}}
            </td>
        </ng-container>
        <!-- Nosaukums -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Pasūtījuma nosaukums</th>
            <td mat-cell *matCellDef="let row;"> {{row.name}} </td>
        </ng-container>
        <!-- Izveidošanas datums -->
        <ng-container matColumnDef="receivedDate">
            <th mat-header-cell *matHeaderCellDef>Pasūtījums izveidots</th>
            <td mat-cell *matCellDef="let row;">{{row.receivedDate || '' | date}}</td>
        </ng-container>
        <!-- Nodošanas datums -->
        <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef>Pasūtījums jānodod</th>
            <td mat-cell *matCellDef="let row;">{{row.dueDate || '' | date}}</td>
        </ng-container>

    </table>
</app-simple-list-container>