@for (control of fieldTree(); track $index) {
  <div class="container">
    <button matIconButton class="tertiary" type="button" (click)="delete($index); $event.stopPropagation()">
      <mat-icon> delete_outline </mat-icon>
    </button>

    <mat-form-field>
      <mat-select [formField]="control.path" [compareWith]="pathCompare">
        @for (folder of folderNames(); track $index) {
          <mat-option [value]="folder.value">
            {{ folder.name }}
          </mat-option>
        }
      </mat-select>
      <mat-error>
        @for (error of control.path().errors(); track $index) {
          <span>
            {{ error.message }}
          </span>
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        [formField]="control.customers"
        multiple
        #customerSelection
        (selectionChange)="onCustomerSelection($event)"
      >
        <mat-option value="**"> Noklusējuma </mat-option>
        @for (customer of customers(); track $index) {
          <mat-option [value]="customer.customerName" [disabled]="customerSelection.value[0] === '**'">
            {{ customer.customerName }}
          </mat-option>
        }
      </mat-select>
      <mat-error>
        @for (error of control.customers().errors(); track $index) {
          <span>
            {{ error.message }}
          </span>
        }
      </mat-error>
    </mat-form-field>
  </div>
}
