<div *ngFor="let control of form.controls; index as idx" class="container">

    <button mat-icon-button color="warn" (click)="delete(idx); $event.stopPropagation();">
        <mat-icon>
            delete_outline
        </mat-icon>
    </button>

    <mat-form-field>
        <mat-select [formControl]="control.controls.path" required [compareWith]="pathCompare">
            <mat-option *ngFor="let folder of dropFolders$ | async" [value]="folder.value">
                {{ folder.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select [formControl]="control.controls.customers" multiple #customerSelection
            (selectionChange)="onCustomerSelection($event)">
            <mat-option value="**">
                Noklusējuma
            </mat-option>
            <mat-option *ngFor="let customer of customers$ | async" [value]="customer.CustomerName"
                [disabled]="customerSelection.value[0]==='**'">
                {{ customer.CustomerName }}
            </mat-option>
        </mat-select>
    </mat-form-field>

</div>

<div *ngIf="form.hasError('duplicateDefaults')" class="mat-error">
    Var būt tikai viena noklusējuma vērtība.
</div>