.search-box {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 98;
}

.search-content {
    margin-top: 100px;
    padding: 16px 16px;
}

.search-input {
    margin: 0 16px;
    min-width: 8em;
    max-width: 16em;
    width: 100%;
    font-size: 150%;
}

.facet-input {
    position: fixed;
    top: 172px;
    right: 0px;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}