mat-drawer-container {
  height: 100%;
}

mat-drawer {
  width: 280px;
  /* margin-bottom: 56px; */
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
}

.toolbar {
  z-index: 10;
  display: flex;
  align-items: center;
  position: relative;

  .right {
    margin-left: auto;
  }

  mat-progress-bar {
    position: absolute;
    bottom: 0;
  }
}

app-search-table {
  flex: 1;
  height: 100%;
}
