<mat-drawer-container>
  <mat-drawer appDrawerButton>
    <app-facet [facet]="facet()" (filter)="onFacet($event)" />
  </mat-drawer>

  <mat-drawer-content>
    @let count = count$ | async;
    <div class="toolbar mat-elevation-z4">
      @if (busy()) {
        <mat-progress-bar mode="indeterminate" />
      }

      <app-search-input (searchStringChange)="onSearchString($event)" />

      @if (busy() === false) {
        <app-status-count class="right" [count]="count" />
      }
    </div>

    <app-search-table [search]="query()" [data]="data$ | async" />
  </mat-drawer-content>
</mat-drawer-container>
