mat-drawer-container {
  height: 100%;
}

mat-drawer {
  width: 280px;
  /* margin-bottom: 56px; */
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
}

.search-box {
  z-index: 10;
  display: flex;

  >*:last-child {
    margin-left: auto;
  }
}

app-search-table {
  flex: 1;
  height: 100%;
}
