<div class="main-content">
    <div class="search-box mat-elevation-z4">
        <form [formGroup]="searchForm">
            <mat-form-field class="search-input">
                <input matInput formControlName="q" type="search">
                <button mat-button matSuffix mat-icon-button disabled>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <div style="flex: 1 1 auto;"></div>
        <div class="count">
            <h3>{{statuss$ | async}}</h3>
        </div>

    </div>

    <div class="output">
        <div style="flex: 1;">
            <div class="table-container" [style.right.px]="(isFacet$ | async) ? 200 : 0">
                <app-search-table></app-search-table>
            </div>
        </div>
        <div class="facet-container" *ngIf="isFacet$ | async" [style.height.px]="facetHeight$ | async">
            <app-facet></app-facet>
        </div>
    </div>

</div>