.main-content {
    display: flex;
    flex-direction: column;
}

.search-box {
    flex: 0 0 100px;
    background-color: white;
}

.output {
    flex: 1;
    display: flex;
}

.table-container {
    flex: 1;
}

.facet-container {
    flex: 0 0 200px;
    position: sticky;
    height: 600px;
    top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-input {
    margin: 0 16px;
    min-width: 8em;
    max-width: 16em;
    width: 100%;
    font-size: 150%;
}
