<mat-drawer-container>
    <mat-drawer button [small]="isSmall$ | async">
        <app-facet #facetComponent [facet]="facet$ | async" (filter)="onFacet($event)"></app-facet>
    </mat-drawer>

    <mat-drawer-content>
        <div>
            <app-search-input [count]="count$ | async" (searchString)="facetComponent.deselect(); onSearch($event);">
            </app-search-input>
        </div>

        <div class="main">
            <app-search-table></app-search-table>
        </div>
    </mat-drawer-content>
</mat-drawer-container>