<div *ngIf="user$ | async as user;">

    <mat-card class="container">

        <mat-card-header>

            <div mat-card-avatar class="avatar"> </div>

            <mat-card-title>
                {{ userForm.value.name }}&nbsp;
            </mat-card-title>

            <mat-card-subtitle>
                {{ user.username }}
            </mat-card-subtitle>

        </mat-card-header>

        <mat-card-content [formGroup]="userForm">

            <section>

                <mat-form-field class="name">
                    <mat-label>
                        Pilns vārds
                    </mat-label>
                    <input appInputTrim matInput formControlName="name">
                </mat-form-field>

            </section>

            <section>

                <mat-form-field class="name">
                    <mat-label>
                        e-pasts
                    </mat-label>
                    <input type="email" appInputTrim matInput formControlName="eMail">
                </mat-form-field>

            </section>

        </mat-card-content>

        <mat-divider inset></mat-divider>

        <mat-card-actions>
            <button mat-button (click)="onSave(userForm.value)"
                [disabled]="!userForm.valid || !isChanged || userForm.disabled" color="primary">
                SAGLABĀT
            </button>
            <button mat-button (click)="onSetInitial()"
                [disabled]="userForm.pristine || userForm.disabled || !isChanged">
                ATIESTATĪT
            </button>
            <button mat-button appPasswordInput (appPasswordChange)="onPasswordChange($event)"
                [passwordMinimumLength]="5">
                MAINĪT PAROLI
            </button>
        </mat-card-actions>

    </mat-card>

    <mat-card class="container">

        <mat-card-title-group>
            <mat-card-title> Google savienojums </mat-card-title>

            <mat-card-subtitle> {{ user.google?.id }} </mat-card-subtitle>

            <img *ngIf="user.google as googleInfo;" mat-card-sm-image [src]="googleInfo.picture">

        </mat-card-title-group>

        <mat-card-content>

            <app-google-info *ngIf="user.google as googleInfo;" [googleInfo]="googleInfo"
                (valueClicked)="onGoogleValueClicked($event)">
            </app-google-info>

        </mat-card-content>


        <mat-divider inset></mat-divider>

        <mat-card-actions>

            <a mat-button href="/data/login/google?redirect=/{{returnPath}}">
                SAVIENOT
            </a>

            <button mat-button (click)="onDeleteGoogle()" [disabled]="!user.google">
                ATVIENOT
            </button>

        </mat-card-actions>


    </mat-card>

</div>