.mat-mdc-card.container {
    max-width: 480px;
    margin: 16px;
}

section.container {
    margin: 16px;
}

mat-form-field.name {
    min-width: 250px;
}

section.buttons {
    display: flex;
    gap: 16px;
}

.avatar {
    background-size: cover;
    background-image: url("/data/login/avatar")
}