section {
    padding: 16px;
}

.file-selection {
    display: flex;
    align-items: baseline;
    & .mat-form-field {
        flex: 1 0 160px;
        margin-right: 16px;
    }
    & > div {
        flex: 3 1 auto;
    }
}

.button-bar {
    padding: 16px;
}

.button-bar > *:not(:first-child) {
    margin-left: 16px;
}
