<section class="file-selection">
    <mat-form-field>
        <mat-label>Pasūtījums</mat-label>
        <mat-select [formControl]="orderIdControl">
            <mat-option *ngFor="let ordr of orders$ | async" [value]="ordr.jobId">
                {{ordr.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <app-select-file (csvFile)="onCsvDrop($event)" (xlsFile)="onXlsDrop($event)"></app-select-file>
    </div>
</section>
<section *ngIf="colors$ | async as colors;">
    <p>
        <app-totals [colorTotals]="plannedTotals$ | async" [colors]="colors">
            Plānotie apjomi (paciņas):
        </app-totals>
    </p>
    <ng-container *ngIf="adresesBox$ | async as adresesBox">
        <p>
            <app-totals [colorTotals]="adresesBox.totals.colorTotals" [colors]="colors">
                Apjomi sarakstā (paciņas):
            </app-totals>
        </p>
        <p>
            Adreses: {{adresesBox.totals.adrCount}} |
            Kastes: {{adresesBox.totals.boxCount}}
        </p>
        <p>
            <button mat-raised-button color="primary" (click)="onSave(adresesBox)">
                SAGLABĀT
            </button>
        </p>
    </ng-container>
</section>

<app-upload-adreses *ngIf="inputData$ | async as inputData;" [data]="inputData" (adresesBox)="onAdresesBox($event)">
</app-upload-adreses>