.drope {
    padding: 16px;
}

.drope > div {
    border: solid 2px rgba(0, 0, 0, 0.5);
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: center;
}

.text-block {
    text-align: center;
}

.input-text {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    padding: 8px;
}

.button-bar {
    padding: 16px;
}

.button-bar button~button {
    margin-left: 16px;
}