<!-- Faila nomešana -->
<section class="file-selection">

    <mat-form-field>
        <mat-label>Pasūtījums</mat-label>
        <mat-select [formControl]="orderIdControl">
            <mat-option *ngFor="let ordr of orders$ | async" [value]="ordr.jobId">
                {{ordr.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-card (appKastesTabulaDrop)="onXlsDrop($event)" #fileDrop="appKastesTabulaDrop">
        <mat-card-content>
            {{ fileDrop.status }}
        </mat-card-content>
    </mat-card>

</section>

<!-- Kopējie daudzumi -->
<section *ngIf="colors$ | async as colors;" class="totals">
    <p>
        <app-color-totals [colorTotals]="plannedTotals$ | async">
            Plānotie apjomi (paciņas):
        </app-color-totals>
    </p>
    <p>
        <app-color-totals [colorTotals]="adresesBox?.totals.colorTotals">
            Apjomi sarakstā (paciņas):
        </app-color-totals>
    </p>
    <p>
        Adreses: {{adresesBox?.totals.adrCount}} |
        Kastes: {{adresesBox?.totals.boxCount}}
    </p>
</section>

<!-- Pogas -->
<section class="button-bar">
    <button mat-raised-button color="primary" (click)="onSave(adresesBox)"
        [disabled]="!orderIdControl.valid || !adresesBox">
        SAGLABĀT
    </button>
    <ng-template *ngFor="let bt of tabula.buttons" [cdkPortalOutlet]="bt"></ng-template>
</section>

<!-- Tabula -->
<section class="adreses" scroll-to-top>
    <app-upload-adreses #tabula [data]="inputData$ | async" (adresesBox)="adresesBox = $event">
    </app-upload-adreses>
</section>