:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    margin: 8px 16px;
}

section.file-selection {
    flex: 0 0;
    display: flex;

    mat-form-field {
        margin-right: 16px;
    }

    >mat-card {
        flex: 1 1 auto;
        height: 72px;
        justify-content: center;
        align-items: center;

        &.app-file-drop {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }


}

section.totals {
    display: flex;
    gap: 8px;

    & p {
        margin: 8px 0;
    }
}