:host {
  display: block;
}

mat-table {
  height: 100%;
  overflow: auto;
}

.mat-column-info {
  flex: 2;
}

.mat-column-metadata {
  flex: 3;
}

.record-row .mat-mdc-cell {
  cursor: pointer;
  border-bottom-width: 0;
}

mat-table mat-row.detail-row {

  min-height: 0;

  .record-detail-wrapper {
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    transition: grid-template-rows 300ms cubic-bezier(0.4, 0, 0.2, 1);

    @starting-style {
      grid-template-rows: 0fr;
    }

    .record-detail-content {
      min-height: 0;
    }

    &.record-detail-leave {
      grid-template-rows: 0fr;
    }
  }


}