:host {
  display: block;
}

mat-table {
  height: 100%;
  overflow: auto;
}

.record-row {
  cursor: pointer;
}

.mat-mdc-cell {
  padding: 0 8px;
}

.mat-column-level,
.mat-column-timestamp {
  flex: 1;
}


.mat-column-info {
  flex: 2;
}

.mat-column-metadata {
  flex: 3;
}

.mat-column-info {
  padding: 0 8px;
}

.detail-row {
  min-height: 0;

  .mat-mdc-cell {
    min-height: 0;
  }
}

.record-row .mat-mdc-cell {
  border-bottom-width: 0;
}

.record-detail {
  overflow: hidden;
}

.json-display {
  padding-bottom: 8px;
}
