:host {
    display: block;
}

.record-row {
    cursor: pointer;
}

.mat-mdc-cell {
    padding: 0 8px;
}

.mat-column-level {
    flex: 0 0 100px;
}

.mat-column-timestamp {
    flex: 0 0 160px;
}

.mat-column-info {
    padding: 0 8px;
}

.detail-row {
    min-height: 0;

    .mat-mdc-cell {
        min-height: 0;
    }
}

.record-row .mat-mdc-cell {
    border-bottom-width: 0;
}

.record-row:not(.expanded-row):hover {
    background-color: whitesmoke;
}

.record-detail {
    overflow: hidden;
}

.json-display {
    padding-bottom: 8px;
}