<button mat-fab color="primary" class="plus-button mat-elevation-z8" (click)="onNewJob()">
    <mat-icon>
        add
    </mat-icon>
</button>

<mat-drawer-container>
    <mat-drawer button [small]="(large$ | async) === false">
        <app-side-panel [fileUploadProgress]="progress$ | async" (file)="onFileDrop($event)" [jobs]="jobs$ | async">
        </app-side-panel>
    </mat-drawer>

    <mat-drawer-content>

        <app-job-filter (jobFilter)="onJobFilter($event)"></app-job-filter>

        <app-job-list [jobs]="jobs$ | async" (statusUpdate)="onSetJobStatus($event)"></app-job-list>

    </mat-drawer-content>
</mat-drawer-container>