<button mat-fab color="primary" class="plus-button mat-elevation-z8" (click)="onNewJob()">
    <mat-icon>
        add
    </mat-icon>
</button>

<mat-drawer-container>
    <mat-drawer button [small]="(large$ | async) === false">

        <mat-card appFileDrop (filesEmitter)="onFileDrop($event)">
            <mat-card-header>Nomest jauna darba failus</mat-card-header>
        </mat-card>

        <div>
            <app-upload-progress *ngIf="progress$" [progress]="progress$ | async"></app-upload-progress>
        </div>

        <div>
            <app-products-summary [jobs]="jobs$ | async"></app-products-summary>
        </div>

    </mat-drawer>

    <mat-drawer-content>

        <app-job-filter (jobFilter)="onJobFilter($event)"></app-job-filter>

        <app-job-list [jobs]="jobs$ | async" (statusUpdate)="onSetJobStatus($event)"></app-job-list>

    </mat-drawer-content>
</mat-drawer-container>