<mat-drawer-container>
    <mat-drawer button [small]="(large$ | async) === false">

        <mat-card appFileDrop (filesEmitter)="onFileDrop($event)">
            <mat-card-header>Nomest jauna darba failus</mat-card-header>
        </mat-card>

        <app-upload-progress *ngIf="progress$" [progress]="progress$ | async"></app-upload-progress>

        <app-products-summary [jobs]="jobs$ | async" (productHover)="highlited = $event">
        </app-products-summary>

    </mat-drawer>

    <mat-drawer-content>

        <app-job-filter (jobFilter)="onJobFilter($event)"></app-job-filter>

        <router-outlet></router-outlet>

    </mat-drawer-content>
</mat-drawer-container>