.mat-drawer-container {
    height: 100%;
}

.mat-drawer-content {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.mat-drawer {
    width: 240px;
}

.plus-button {
    z-index: 99;
    position: absolute;
    bottom: 20px;
    left: 40px;
}
