mat-drawer-container {
    height: 100%;
}

mat-drawer-content {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

mat-drawer {
    width: 240px;
}

mat-card {
    margin: 16px;
    min-height: 160px;
}

mat-card.app-file-drop {
    background-color: rgba(0, 0, 0, 0.3);
}