<app-simple-content-container>
  <mat-card>
    <form
      (submit)="$event.preventDefault(); onSave()"
      (reset)="$event.preventDefault(); onReset()"
      class="app-disabled-view"
    >
      <mat-card-content>
        <section>
          <mat-form-field class="full-width">
            <mat-label> Nosaukums </mat-label>
            <input matInput [formField]="vehicleForm.name" />
            <mat-error>
              @for (err of vehicleForm.name().errors(); track $index) {
                <span>
                  {{ err.message }}
                </span>
              }
            </mat-error>
            <mat-hint>
              @if (vehicleForm.name().pending()) {
                @defer (on timer(300ms)) {
                  Nosaukums tiek pārbaudīts
                }
              }
            </mat-hint>
          </mat-form-field>
        </section>

        <section id="licence-plate" class="full-width">
          <mat-form-field class="full-width">
            <mat-label> Numurs </mat-label>
            <input appInputUppercase matInput [formField]="vehicleForm.licencePlate" />
            <mat-error>
              @for (err of vehicleForm.licencePlate().errors(); track $index) {
                <span>
                  {{ err.message }}
                </span>
              }
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label> Apliecības numurs </mat-label>
            <input appInputUppercase matInput [formField]="vehicleForm.passportNumber" />
            <mat-error>
              @for (err of vehicleForm.passportNumber().errors(); track $index) {
                <span>
                  {{ err.message }}
                </span>
              }
            </mat-error>
          </mat-form-field>
        </section>

        <section id="vin">
          <mat-form-field class="full-width">
            <mat-label> VIN </mat-label>
            <input appInputUppercase matInput [formField]="vehicleForm.vin" />
            <mat-error>
              @for (err of vehicleForm.vin().errors(); track $index) {
                <span>
                  {{ err.message }}
                </span>
              }
            </mat-error>
          </mat-form-field>
        </section>

        <section id="consumption">
          <mat-form-field class="full-width">
            <mat-label> Degvielas veids </mat-label>
            <mat-select [formField]="vehicleForm.fuelType" [compareWith]="fuelCompareWith">
              @for (fuel of fuelTypes(); track $index) {
                <mat-option [value]="fuel"> {{ fuel.description }} </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label> Patēriņš </mat-label>
            <input matInput type="number" step="any" [formField]="vehicleForm.consumption" />
            <ng-container matTextSuffix>
              @if (vehicleForm.fuelType().value().units; as units) {
                <span> {{ units }}/100km </span>
              }
            </ng-container>
          </mat-form-field>
        </section>

        <section>
          <mat-checkbox [formField]="vehicleForm.disabled"> Neaktīvs </mat-checkbox>
        </section>

        <mat-divider />
      </mat-card-content>
      <mat-card-actions>
        @if (editActive()) {
          <button
            matButton="outlined"
            type="submit"
            [disabled]="vehicleForm().valid() === false || vehicleForm().pending() === true || busy()"
          >
            Saglabāt
          </button>
          @if (isNew() === false) {
            <button matButton="outlined" type="reset" [disabled]="busy()">Atcelt</button>
          }
        } @else {
          <button matButton="outlined" type="button" (click)="editActive.set(true)">Labot</button>
          @if (isNew() === false) {
            <button matButton type="button" (click)="onDelete()" class="tertiary" [disabled]="busy()">Dzēst!</button>
          }
        }
      </mat-card-actions>
    </form>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Odometra rādījumi</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-odometer-readings
        #odometerReadingsComponent
        [odometerReadings]="odometerReadings()"
        (odometerReadingsChange)="onOdometerUpdate($event)"
        [disabled]="editActive() || busy()"
      ></app-odometer-readings>
    </mat-card-content>
    <mat-card-actions>
      <button matButton [disabled]="editActive() || busy()" (click)="odometerReadingsComponent.onAdd()">
        Pievienot
      </button>
    </mat-card-actions>
  </mat-card>
</app-simple-content-container>
