<app-simple-form-container buttons [status]="formStatus()" [isChanges]="changes()" (save)="onSave()" (reset)="onReset()"
    [formGroup]="form">

    <h2>
        <mat-form-field class="full-width">
            <mat-label> Nosaukums </mat-label>
            <input matInput required formControlName="name">
            @if (form.controls.name.hasError('occupied')) {
            <mat-error>
                Iekārta ar šādu nosaukumu ir jau saglabāta
            </mat-error>
            }
        </mat-form-field>
    </h2>


    <mat-card>

        <mat-card-content>
            <div>
                <mat-form-field class="full-width">
                    <mat-label> Apraksts </mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>

    </mat-card>

</app-simple-form-container>