<form [formRoot]="form" (reset)="$event.preventDefault(); onReset()">
  <app-simple-content-container buttons>
    <ng-container appSimpleContentContainerToolbar>
      <button
        matButton="outlined"
        type="submit"
        [disabled]="form().disabled() || form().valid() === false || form().dirty() === false"
        [showProgress]="form().submitting()"
      >
        {{ isNew() ? 'Izveidot' : 'Saglabāt' }}
        <app-pending-suffix progressIndicator />
      </button>
      <button
        matButton
        class="tertiary"
        type="reset"
        [disabled]="form().disabled() || form().dirty() === false || form().pending() === true"
      >
        Atiestatīt
      </button>
    </ng-container>
    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Pamatinformācija </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- nosaukums -->
          <section>
            <mat-form-field class="full-width">
              <mat-label> Nosaukums </mat-label>
              <input matInput [formField]="form.name" />
              <mat-error>
                @for (error of form.name().errors(); track $index) {
                  {{ error.message }}
                }
              </mat-error>
              <app-pending-suffix matIconSuffix [pending]="form.name().pending()" />
            </mat-form-field>
          </section>

          <!-- Neaktīvs -->
          <section>
            <mat-checkbox class="input-element" [formField]="form.disabled"> Neaktīvs </mat-checkbox>
          </section>

          <!-- apraksts -->
          <section>
            <mat-form-field class="full-width">
              <mat-label> Apraksts </mat-label>
              <textarea matInput [formField]="form.description"></textarea>
            </mat-form-field>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </app-simple-content-container>
</form>
