@use "@angular/material" as mat;

$zmg-app-primary: mat.define-palette(mat.$teal-palette, 900);
$zmg-app-accent: mat.define-palette(mat.$amber-palette);

// The warn palette is optional (defaults to red).
$zmg-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$theme: mat.define-light-theme(
  (
    color: (
      primary: $zmg-app-primary,
      accent: $zmg-app-accent,
      warn: $zmg-app-warn,
    ),
  )
);
