<app-simple-form-container>

    <form appSimpleForm [formGroup]="form">
        <!-- Nosaukums labojams -->
        <h2 *ngIf="!form.controls._id.value; else existingProduct">
            <mat-form-field>
                <mat-label>Nosaukums</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="form.controls.name.hasError('required')">
                    Jānorāda obligāti
                </mat-error>
                <mat-error *ngIf="form.controls.name.hasError('occupied')">
                    Nosaukums {{form.controls.name.getError('occupied')}} jau aizņemts!
                </mat-error>
            </mat-form-field>
        </h2>
        <!-- Nosaukums nelabojams -->
        <ng-template #existingProduct>
            <h2>
                {{form.controls.name.value}}
            </h2>
        </ng-template>
        <!-- Kategorija -->
        <section>
            <mat-form-field>
                <mat-label>Kategorija</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let category of categories$ | async" [value]="category.category">
                        {{category.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        <!-- Neaktīvs -->
        <section>
            <mat-checkbox formControlName="inactive">
                Neaktīvs
            </mat-checkbox>
        </section>
        <!-- Apraksts -->
        <section>
            <mat-form-field>
                <mat-label>Apraksts</mat-label>
                <textarea matInput matAutosize formControlName="description"></textarea>
            </mat-form-field>
        </section>
        <!-- Cenu tabula -->
        <section>
            <app-product-prices formGroupName="prices" [customers]="customers$ | async" (addPrice)="onAddPrice(form.controls.prices)"
                (removePrice)="onDeletePrice(form.controls.prices, $event)">
            </app-product-prices>
        </section>
    </form>

</app-simple-form-container>