.container {
    height: 100%;
}

.container.large {
    display: flex;
}

.selector {
    flex: 0 0 240px;
    overflow-x: hidden;
    overflow-y: auto;
}

.content {
    flex: 1;
    overflow-y: auto;
}

.large .content {
    margin: 48px;
}

.full-width {
    width: 100%;
}

.search-box {
    margin: 0 16px;
}

.small {
    padding: 0 16px;
}

.small .mat-form-field {
    width: 100%;
}

