.container {
    height: 100%;

    &.large {
        display: flex;
    }
}

.selector {
    flex: 0 0 240px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content {
    overflow-y: auto;
}

.large .content {
    margin: 48px;
    flex: 1;
}

.mat-nav-list {
    overflow-y: auto;
}

.search-box {
    margin: 0 16px;
}

.small {
    padding: 0 16px;
}

.small .mat-form-field {
    width: 100%;
}

button.mat-fab {
    position: absolute;
    bottom: 15px;
    right: 20px;
}
