<mat-toolbar>
    <section class="customer">
        <app-customer-selector [customers]="customers$ | async" (customerChanges)="onCustomerSelect($event)"
            [customer]="initialCustomer$ | async"></app-customer-selector>
    </section>
    <section>
        <button mat-raised-button [matBadge]="selectedCount$ | async" [matBadgeHidden]="(saveEnabled$ | async) === false"
            (click)="onSavePrices()" [disabled]="(saveEnabled$ | async) === false">
            SAGLABĀT
        </button>
    </section>
</mat-toolbar>

<div class="table">
    <router-outlet></router-outlet>
</div>