<mat-card>
  <mat-card-content>
    <app-customer-selector
      [customers]="customers()"
      (customerChange)="onCustomerSelected($event)"
      [customer]="customerWithDefault()"
    />

    <button
      matButton="elevated"
      [matBadge]="jobUpdate().length"
      [matBadgeHidden]="saveEnabled() === false"
      (click)="onSavePrices()"
      [disabled]="saveEnabled() === false"
    >
      SAGLABĀT
    </button>
  </mat-card-content>
</mat-card>

<app-job-prices-table class="table-container" [jobs]="jobs()" (jobChange)="onJobsSelected($event)" />
