<div class="table-container">
    <cdk-virtual-scroll-viewport itemSize="137" class="scroll-container" templateCacheSize="0">
        <div *cdkVirtualFor="let dataItem of data; let lastItem = last; let idx=index;" class="item">
            <div *ngIf="dataItem; else waiting;">
                <div [style.fontWeight]="dataItem.exactMatch ? 'bold' : undefined " class="jobId">
                    {{dataItem.JDFJobID}}
                </div>
                <div *ngIf="search.length >= 3; else nameElse">
                    <app-tagged-string [text]="dataItem.DescriptiveName" [search]="search"></app-tagged-string>
                </div>
                <ng-template #nameElse>
                    {{dataItem.DescriptiveName}}
                </ng-template>
                <div class="search-table">
                    <div *ngFor="let row of dataItem.Archives">
                        <div class="table-element table-location" [appCopyClipboard]="row.Location"
                            (copied)="onCopied($event)">
                            {{row.Location}}
                        </div>
                        <div style="display: flex;">
                            <div style="flex: 0 1 8ch;" class="table-element">{{actions[row.Action]}}</div>
                            <div style="flex: 1 1 170px;" class="table-element">{{row.Date}}</div>
                            <div style="flex: 5 1 170px;" class="table-element">{{dataItem.CustomerName}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #waiting>
                <div class="empty-item">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
            <mat-divider *ngIf="!lastItem"></mat-divider>
        </div>
    </cdk-virtual-scroll-viewport>
</div>
<button mat-fab (click)="scrollToTop()" class="scroll-to-top" [class.show-scroll]="showScroll">
    <mat-icon>arrow_upward</mat-icon>
</button>