.scroll-container {
  height: 100%;
  overflow: auto;
}

.item {
  min-height: 137px;
  margin-block: 16px;
  padding-inline: 8px;
}


.empty-item {
  height: 137px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
