<app-simple-form-container buttons [status]="formStatus()" [isChanges]="changes()" (save)="onSave()" (reset)="onReset()"
    [formGroup]="form">

    <!-- Lietotājvārds -->
    <h2 *ngIf="isNew; else existing">
        <mat-form-field>
            <mat-label> Lietotājvārds </mat-label>
            <input formControlName="username" matInput autocomplete="off" required>
            <mat-error *ngIf="unameCtrl.hasError('minlength') && !unameCtrl.hasError('symbol')">
                Jābūt vismaz {{unameCtrl.errors.minlength.requiredLength}} simboliem
            </mat-error>
            <mat-error *ngIf="unameCtrl.hasError('symbol')">
                {{unameCtrl.errors.symbol}}
            </mat-error>
            <mat-error *ngIf="unameCtrl.hasError('existing')">
                {{unameCtrl.errors.existing}}
            </mat-error>
        </mat-form-field>
    </h2>

    <ng-template #existing>
        <h2>
            {{unameCtrl.value}}
        </h2>
    </ng-template>

    <!-- Pilns vārds -->
    <mat-card>

        <mat-card-content>
            <mat-form-field>
                <mat-label> Pilns vārds </mat-label>
                <input formControlName="name" matInput autocomplete="off">
            </mat-form-field>
        </mat-card-content>

    </mat-card>

    <!-- Parole jaunam lietotājam -->
    <mat-card *ngIf="isNew; else changePassword;">
        <mat-card-header>
            <mat-card-title>
                Parole
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-password-input-group formControlName="password"></app-password-input-group>
        </mat-card-content>
    </mat-card>

    <!-- Paroles maiņa -->
    <ng-template #changePassword>
        <mat-card>
            <mat-card-content>
                <button mat-raised-button appPasswordInput [passwordMinimumLength]="6"
                    (appPasswordChange)="onPasswordChange($event, unameCtrl.value)" color="primary">
                    MAINĪT PAROLI
                </button>
            </mat-card-content>
        </mat-card>
    </ng-template>

    <!-- Iestatījumi -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Lietotāja iestatījumi
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <!-- Neaktīvs -->
            <section>
                <mat-checkbox formControlName="userDisabled">Neaktīvs</mat-checkbox>
            </section>

            <!-- e-pasts -->
            <section>
                <mat-form-field>
                    <input matInput formControlName="eMail" type="email">
                    <mat-label>
                        e-pasts
                    </mat-label>
                </mat-form-field>
            </section>

            <div formGroupName="preferences">
                <!-- Pieejamie moduļi -->
                <section>
                    <mat-form-field>
                        <mat-label>Pieejamie moduļi</mat-label>
                        <mat-select formControlName="modules" multiple>
                            <mat-option *ngFor="let mod of userModules" [value]="mod.route">
                                {{mod.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>

                <!-- Piiejamie klienti -->
                <section>
                    <mat-form-field>
                        <mat-label>Pieejamie XMF klienti</mat-label>
                        <mat-select formControlName="customers" multiple>
                            <mat-option *ngFor="let customer of (customers$ | async)" [value]="customer.value">
                                {{customer.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>
            </div>

        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="sessions() as sess;">

        <mat-card-header>
            <mat-card-title>
                Aktīvās sesijas
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <app-sessions [sessions]="sess" [currentSession]="currentSessionId$ | async"
                (deleteSession)="onDeleteSessions($event)"></app-sessions>
        </mat-card-content>

    </mat-card>


</app-simple-form-container>