<app-simple-form-container (dataChange)="onDataChange($event)" [formGroup]="form">

    <!-- Lietotājvārds -->
    <h2 *ngIf="isNew; else existing">
        <mat-form-field>
            <input formControlName="username" matInput placeholder="Lietotājvārds" autocomplete="off" required>
            <mat-error *ngIf="username.hasError('minlength') && !username.hasError('symbol')">
                Jābūt vismaz {{username.errors.minlength.requiredLength}} simboliem
            </mat-error>
            <mat-error *ngIf="username.hasError('symbol')">
                {{username.errors.symbol}}
            </mat-error>
            <mat-error *ngIf="username.hasError('existing')">
                {{username.errors.existing}}
            </mat-error>
        </mat-form-field>
    </h2>

    <ng-template #existing>
        <h2>
            {{username.value}}
        </h2>
    </ng-template>

    <mat-accordion [multi]="true">

        <mat-form-field>
            <input formControlName="name" matInput placeholder="Pilns vārds" autocomplete="off">
        </mat-form-field>

        <mat-expansion-panel hideToggle [expanded]="true">
            <!-- Parole jaunam lietotājam -->
            <section *ngIf="isNew; else changePassword;">
                <h4>
                    Parole
                </h4>
                <app-password-input formControlName="password"></app-password-input>
            </section>
            <!-- Paroles maiņa -->
            <ng-template #changePassword>
                <section>
                    <button mat-raised-button appPasswordInput
                        (appPasswordChange)="onPasswordChange($event, username.value)" color="primary">
                        MAINĪT PAROLI
                    </button>
                </section>
            </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle [expanded]="true">
            <!-- Neaktīvs -->
            <section>
                <mat-checkbox formControlName="userDisabled">Neaktīvs</mat-checkbox>
            </section>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Lietotāja iestatījumi
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div formGroupName="preferences">

                <mat-form-field>
                    <input matInput formControlName="eMail" type="email">
                    <mat-label>
                        google e-pats
                    </mat-label>
                </mat-form-field>

                <!-- Pieejamie moduļi -->
                <section>
                    <mat-form-field>
                        <mat-label>Pieejamie moduļi</mat-label>
                        <mat-select formControlName="modules" multiple>
                            <mat-option *ngFor="let mod of userModules" [value]="mod.route">
                                {{mod.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>

                <!-- Piiejamie klienti -->
                <section>
                    <mat-form-field>
                        <mat-label>Pieejamie XMF klienti</mat-label>
                        <mat-select formControlName="customers" multiple>
                            <mat-option *ngFor="let customer of (customers$ | async)" [value]="customer.value">
                                {{customer.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="sessions !== null" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Aktīvās sesijas
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-sessions [sessions]="sessions" [currentSession]="currentSessionId$ | async"
                (deleteSession)="onDeleteSessions($event)"></app-sessions>

        </mat-expansion-panel>

    </mat-accordion>


</app-simple-form-container>