table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: separate;
}

tr {
  height: 41px;
}

td,
th {
  display: table-cell;
  padding: 0 8px;
  font-size: 14px;
  border-bottom-color: var(--sys-outline-variant);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: left;

  &:first-of-type {
    padding-left: 8px;
  }

  &.buttons {
    width: 32px;
  }

  &.price {
    width: 80px;

    input {
      width: 80px;
    }
  }
}

td .mat-form-field {
  width: 100%;
}

.error {
  color: var(--sys-error);
  font: var(--sys-label-small);
}
