<table [formGroup]="pricesGroup">
    <thead>
        <th class="buttons"> </th>
        <th class="customer-name"> Klients </th>
        <th class="price"> Cena </th>
    </thead>

    <tbody formGroupName="prices">
        <tr *ngFor="let control of pricesForm.controls; index as idx;" [formArrayName]="idx">
            <!-- Pogas -->
            <td class="buttons">
                <button mat-icon-button (click)="removePrice.emit(idx)" matTooltip="Dzēst">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
            <!-- Klients ar labošanu -->
            <td class="customer-name">
                <mat-form-field>
                    <mat-select formControlName="customerName">
                        <mat-option *ngFor="let customer of customers" [value]="customer.CustomerName"
                            [disabled]="customer.disabled">
                            {{customer.CustomerName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <!-- Cena labojama -->
            <td class="price">
                <mat-form-field>
                    <input matInput formControlName="price" type="number">
                </mat-form-field>
            </td>
        </tr>
    </tbody>

    <tfoot>
        <td>
            <button mat-icon-button (click)="addPrice.emit()" matTooltip="Pievienot cenu"
                [disabled]="!pricesForm.valid">
                <mat-icon>add</mat-icon>
            </button>
        </td>
        <td colspan="2">
            <span *ngIf="pricesForm.hasError('duplicates')" class="error">
                Atkārtoti norādīts klients {{pricesForm.getError('duplicates')}}
            </span>
        </td>
    </tfoot>
</table>