<mat-table [dataSource]="fieldTree().value()" class="app-table" fixedLayout>
  <mat-row *matRowDef="let price; columns: displayedColumns; index as idx" (click)="onEditPrice(idx)"></mat-row>

  <ng-container matColumnDef="actions">
    <mat-cell *matCellDef="let price; index as idx">
      <button matIconButton type="button" class="warn" (click)="onDeletePrice(idx); $event.stopPropagation()">
        <mat-icon> delete_outline </mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="min">
    <mat-cell *matCellDef="let price; index as idx">
      No&nbsp;
      <span [class.error]="isDuplicate(fieldTree[idx].min().errors())">
        {{ price.min }} </span
      >&nbsp;
      {{ units() }}
      {{ fieldTree[idx]().errors() }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-cell *matCellDef="let price">
      {{ price.price | currency }}
      @if (units()) {
        <span> /{{ units() }} </span>
      }
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-cell *matCellDef="let price">
      {{ price.description }}
    </mat-cell>
  </ng-container>
</mat-table>
