:host {
    display: block;
    overflow: auto;
    height: 100%;
}

table {
    width: 100%;
}

.mat-column-count,
.mat-column-price,
.mat-column-total,
.right-align {
    text-align: right;
}

.mat-column-name {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
