<ng-container *ngIf="path.length > 0; else create;">

    <p class="path">

        <span>
            <mat-icon>
                folder_open
            </mat-icon>
        </span>

        <span>
            {{ path }}
        </span>

    </p>

    <p>
        <mat-checkbox [formControl]="updateJobFolderPathControl">
            Pārvietot folderi
        </mat-checkbox>
    </p>

</ng-container>

<ng-template #create>
    <button mat-raised-button (click)="createFolder.next()">
        IZVEIDOT FOLDERI
    </button>
</ng-template>