table {
    width: 100%;
}

div.container {
    overflow: auto;
    height: 100%;
}

.mat-toolbar {
    position: sticky;
    top: 0px;
    z-index: 100;
    & div.search {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

.mat-row {
    cursor: pointer;
}

button.mat-fab {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.mat-column-inactive {
    width: 64px;
}
